Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

test: drop the migration-level gate now that CI has no legacy JSON-RPC lanes
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: link the removal TODO to WAL-1264
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: apply review renames and doc clarifications
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/epoch_change/attestation.rs
  crates/walrus-service/src/node/epoch_change/completion.rs
  crates/walrus-service/src/node/epoch_change/goal.rs
  crates/walrus-service/src/node/epoch_change/plan.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style: wrap comment lines that exceeded the 100-column limit after renames
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change/completion.rs
  crates/walrus-service/src/node/epoch_change/goal.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: run the client end-to-end against a Sui fullnode with JSON-RPC disabled (#3564)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: serialize shard-sync reconciliation with the epoch-change critical section
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): stop relying on Sui JSON-RPC (#3601)
  .github/workflows/code.yml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
  scripts/create_multisig_subsidy_tx.sh
Due: none

ci: trivial touch to trigger the simtest job
  crates/walrus-simtest/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: TEMP diagnostic logging for repeated_node_crash existence flake (do not merge)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: builder-feedback batch — browser guide, Sites production, ecosystem, crosslinks
  docs/content/examples/awesome-walrus.mdx
  docs/content/examples/browser-and-mobile.mdx
  docs/content/sites/production.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
Due: none

ci: TEMP round-2 diagnostics: shard sync lifecycle breadcrumbs (do not merge)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: legal-page navigation banners and Ask AI entry-point placement
  docs/content/getting-started/index.mdx
  docs/content/legal/privacy.mdx
  docs/content/legal/testnet_tos.mdx
  docs/content/legal/walrus_general_tos.mdx
  docs/content/troubleshooting/index.mdx
  docs/site/src/css/custom.css
  docs/site/src/shared/components/AskAiCta/index.tsx
  docs/site/src/theme/Navbar/Content/index.js
Due: none

ci: TEMP round-3 diagnostics: sampled-blob certification info and blob-sync starts (do not merge)
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: TEMP round-4 diagnostics: authoritative check on bloom miss + tail pends (do not merge)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: TEMP round-5 diagnostics: event stream order and transfer contents (do not merge)
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): sync sui-rust-sdk and mysten-sim revs with Sui 1.77.1
  Cargo.lock
  Cargo.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: bound shard syncs by the node's event epoch, not the on-chain epoch
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add TODO(WAL-1269) to terminate the node when a sync service loop exits
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not authorize recovery completion for a node dropped from the committee
  crates/walrus-service/src/node/epoch_change.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: rename mono font token to Google Sans Mono
  docs/site/src/css/custom.css
Due: none

docs: refine changelog badge, marker, and timeline styling
  docs/site/src/pages/changelog.js
  docs/site/src/pages/changelog.module.css
Due: none

fix(docs): keep unpublished Memory contributing pages out of llms.txt
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/static/llms-full.txt
  docs/site/static/llms.txt
  docs/site/static/walrus-memory/llms-full.txt
  docs/site/static/walrus-memory/llms.txt
Due: none

docs(sites): correct CI redeploy semantics and deploy command on production page
  docs/content/sites/production.mdx
Due: none

docs: baseUrl-safe legal-page gate and meta descriptions for legal pages
  docs/content/legal/privacy.mdx
  docs/content/legal/testnet_tos.mdx
  docs/content/legal/walrus_general_tos.mdx
  docs/site/src/theme/Navbar/Content/index.js
Due: none

fix: keep unpublished Memory contributing pages out of llms.txt (#3616)
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/static/llms-full.txt
  docs/site/static/llms.txt
  docs/site/static/walrus-memory/llms-full.txt
  docs/site/static/walrus-memory/llms.txt
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@248a771fbc6a10abcc6839883a11d0f0594d79ea 🚀
  llms-full.txt
  llms.txt
  markdown/walrus-memory/contributing/docs-workflow.md
  markdown/walrus-memory/contributing/run-docs-locally.md
  markdown/walrus-memory/contributing/run-repo-locally.md
  walrus-memory/llms-full.txt
  walrus-memory/llms.txt
Due: none

docs: content-audit improvements across 13 pages
  docs/content/examples/checkpoint-data.mdx
  docs/content/examples/data-marketplace.mdx
  docs/content/examples/javascript.mdx
  docs/content/examples/move.mdx
  docs/content/examples/python.mdx
  docs/content/examples/walrus-relay.mdx
  docs/content/sites/configuration/specifying-http-headers.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/content/typescript-sdk/sdks.mdx
  docs/content/walrus-client/json-mode.mdx
  docs/content/walrus-client/reading-blobs.mdx
  docs/site/sidebars.js
Due: none

fix: resolve editorconfig lint errors for changelog PR
  .editorconfig
  docs/content/release-notes/walrus-sites.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
