Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

typescript sdk docs
  docs/site/sidebars.js
Due: none

fix lint
  docs/site/src/components/LandingPage.tsx
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

docs: New landing page (#3198)
  docs/site/src/components/LandingPage.tsx
  docs/site/src/pages/index.mdx
  docs/site/static/img/Walrus_Docs.svg
  docs/site/static/llms.txt
Due: none

lint
  docs/content/typescript-sdk/direct-interaction.mdx
  docs/content/typescript-sdk/error-handling.mdx
  docs/content/typescript-sdk/fetch-methods.mdx
  docs/content/typescript-sdk/installation-and-setup.mdx
  docs/content/typescript-sdk/reading-blobs.mdx
  docs/content/typescript-sdk/storing-blobs.mdx
  docs/content/typescript-sdk/ts-sdk.mdx
  docs/content/typescript-sdk/wasm-module-loading.mdx
Due: none

lint
  docs/content/typescript-sdk/direct-interaction.mdx
  docs/site/sidebars.js
Due: none

remove unused ts-sdk docs and style guide for http api
  docs/content/http-api/managing-blobs.mdx
  docs/content/http-api/quilt-http-apis.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/typescript-sdk/configuring-network-requests.mdx
  docs/content/typescript-sdk/fetch-limitations.mdx
  docs/content/typescript-sdk/installation-and-setup.mdx
  docs/content/typescript-sdk/managing-blobs.mdx
  docs/content/typescript-sdk/reading-blobs.mdx
  docs/content/typescript-sdk/storing-blobs.mdx
  docs/content/typescript-sdk/wasm-module-loading.mdx
Due: none

Create relay.mdx
  docs/content/system-overview/relay.mdx
Due: none

chore: remove deleted field in PerObjectPooledBlobInfo (#3237)
  crates/walrus-service/src/node/storage/blob_info/per_object_pooled_blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow setting blob metadata in pooled blob
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/tests/system/storage_pool_tests.move
  scripts/move_tests.sh
Due: move-test, move-format

Add reqwest timeout; metrics tracking request counter
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

enable storage pool everywhere other than testnet and mainnet
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add per object pooled blob info invariant check
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix rebase conflict
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat: add `increase_capacity_with_storage` for StoragePool (#3234)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat: add per object pooled blob info invariant check (#3243)
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow setting blob metadata in pooled blob (#3220)
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/tests/system/storage_pool_tests.move
  scripts/move_tests.sh
Due: move-test, move-format

fix sidebars
  docs/site/sidebars.js
Due: none

fix sidebars
  docs/content/http-api/quilt-http-apis.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
Due: none

docs: CI/CD, Security, and Known Limitations docs for Walrus IA revisions (#3215)
  docs/content/sites/ci-cd/github-actions-workflow.mdx
  docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
  docs/content/sites/known-restrictions.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/sites/security/site-data-authentication.mdx
Due: none

change enable_wal_price_monitor to force_enable_wal_price_monitor, and use price currency to guard whether to start WAL price monitor or not
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: remove unused ts-sdk docs and style guide for http api (#3239)
  docs/content/http-api/managing-blobs.mdx
  docs/content/http-api/quilt-http-apis.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/typescript-sdk/configuring-network-requests.mdx
  docs/content/typescript-sdk/fetch-limitations.mdx
  docs/content/typescript-sdk/installation-and-setup.mdx
  docs/content/typescript-sdk/managing-blobs.mdx
  docs/content/typescript-sdk/reading-blobs.mdx
  docs/content/typescript-sdk/storing-blobs.mdx
  docs/content/typescript-sdk/wasm-module-loading.mdx
  docs/site/sidebars.js
Due: none

docs: Add system-overview page on upload relay (#3240)
  docs/content/system-overview/relay.mdx
Due: none

chore: enable storage pool everywhere other than testnet and mainnet (#3242)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

storage pool e2e test
  crates/walrus-simtest/tests/simtest_storage_pool.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable WAL price monitor by default (#3241)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update docs styling
  docs/content/operator-guide/upload-relay.mdx
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
  docs/site/src/components/LandingPage.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/styles.module.css
Due: none

allow destroying expired storage pool
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
