Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Update custom.css
  docs/site/src/css/custom.css
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: fix CSS for search bar (#3045)
  docs/site/src/css/custom.css
Due: none

chore: AI contribution policy (#3044)
  CONTRIBUTING.md
Due: none

feat: Address comment
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: infer metadata status from PUT response
  crates/walrus-sdk/src/node_client/communication/node.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: update expected error for all-shard failures
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Skip blob status checks when forced
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: fix ci errors
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: always detach pending upload tail window
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add json output for child process uploads
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: address comments
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sdk): always detach pending upload tail window (#3002)
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: infer metadata status from PUT response (#3004)
  crates/walrus-sdk/src/node_client/communication/node.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add json output for child process uploads (#2915)
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

Rename pool blob to pooled blob
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

fix: upgrade prometheus from 0.13.4 to 0.14.0 and protobuf from v2 to v3
  Cargo.lock
  Cargo.toml
  crates/walrus-proxy/Cargo.toml
  crates/walrus-proxy/src/consumer.rs
  crates/walrus-proxy/src/histogram_relay.rs
  crates/walrus-proxy/src/metrics.rs
  crates/walrus-proxy/src/prom_to_mimir.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/tokio.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

metadata page
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/configuration/site-configuration.mdx
Due: none

fix(ci): use GitHub App token for auto-merge to trigger downstream workflows
  .github/workflows/gen-sui-upgrade-version-pr.yml
  .github/workflows/version-bump.yml
  scripts/bump_sui_testnet_version.sh
Due: none

fix(ci): use GitHub App token for walrus-sites dispatch
  .github/workflows/notify-walrus-sites.yml
Due: none

fix(ci): use GitHub App token for auto-merge and cross-repo dispatch (#3048)
  .github/workflows/gen-sui-upgrade-version-pr.yml
  .github/workflows/notify-walrus-sites.yml
  .github/workflows/version-bump.yml
  scripts/bump_sui_testnet_version.sh
Due: none

address more comments
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat: Skip blob status checks when forced (#3003)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Improve k6 config
  crates/walrus-performance-tests/tests/k6_tests/common/k6.rs
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: upload latency test (#2999)
  crates/walrus-performance-tests/tests/k6_tests/common/k6.rs
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

detect malformed quilt blob data and return errors
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tests for malformed quilt data on both QuiltV1 and QuiltDecoderV1
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

validate blob length against data source size to prevent allocation bombs
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(claude): address PR review comments for inspect-walrus-network skill
  .claude/skills/inspect-walrus-network/SKILL.md
  .claude/skills/inspect-walrus-network/dns-troubleshooting.md
  .claude/skills/inspect-walrus-network/health_analysis.jq
  .claude/skills/inspect-walrus-network/health_detail.jq
  .claude/skills/inspect-walrus-network/info_overview.jq
  .claude/skills/inspect-walrus-network/on-chain-analysis.md
  .claude/skills/inspect-walrus-network/operator-notifications.md
  .editorconfig
Due: none

fix: include full error chain in `walrus health --json` output
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add comment explaining manual Serialize impl for HealthInfoError
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add cross-node invariant checks
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
