Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

wip
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/common.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Improve quilt decoder, to accept both borrowed and owned sliver data (#2579)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

report shards' per column family histogram based on column class
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated tests.
  crates/typed-store/src/raw_key_db_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactored.
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/node/db_options.rs
  crates/walrus-service/src/node/dbtool_v2.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): clean up some CLI options and publisher query parameters
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make StoreOptions private
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): clean up some CLI options and publisher query parameters (#2586)
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: make the inclusion of server_address configurable
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove the shard ID in further metrics
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: allow setting the environment variable to 'none'
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add a mermaid diagram explaining RS2Chunked merkle tree
  README.md
Due: none

cleanup unused funs in move code
  contracts/walrus/sources/system/encoding.move
  contracts/walrus/sources/system/redstuff.move
Due: move-test, move-format

refactor storage.rs.
  crates/typed-store/src/raw_key_db_map.rs
  crates/walrus-indexer/src/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move function to test.
  crates/typed-store/src/raw_key_db_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: group per shard histogram metrics by column family class instead of column family name (#2590)
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove the shard ID in further metrics (#2591)
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chunk-size cli args
  README.md
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update install script to ensure a testnet configuration is available
  .github/workflows/update-ws-install.yaml
  docs/book/usage/setup.md
  setup/walrus-install.sh
Due: none

reference the install script
  docs/book/usage/setup.md
Due: none

docs: update getting started page
  docs/book/usage/setup.md
  docs/book/usage/started.md
Due: none

fix book.toml
  book.toml
Due: taplo-format

Deploy preview for PR 2559 🛫
  pr-preview/pr-2559/index.html
  pr-preview/pr-2559/print.html
  pr-preview/pr-2559/searchindex.js
  pr-preview/pr-2559/searchindex.json
Due: none

Warlus v1.34.2 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

add slack steps
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fixing lint errors
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

remove trailing spaces
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix title
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

chore(cherrypick): group per shard histogram metrics by column family class instead of column family name (#2590) (#2594)
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix setting the var
  .github/workflows/gen-sui-upgrade-version-pr.yml
  scripts/bump_sui_testnet_version.sh
Due: none

fixing bash script
  scripts/bump_sui_testnet_version.sh
Due: none

adding more color
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix getting the pr url
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

Deploy preview for PR 2592 🛫
  pr-preview/pr-2592/design/encoding.html
  pr-preview/pr-2592/print.html
  pr-preview/pr-2592/searchindex.js
  pr-preview/pr-2592/searchindex.json
Due: none

docs: describe integrity checks
  book.toml
  docs/book/design/encoding.md
  docs/book/dev-guide/data-security.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: taplo-format

Apply suggestions from code review
  docs/book/design/encoding.md
Due: none

address review comments
  docs/book/design/encoding.md
Due: none
