Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

chore: improve sliver index-conversion
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Address zhe's review comments
  .yamlfmt.yml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add kapa.ai, fix css
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
  docs/site/src/css/custom.css
  docs/site/src/theme/Navbar/Content/index.js
  docs/site/static/portals.json
  docs/site/ws-resources.json
Due: none

Update ws-resources.json
  docs/site/ws-resources.json
Due: none

add more logs
  .github/workflows/code.yml
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(walrus-sui): gate test-only code behind test-utils feature (#2902)
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(walrus-sui): gate test-only code behind test-utils feature (#2902) (#2930)
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Use Will's suggested approach
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

revert ci
  .github/workflows/code.yml
Due: none

chore: implement select_coins variants with grpc client
  Cargo.lock
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/tests/e2e_tests.move
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

add more tests
  .github/workflows/code.yml
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Address remaining comments
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make e2e_tests with test_only annotation
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_tests.move
  mainnet-contracts/walrus/Move.lock
Due: move-test, move-format

add kapa.ai, fix css
  docs/site/src/css/custom.css
  docs/site/src/theme/Navbar/Content/index.js
  docs/site/static/portals.json
Due: none

lint
  docs/site/src/theme/Navbar/Content/index.js
Due: none

update object ID
  docs/site/ws-resources.json
Due: none

lint
  docs/content/usage/setup.mdx
  docs/site/static/portals.json
  docs/site/ws-resources.json
Due: none

lint
  docs/site/static/portals.json
Due: none

add a comment
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: reduce slow DB op log rate by sampling (#2920)
  .yamlfmt.yml
  Cargo.lock
  crates/typed-store/Cargo.toml
  crates/typed-store/src/rocks.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add test
  crates/walrus-service/src/node/ref_counted_notify_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

whitespace
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix typo
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: implementing select coins via gRPC (#2918)
  Cargo.lock
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Long poll confirmation requests (#2904)
  .yamlfmt.yml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
  crates/walrus-service/src/node/registration_notifier.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Long poll confirmation requests (#2904) (#2934)
  .yamlfmt.yml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
  crates/walrus-service/src/node/registration_notifier.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: price votes taking effect immediately (#2927)
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_tests.move
  mainnet-contracts/walrus/Move.lock
Due: move-test, move-format

Create SECURITY.md for security policy
  SECURITY.md
Due: none

chore: improve sliver index-conversion (#2929)
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename quit-http-apis.mdx to quilt-http-apis.mdx
  docs/content/http-api/quilt-http-apis.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
