Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

chore: remove unused Sui JSON-RPC and sui-sdk dependencies (#3657)
  Cargo.lock
  Cargo.toml
  crates/walrus-orchestrator/Cargo.toml
  crates/walrus-proxy/Cargo.toml
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sui/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a metric tracking node-recovery baseline invalidations (#3643)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change/goal.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: cancel the shard-sync and node-recovery services on node shutdown (#3644)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add regression test for shard sync resumed behind its gain epoch
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: parameterize the resumed-sync test with a passing control case
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(console): correct the upload cap unit and firm up the free tier
  docs/content/console/api-reference.mdx
  docs/content/console/faq.mdx
  docs/content/console/overview.mdx
Due: none

docs(console): the MCP server needs both Console keys, not just the API key
  docs/content/console/faq.mdx
  docs/content/console/overview.mdx
Due: none

chore: rename stale JSON-RPC naming in walrus-proxy and tests (#3658)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/config.rs
  crates/walrus-proxy/src/providers/walrus/provider.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(console): document the Console MCP server
  docs/content/console/api-reference.mdx
  docs/content/console/faq.mdx
  docs/content/console/mcp-server.mdx
  docs/content/console/overview.mdx
  docs/site/sidebars.js
Due: none

fix(ci): stop base64 line-wrapping from breaking the Sui bump push
  scripts/bump_sui_testnet_version.sh
Due: none

fix(ci): retry the version-bump pushes
  .github/workflows/version-bump.yml
  scripts/git_push_with_retry.sh
Due: none

refactor(ci): share one push helper across both bump workflows
  scripts/bump_sui_testnet_version.sh
Due: none

fix(ci): stop base64 line-wrapping from breaking the Sui bump push, and retry all bump pushes (#3663)
  .github/workflows/version-bump.yml
  scripts/bump_sui_testnet_version.sh
  scripts/git_push_with_retry.sh
Due: none

docs: restructure the migration steps per review
  docs/content/troubleshooting/grpc-migration.mdx
Due: none

docs(site): group both service pages with the node pages
  docs/site/sidebars.js
Due: none

docs: temporarily direct security reports to security@mystenlabs.com (#3660)
  SECURITY.md
Due: none

test: write pooled blobs from the shared background workload
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: compare Testnet with Mainnet in the Network Reference (#3631)
  docs/content/network-reference.mdx
  docs/content/testnet-reference.mdx
Due: none

test: derive the workload pool lifetime and recreate it when missing
  crates/walrus-simtest/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add a blob info snapshot determinism simtest covering storage pools and pooled blobs (#3633)
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): add a durable table of blobs pending recovery
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/storage/pending_recover_blobs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(console): point at the Console URLs and drop the alpha framing
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/quickstart.mdx
Due: none

docs(console): apply George's API-key flow review and reconcile the pages
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/faq.mdx
  docs/content/console/mcp-server.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

docs(console): name the API the Console developer API on the reference page
  docs/content/console/api-reference.mdx
Due: none
