Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix oncall getter
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

make code prod ready
  .github/workflows/gen-sui-upgrade-version-pr.yml
  scripts/bump_sui_testnet_version.sh
Due: none

revert cargo lock file
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: use transaction digests from CheckpointContents for event processing
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/checkpoint_data_for_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(experimental): add gRPC field masking for event-only checkpoint fetching
  Cargo.lock
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/experimental_field_masking.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add integration test for field-masked checkpoint processing
  crates/walrus-service/tests/test_field_masking_integration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(experimental): add event processing for field-masked checkpoints
  crates/walrus-service/src/event/event_processor/checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add use_field_masking config examples
  crates/walrus-service/node_config_example.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add config flag for experimental field masking
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/lib.rs
  crates/checkpoint-downloader/src/types.rs
  crates/walrus-e2e-tests/tests/test_field_masking_experimental.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/tests/test_field_masking_integration.rs
  crates/walrus-sui/src/client/retry_client/experimental_field_masking.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable field masking by default in tests
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable field masking in E2E tests via TestNodesConfig
  crates/walrus-e2e-tests/tests/test_client_with_field_masking.rs
  crates/walrus-e2e-tests/tests/test_field_masking_experimental.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: simplify field masking integration test
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_field_masking_integration.rs
  crates/walrus-sui/src/client/retry_client/experimental_field_masking.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_field_masking_integration.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client/experimental_field_masking.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: post to slack with PR url (#2588)
  .github/workflows/gen-sui-upgrade-version-pr.yml
  scripts/bump_sui_testnet_version.sh
Due: none

address comments
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add metrics to track checkpoint parsing error (#2610)
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add metrics to track checkpoint parsing error (#2610)
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

pre-create pool of blobs in single client workload
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: address simtest build warnings (#2616)
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: ensure that contracts builds are clean prior to local-testbed bringup
  scripts/local-testbed.sh
Due: none

chore: ensure that contracts builds are clean prior to local-testbed bringup (#2618)
  scripts/local-testbed.sh
Due: none

generate deletable writes as well
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use the term 'consistency' instead of 'integrity' for client checks
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  docs/book/design/encoding.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: use nextest to run k6 tests
  .config/nextest.toml
  Cargo.lock
  crates/walrus-performance-tests/Cargo.toml
  crates/walrus-performance-tests/tests/common/k6.rs
  crates/walrus-performance-tests/tests/common/mod.rs
  crates/walrus-performance-tests/tests/main.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use the term 'consistency' instead of 'integrity' for client checks (#2619)
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  docs/book/design/encoding.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@25682263028fa57fefdcd89cc37385d1dded16df 🚀
  design/encoding.html
  print.html
  searchindex.js
  searchindex.json
  usage/client-cli.html
  usage/web-api.html
Due: none

feat: Support deferring blob recovery by client during tail uploads
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/sliver_write_extra_time.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: add WALRUS_K6_ prefix to env variables used in k6 tests
  crates/walrus-performance-tests/tests/common/k6.rs
  crates/walrus-performance-tests/tests/main.rs
  scripts/k6/src/config/environment.ts
  scripts/k6/src/lib/utils.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_latency.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blobs_breakpoint.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [2/n][tail uploads] Introduce shared uploader and detached tail handling in client
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: pre-create pool of blobs in single client workload (#2617)
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use randomized single client in antithesis test
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  docker/walrus-antithesis/build-test-config-image/files/run-stress.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix arg
  docker/walrus-antithesis/build-test-config-image/files/run-stress.sh
Due: none

add initial blob in pool
  docker/walrus-antithesis/build-test-config-image/files/run-stress.sh
Due: none

fix some .move file issues
  contracts/subsidies/sources/subsidies.move
  contracts/subsidies/tests/subsidies_tests.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/encoding.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/blob_tests.move
Due: move-test, move-format

test: use randomized single client in antithesis test (#2621)
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  docker/walrus-antithesis/build-test-config-image/files/run-stress.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): add options to disable consistency check
  .github/workflows/gen-sui-upgrade-version-pr.yml
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/common.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/client/utils.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/node/metrics.rs
  docs/book/design/encoding.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
