Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: fix generate-sui-wallet example in docs (#2555)
  docs/book/usage/setup.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@42b290a315ae5bdc08c6da544eb2777a12df6a26 🚀
  print.html
  searchindex.js
  searchindex.json
  usage/setup.html
Due: none

feat(aggregator): add CLI argument to set size limit (#2554)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update install script to ensure a testnet configuration is available
  .github/workflows/update-ws-install.yaml
  docs/book/usage/setup.md
  setup/walrus-install.sh
Due: none

Deploy preview for PR 2559 🛫
  pr-preview/pr-2559/setup/walrus-install.sh
Due: none

ci: bump Sui testnet version to testnet-v1.57.0 in `releases/walrus-v1.33.0-release` branch (#2558)
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/bump_sui_testnet_version.sh
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

feat(aggregator): add CLI argument to set size limit (#2554) (#2560)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add lock file for v1.33.3 version bump
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-indexer/src/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added range in the store quilt output.
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Make shard sync directly ingest data in sst files
  crates/typed-store/src/rocks.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Make shard sync directly ingest data in sst files (#2499)
  crates/typed-store/src/rocks.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Allow event blob catchup at runtime
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/metrics.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: extending blob at the latest epoch (#2538)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add update mode to walrus client cli
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/upload_mode.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: increase setup timeout
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blobs_breakpoint.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs_breakpoint.ts
Due: none

fix: increase setup timeout (#2562)
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blobs_breakpoint.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs_breakpoint.ts
Due: none

fix(core): optimize memory allocations during blob decoding
  CONTRIBUTING.md
  Cargo.toml
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clarify some docstrings
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

deduplicate slivers during blob decoding
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(core): optimize memory allocations during blob decoding (#2549)
  CONTRIBUTING.md
  Cargo.toml
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: added range in the store quilt output. (#2561)
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): update blob info when deletable blobs expire (#2542)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

output for store-quilt (non-dry-run mode).
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Removed the patches() function, since it retuns QuiltPatchV1.
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Improve store quilt output (#2563)
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

reference the install script
  docs/book/usage/setup.md
Due: none

Deploy preview for PR 2559 🛫
  pr-preview/pr-2559/print.html
  pr-preview/pr-2559/searchindex.js
  pr-preview/pr-2559/searchindex.json
  pr-preview/pr-2559/usage/setup.html
Due: none

Use Cow for QuiltDecoderV1.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

share Rocksdb options.
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added db_options.rs
  crates/walrus-service/src/node/db_options.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
