Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

storage_size -> size
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/storage_resource.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_resource_tests.move
Due: move-test, move-format

test(used capacity): adds tests for used_capacity mechanics (#1514)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/storage_resource.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_resource_tests.move
Due: move-test, move-format

fmt after renaming
  contracts/walrus/tests/system/storage_resource_tests.move
Due: move-test, move-format

fix: replace dummy output for raw move errors
  crates/walrus-sui/src/types/move_errors.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update argument name
  crates/walrus-service/src/node/contract_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Updated StorageNodeError.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix pre-commit hooks
  .pre-commit-config.yaml
Due: none

Walrus v1.13.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Reverted StorageNodeError.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated trace
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable GCP storage uploads for backup service
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/migrations/2025-01-20-173100_create_stream_events/up.sql
  crates/walrus-service/src/backup.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/backup/models.rs
  crates/walrus-service/src/backup/schema.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/testbed.rs
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  scripts/local-testbed.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix stress client around epoch change
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: prevent returning metadata for blobs that are not certified
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(client): extract get_epochs_ahead function from store function
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix metrics server
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: fix stress client to work with epoch change (#1525)
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix metrics server not running in storage node (#1528)
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added create.
  .tarpaulin.toml
  Cargo.lock
  Cargo.toml
  crates/walrus-orchestrator/src/protocol/target.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

files.
  crates/walrus-test-validator/Cargo.toml
  crates/walrus-test-validator/src/health_checker.rs
  crates/walrus-test-validator/src/main.rs
  docker/walrus-test-validator/Dockerfile
  docker/walrus-test-validator/build.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not block the runtime when retrieving multiple symbols
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolved comments.
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  .tarpaulin.toml
  Cargo.lock
  Cargo.toml
  crates/walrus-node-prober/Cargo.toml
  crates/walrus-node-prober/src/health_checker.rs
  crates/walrus-node-prober/src/main.rs
  crates/walrus-orchestrator/src/protocol/target.rs
  docker/walrus-test-validator/Dockerfile
  docker/walrus-test-validator/build.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Docker.
  docker/walrus-node-prober/Dockerfile
  docker/walrus-node-prober/build.sh
Due: none

[WAL-524] update docs.
  crates/walrus-node-prober/src/health_checker.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Set correct contract dir in docker image
  docker/local-testbed/files/deploy-walrus.sh
Due: none

mwv.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): expose JWT Claim
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui to 1.42.1
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix: do not block runtime in client when verifying symbols
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/committee/node_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: support network keypair file in PKCS#8 format
  Cargo.lock
  Cargo.toml
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/keys.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: make `tls.pem_files.key_path` optional
  crates/walrus-core/src/keys.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow converting across key types
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor!: remove `pem_files` config variable
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: make error string more readable
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: update return type in simtest
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): avoid spurious warnings during catchup
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: skip verifying already verified symbols, decode in background
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-service/src/node/committee/request_futures.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(publisher): add actor to sync committee state
  .pre-commit-config.yaml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/metrics.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/client/refresh.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/common/active_committees.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
