Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

lint
  docs/site/src/css/custom.css
Due: none

ci: use automerge token for git push to trigger CI (#3113)
  scripts/bump_sui_testnet_version.sh
Due: none

ci: skip sccache for dependabot PRs and extract composite action (#3119)
  .github/actions/sccache/action.yml
  .github/workflows/code.yml
Due: none

ci: reduce number of simtest seeds for most PRs
  .github/workflows/code.yml
Due: none

lint
  docs/content/operator-guide/limitations.mdx
  docs/content/operator-guide/publishers/auth-publisher.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/site/src/css/custom.css
Due: none

ci: reduce number of simtest seeds for most PRs (#3120)
  .github/workflows/code.yml
Due: none

feat(cli): add `walrus info coin` subcommand
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Revise Operator guides (#3114)
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/aggregators/operating-aggregator.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/operator-guide/commission-governance.mdx
  docs/content/operator-guide/index.mdx
  docs/content/operator-guide/limitations.mdx
  docs/content/operator-guide/publishers/auth-publisher.mdx
  docs/content/operator-guide/publishers/operating-publisher.mdx
  docs/content/operator-guide/signed-binaries.mdx
  docs/content/operator-guide/storage-node-faq.mdx
  docs/content/operator-guide/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/commission-governance.mdx
  docs/content/operator-guide/storage-nodes/index.mdx
  docs/content/operator-guide/storage-nodes/storage-node-faq.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/content/operator-guide/upload-relay.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/site/sidebars.js
  docs/site/src/css/custom.css
  docs/site/src/theme/DocItem/index.js
  docs/site/static/llms.txt
Due: none

Update sidebars.js
  docs/site/sidebars.js
Due: none

add placeholder files for routes
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/operator-guide/comission-governance.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/storage-node-faq.mdx
  docs/content/operator-guide/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-node-migration.mdx
  docs/content/operator-guide/storage-node-setup.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

Update docs/content/sites/introduction/components.mdx
  docs/content/sites/introduction/components.mdx
Due: none

Update docs/content/sites/introduction/technical-overview.mdx
  docs/content/sites/introduction/technical-overview.mdx
Due: none

add placeholder files for routes
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

add placeholder files for routes
  docs/content/operator-guide/commission-governance.mdx
Due: none

docs: Misc style guide revisions + small shuffle for IA (#3115)
  docs/content/data-security.mdx
  docs/content/getting-started/advanced-setup.mdx
  docs/content/getting-started/index.mdx
  docs/content/glossary.mdx
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/operator-guide/commission-governance.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/stake.mdx
  docs/content/operator-guide/storage-node-faq.mdx
  docs/content/operator-guide/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-node-migration.mdx
  docs/content/operator-guide/storage-node-setup.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/content/stake.mdx
  docs/content/tusky-migration-guide.mdx
  docs/site/sidebars.js
  docs/site/static/llms.txt
Due: none

Create stake.mdx
  docs/content/stake.mdx
Due: none

fix: add redirect page for stake.mdx (#3123)
  docs/content/stake.mdx
Due: none

chore(docs): Increase deployment gas budget to 2 SUI (#3110)
  .github/workflows/publish-docs.yaml
Due: none

fix
  docs/content/operator-guide/index.mdx
  docs/content/operator-guide/publishers/auth-publisher.mdx
  docs/content/operator-guide/stake.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/commission-governance.mdx
  docs/content/operator-guide/storage-nodes/index.mdx
  docs/content/operator-guide/storage-nodes/storage-node-faq.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/site/src/theme/DocItem/index.js
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

feat(cli): add `walrus info coin` subcommand (#3122)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix
  docs/site/src/theme/DocItem/index.js
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

docs: fix site build (#3124)
  docs/content/operator-guide/index.mdx
  docs/content/operator-guide/publishers/auth-publisher.mdx
  docs/content/operator-guide/stake.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/commission-governance.mdx
  docs/content/operator-guide/storage-nodes/index.mdx
  docs/content/operator-guide/storage-nodes/storage-node-faq.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/site/src/theme/DocItem/index.js
  docs/site/static/llms.txt
Due: none

feat: Add code to increase storage pool capacity (#3106)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat: Add blob stream endpoint to k6 test suite
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  scripts/k6/src/flows/aggregator.ts
  scripts/k6/src/tests/aggregator/aggregator_v1alpha_get_blob_stream_latency.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_info/blob_info_v1.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
