Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: commission rate computation for large rewards
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
Due: move-test, move-format

refactor: implement accounting-based storage and remove per-blob end_epoch
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/blobmanager.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus_subsidies/Move.lock
Due: move-test, move-format

docs: add blob management architecture and implementation plans
  contracts/walrus/sources/blob_manager.move
  docs/blob-management/blob_management_architecture.md
  docs/blob-management/comprehensive_blob_management_plan.md
  docs/blob-management/end_epoch_removal_summary.md
  docs/blob-management/implementation_status.md
Due: move-test, move-format

docs: add README for blob management documentation
  docs/blob-management/README.md
Due: none

chore: remove redundant code (#2690)
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@46cbd2575fedbdab2d0becb4d6a1351c18b7de69 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/ci-cd-gh-workflow.html
Due: none

wip: before changing to using read_at
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/benches/symbol_file.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_array.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/stream_order.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/transposed_order.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: reduce samples for tests > 100 Mi
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump Rust to 1.91
  crates/typed-store/src/metrics.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-orchestrator/src/faults.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/config/reqwest_config.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/download_handler.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/rpc_config.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-utils/src/backoff.rs
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-proxy/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
  docker/walrus-upload-relay/Dockerfile
  rust-toolchain.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: allow downloading a single blob repeatedly
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_latency.ts
Due: none

refactor: reduce database impact on recovery symbol calls (#2677)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/thread_pool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump Rust to 1.91 (#2691)
  crates/typed-store/src/metrics.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-orchestrator/src/faults.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/config/reqwest_config.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/download_handler.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/rpc_config.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-utils/src/backoff.rs
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-proxy/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
  docker/walrus-upload-relay/Dockerfile
  rust-toolchain.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: commission rate computation for large rewards (#2692)
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
Due: move-test, move-format

docs: update contribution guidelines for Handlebars templating syntax
  CONTRIBUTING.md
Due: none

Updating the position of the note.
  CONTRIBUTING.md
Due: none

test: remove latency checks from code
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  crates/walrus-performance-tests/tests/k6_tests/common.rs
  crates/walrus-performance-tests/tests/k6_tests/common/thresholds.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update contribution guidelines for Handlebars templating syntax (#2693)
  CONTRIBUTING.md
Due: none

chore: add information about documentation to CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

chore: add information about documentation to CONTRIBUTING.md (#2694)
  CONTRIBUTING.md
  README.md
Due: none

refactor: simplify BlobManager to single-phase ownership model
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

docs: remove blob management documentation files
  docs/blob-management/README.md
  docs/blob-management/blob_management_architecture.md
  docs/blob-management/comprehensive_blob_management_plan.md
  docs/blob-management/end_epoch_removal_summary.md
  docs/blob-management/implementation_status.md
Due: none

fix: update compiler-version to 1.59.1 to match main
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

Replace is_quilt bool with BlobType enum and improve code quality
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

feat: Move upload-mode into client config
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/config/upload_mode.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement BlobManagerClient with dynamic field access for reading ManagedBlobs
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(node): reduce verbosity of shard recovery logs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

chore: use correct `console` code block type
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/walrus-sites/tutorial-install.md
Due: none

docs: correct list-db-checkpoint command
  docs/book/operator-guide/backup-restore-guide.md
Due: none

feat: Move upload mode to client config (#2697)
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/config/upload_mode.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): Prevent repeated copying of blob bytes when uploading to relay
  Cargo.lock
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client/upload_relay_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Unblock blob encoding to run without downloading committee and shard assignments
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Add encoding spinner to cli output when child process in enabled
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: rough disk encoding tests
  crates/walrus-core/benches/symbol_file.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_array.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/stream_order.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/transposed_order.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): allow specifying number of shards in client config
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-upload-relay/src/controller.rs
  docs/book/usage/setup.md
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
