Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs(site): track releases missing editorial changelog summaries (#3589)
  .github/workflows/editorial-coverage.yml
  docs/site/package.json
  docs/site/src/scripts/check-editorial-coverage.js
  docs/site/src/scripts/generate-release-notes.js
Due: none

docs: improve and expand AgentPrompt components (#3636)
  docs/content/blob-operations-quickstart.mdx
  docs/content/examples/javascript.mdx
  docs/content/examples/python.mdx
  docs/content/getting-started/index.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/content/sites/ci-cd/github-actions-workflow.mdx
  docs/content/sites/custom-domains/bringing-your-own-domain.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sponsored-uploads.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/reading-blobs.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/content/walrus-client/verifying-availability.mdx
  docs/content/walrus-client/walrus-cli.mdx
Due: none

docs(site): stop the audit reporting Walrus Memory links as broken
  docs/site/src/scripts/audit-docs.mjs
Due: none

docs: address the example-page review
  docs/content/examples/checkpoint-data.mdx
  docs/content/examples/javascript.mdx
  docs/content/examples/move.mdx
  docs/content/examples/python.mdx
  docs/content/examples/walrus-relay.mdx
  docs/examples/javascript/store_and_read_blob.js
Due: none

docs: address the gRPC migration page review
  docs/content/troubleshooting/grpc-migration.mdx
Due: none

docs: address the sites page review
  docs/content/sites/configuration/specifying-http-headers.mdx
  docs/content/sites/security/access-control-options.mdx
Due: none

docs: use active voice in the certified_epoch description
  docs/content/examples/move.mdx
Due: none

docs: address the Testnet comparison review
  docs/content/network-reference.mdx
Due: none

docs(site): stop the audit reporting Walrus Memory links as broken (#3640)
  docs/site/src/scripts/audit-docs.mjs
Due: none

docs(site): count imported code toward the code-block goal check
  docs/site/src/scripts/audit-docs.mjs
Due: none

docs: distinguish aggregators, publishers, and upload relays
  docs/content/system-overview/aggregators-publishers-relays.mdx
  docs/site/sidebars.js
Due: none

test: add a blob info snapshot determinism simtest
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: rebuild storage node epoch change around a pure planner and goal-driven sync services (#3605)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/epoch_change/attestation.rs
  crates/walrus-service/src/node/epoch_change/completion.rs
  crates/walrus-service/src/node/epoch_change/goal.rs
  crates/walrus-service/src/node/epoch_change/plan.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add dbtool command to restore recovered data (#3451)
  Cargo.toml
  crates/walrus-service/src/node/dbtool.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a metric tracking node-recovery baseline invalidations
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change/goal.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: cancel the shard-sync and node-recovery services on node shutdown
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: surface SafeIter deserialization failures as errors instead of ending iteration
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: attest epoch_sync_done based on persisted shard statuses
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/epoch_change/plan.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(docs): move runnable examples off Sui JSON-RPC
  docs/examples/javascript/system_stats.html
  docs/examples/python/hello_walrus_jsonapi.py
  docs/examples/python/track_walrus_events.py
  docs/examples/python/utils.py
  docs/examples/seal/config.ts
  docs/examples/seal/funded-keypair.ts
Due: none

docs: stop teaching the deprecated Sui JSON-RPC client
  docs/content/examples/browser-and-mobile.mdx
  docs/content/network-reference.mdx
  docs/content/sites/linking/redirects.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/walrus-client/verifying-availability.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
