Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Add dbtool command to parse LOG file
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui framework testnet-v1.73.0 to testnet-v1.73.1
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

chore: bump sui testnet v1.73.1 (#3452)
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

fix: yield in node recovery when an owned shard is not yet created
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(deps): revert aws-config and aws-sdk-ec2 bumps
  Cargo.lock
  crates/walrus-orchestrator/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Revert "chore(deps): revert aws-config and aws-sdk-ec2 bumps"
  Cargo.lock
  crates/walrus-orchestrator/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: raise RUST_MIN_STACK repo-wide to fix e2e test stack overflows
  .cargo/config.toml
Due: taplo-format

code improvement
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

metrics
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not hold shards lock while deleting column families
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not hold shards lock while deleting column families (#3456)
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

extract wait_until_owned_shards_exist and include catch-up exit
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use ScanReadiness enum as return value for clearer semantics
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: stress simtest_test_repeated_node_crash across many seeds
  .github/workflows/code.yml
Due: none

ci: surface node-recovery backoff WARN to confirm fixed path runs
  .github/workflows/code.yml
Due: none

remove Move.lock in antithesis tests so that package won't get resolved to testnet/mainnet dependency
  docker/walrus-antithesis/build-walrus-image-for-antithesis/update_move_toml.sh
Due: none

fix: remove Move.lock in antithesis tests so that package won't get resolved to testnet/mainnet dependency (#3457)
  docker/walrus-antithesis/build-walrus-image-for-antithesis/update_move_toml.sh
Due: none

track node recovery shard-wait time and missing-shard count
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: yield in node recovery when an owned shard is not yet created (#3453)
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(backup): publish storage-pool / pooled-blob-ref gauges
  crates/walrus-service/src/backup/metrics.rs
  crates/walrus-service/src/backup/service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove expired pool metrics
  crates/walrus-service/src/backup/metrics.rs
  crates/walrus-service/src/backup/service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add storage pool backup metrics (#3459)
  crates/walrus-service/src/backup/metrics.rs
  crates/walrus-service/src/backup/service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: create blob info snapshot checkpoints at the epoch boundary
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add db-tool benchmark for blob info snapshots
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: report the snapshot content digest in the benchmark output
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: regenerate the example node config
  crates/walrus-service/node_config_example.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

feat: embed the checkpoint epoch in the benchmark snapshot digest
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: create blob info snapshot checkpoints at the epoch boundary
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: create the snapshot checkpoint before scheduling the consistency check
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: clarify valid database inputs for the snapshot benchmark
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add blob info snapshot serialization format (v1)
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_info/per_object_pooled_blob_info.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove WAL-1125 simtest sui-dependency workaround
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  scripts/simtest/cargo-simtest
  scripts/simtest/seed-search.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: drop simtest_initialization, point simtest at contracts/walrus
  scripts/simtest/cargo-simtest
  scripts/simtest/seed-search.py
  scripts/simtest/simtest_initialization/Move.lock
  scripts/simtest/simtest_initialization/Move.toml
  scripts/simtest/simtest_initialization/sources/add.move
Due: taplo-format

chore(simtest): restore force_repin(cfg!(msim)) on package loader
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove simtest sui-dependency workaround (#3463)
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  scripts/simtest/cargo-simtest
  scripts/simtest/seed-search.py
  scripts/simtest/simtest_initialization/Move.lock
  scripts/simtest/simtest_initialization/Move.toml
  scripts/simtest/simtest_initialization/sources/add.move
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: run repeated single-test simtests in parallel
  scripts/simtest/simtest-run.sh
Due: none

docs(quilt): frame Quilt for AI agent memory and add when-to-use guidance
  docs/content/system-overview/quilt.mdx
Due: none

docs(concepts): explain content addressing as free versioning
  docs/content/system-overview/core-concepts.mdx
Due: none

feat(docs): add PlayMove embed and CodeWalkthrough components
  docs/site/src/shared/components/CodeWalkthrough/index.tsx
  docs/site/src/shared/components/CodeWalkthrough/styles.css
  docs/site/src/shared/components/ImportContent/index.tsx
  docs/site/src/shared/components/PlayMoveEmbed/index.tsx
  docs/site/src/shared/components/PlayMoveEmbed/styles.css
  docs/site/src/theme/MDXContent/index.js
Due: none
