Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

don't print 0s
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

adds display as a separate object
  contracts/walrus/sources/display.move
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
Due: move-test, move-format

fmt
  contracts/walrus/sources/display.move
Due: move-test, move-format

fix urls
  contracts/walrus/sources/display.move
Due: move-test, move-format

draft for display
  contracts/walrus/sources/display.move
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

lint fmt
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

adds ignore
  contracts/walrus/sources/display.move
Due: move-test, move-format

attach as dynamic field to Staking
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

adds url stabs
  contracts/walrus/sources/display.move
Due: move-test, move-format

Longer nightly simtest timeout
  .config/nextest.toml
Due: taplo-format, cargo-test

ci: Walrus v1.17.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add `verify_body_size_with_exact_size` test
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: exact size feature for JWT token
  Cargo.lock
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/error.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added estimated start time of the current epoch.
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump Rust to 1.85
  crates/walrus-service/src/node/storage/blob_info.rs
  rust-toolchain.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: check that activation epochs match when joining stake
  contracts/walrus/sources/staking/staked_wal.move
  contracts/walrus/tests/staking/staked_wal_tests.move
  contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
Due: move-test, move-format

feat: add a generic type representing values and axes
  crates/walrus-core/src/by_axis.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Fix deserialization of SystemStateInnerV1 move struct
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated.
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.16.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: check that activation epochs match when joining stake (#1675)
  contracts/walrus/sources/staking/staked_wal.move
  contracts/walrus/tests/staking/staked_wal_tests.move
  contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
Due: move-test, move-format

fix: Fix deserialization of SystemStateInnerV1 move struct (#1677)
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated.
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Use non existent blob status when checking for expired blobs
  crates/walrus-service/src/common/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: walrus-proxy needs contracts folder now
  docker/walrus-proxy/Dockerfile
Due: none

Switch to tokio RwLock to guard shards map in storage
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix node recovery blob certification check
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix race condition in creating shards and shard access in the new epoch
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): use wallet from CLI argument if set
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added node side functions.
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

don't always update metadata
  crates/walrus-service/src/node/events/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add the 'role' label to exported storage node metrics
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

connected set_next_commission.
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use unencoded_lenght() for size
  crates/walrus-core/src/metadata.rs
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

pass exact_size without PostAction
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added tests.
  Cargo.lock
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

merged correctly.
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
