Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Update index.tsx
  docs/site/src/shared/components/ImportContent/index.tsx
Due: none

generate llms.txt at build
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

lint
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none

lint
  docs/site/package.json
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

Update publish-docs.yaml
  .github/workflows/publish-docs.yaml
Due: none

Create ping-test.sh
  docs/site/ping-test.sh
Due: none

add sleep
  .github/workflows/publish-docs.yaml
Due: none

Update docs/site/ping-test.sh
  docs/site/ping-test.sh
Due: none

chmod
  docs/site/src/scripts/ping-test.sh
Due: none

remove chmod
  .github/workflows/publish-docs.yaml
Due: none

lint
  docs/site/src/shared/components/ImportContent/index.tsx
Due: none

lint
  docs/site/src/components/Search/CustomHitsContent.tsx
Due: none

lint
  docs/site/src/components/Search/SearchModal.tsx
Due: none

lint
  docs/site/src/scripts/copy-markdown-files.js
Due: none

duplicate
  docs/site/src/scripts/ping-test.sh
Due: none

address comments
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

add cache mounts to antithesis image build for faster local pipeline rebuilds
  docker/walrus-antithesis/build-test-config-image/pipeline.sh
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
Due: none

remove is_blob_extension helper completely
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add metrics to track per shard inflight sliver recovery during shard sync
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix seed search script
  scripts/simtest/seed-search.py
Due: none

test: make `test_quorum_contract_upgrade` more robust (#3052)
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename simtest.rs to simtest_core.rs
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: rename simtest.rs to simtest_core.rs (#3066)
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add check-routes + ping test to CI (#3059)
  .github/workflows/publish-docs.yaml
  docs/site/check-routes.sh
  docs/site/ping-test.sh
Due: none

fix
  docs/site/llms.txt
  docs/site/static/portals.json
Due: none

set static dir
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none

set static dir
  docs/site/static/llms.txt
Due: none

Deploy preview for PR 3061 🛫
  pr-preview/pr-3061/llms.txt
Due: none

fix dir
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none
