Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

attempt to resolve conflict
  Cargo.lock
  Cargo.toml
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tmp file
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: package management debugging (#2824)
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix clippy warning
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove dead code to fix ec issue
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

mega fix commit
  Cargo.lock
  contracts/basics/Move.toml
  contracts/basics/sources/clock.move
  contracts/subsidies/Move.test.toml
  contracts/wal/Move.test.toml
  contracts/wal_exchange/Move.test.toml
  contracts/walrus/Move.test.toml
  contracts/walrus_subsidies/Move.test.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.test.toml
  testnet-contracts/wal/Move.test.toml
  testnet-contracts/wal_exchange/Move.test.toml
  testnet-contracts/walrus/Move.test.toml
  testnet-contracts/walrus_subsidies/Move.test.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

simtest all fix
  Cargo.lock
  contracts/subsidies/Move.test.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client.rs
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.test.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix lint
  contracts/basics/sources/clock.move
  contracts/subsidies/Move.test.toml
  contracts/walrus/Move.test.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.test.toml
  testnet-contracts/walrus/Move.test.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

more format fix
  crates/walrus-sui/src/system_setup.rs
  scripts/simtest/cargo-simtest
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

formatting
  .taplo.toml
  contracts/basics/sources/clock.move
Due: taplo-format, move-test, move-format

fix remaining issue
  .taplo.toml
  contracts/basics/Move.toml
  contracts/basics/sources/clock.move
  contracts/subsidies/Move.test.toml
  contracts/wal/Move.test.toml
  contracts/wal_exchange/Move.test.toml
  contracts/walrus/Move.test.toml
  contracts/walrus_subsidies/Move.test.toml
  scripts/move_tests.sh
  scripts/simtest/simtest_initialization/Move.toml
  testnet-contracts/subsidies/Move.test.toml
  testnet-contracts/wal/Move.test.toml
  testnet-contracts/wal_exchange/Move.test.toml
  testnet-contracts/walrus/Move.test.toml
  testnet-contracts/walrus_subsidies/Move.test.toml
Due: taplo-format, move-test, move-format

fix css
  docs/site/src/shared/components/ExampleImport/styles.module.css
  docs/site/src/shared/css/details.css
Due: none

fix css
  docs/site/src/shared/components/ExampleImport/styles.module.css
Due: none

fix css
  docs/site/src/shared/css/details.css
  docs/site/src/shared/plugins/plausible/client/index.ts
  docs/site/src/shared/plugins/plausible/index.ts
Due: none

fix css
  docs/site/src/shared/js/update-subtrees.sh
Due: none

Squashed 'docs/site/src/shared/' changes from e8527622..63d80ad2
  README.md
  js/update-cli-output.js
  js/update-subtrees.sh
  rehype/rehype-fix-anchor-urls.mjs
  rehype/rehype-raw-only.mjs
  rehype/rehype-tabs.mjs
Due: none

Squashed 'docs/site/src/shared/' changes from 63d80ad2..49c40299
  README.md
Due: none

cleanup for review
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/wallet.rs
  scripts/simtest/simtest_initialization/Move.lock
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest build
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: simplify LazySuiClientBuilder
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: explicitly set localnet environment in all walrus packages in test to work with new package management system in Sui 1.63 (#2822)
  .taplo.toml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.test.toml
  contracts/wal/Move.test.toml
  contracts/wal_exchange/Move.test.toml
  contracts/walrus/Move.test.toml
  contracts/walrus_subsidies/Move.test.toml
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
  scripts/move_tests.sh
  scripts/simtest/cargo-simtest
  scripts/simtest/simtest_initialization/Move.lock
  scripts/simtest/simtest_initialization/Move.toml
  testnet-contracts/subsidies/Move.test.toml
  testnet-contracts/wal/Move.test.toml
  testnet-contracts/wal_exchange/Move.test.toml
  testnet-contracts/walrus/Move.test.toml
  testnet-contracts/walrus_subsidies/Move.test.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

ci: Update walrus-docs-ci to use the walrus-sites-deploy action
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - adds gas budget
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - credentials fix
  .github/workflows/publish-docs.yaml
Due: none

ci: Update docs/site/ws-resources.json after deployment
  docs/site/ws-resources.json
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - no resources edit and pr needed on site update
  .github/workflows/publish-docs.yaml
Due: none

docs: Fix `operators.json` file path and remove duplicate .yaml files (#2828)
  .github/workflows/update-operators-cache.yml
  book.toml
  docs/content/usage/web-api.mdx
  docs/data/glossary.yaml
  docs/data/operators.yaml
  docs/data/portals.yaml
  docs/site/.gitignore
  docs/site/static/glossary.json
  docs/site/static/operators.json
  docs/site/static/portals.json
  scripts/cache-inference/README.md
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/package.json
Due: taplo-format

chore: remove variant from LazySuiClientBuilder (enum -> struct) (#2830)
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address review comments about yaml overrides
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/network_overrides.rs
  overrides/mainnet.yaml
  overrides/simtest.yaml
  overrides/testnet.yaml
  overrides/tests.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update test
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/network_overrides.rs
  crates/walrus-utils/src/config.rs
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add a way to override node config per network (#2829)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/network_overrides.rs
  crates/walrus-utils/src/config.rs
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
