Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: clarify duplicate-content SEO guidance to use canonical hints only
  docs/book/walrus-sites/avoid-duplicate-content-seo.md
Due: none

Deploy preview for PR 2494 🛫
  pr-preview/pr-2494/print.html
  pr-preview/pr-2494/searchindex.js
  pr-preview/pr-2494/searchindex.json
  pr-preview/pr-2494/walrus-sites/avoid-duplicate-content-seo.html
Due: none

feat: implement a multi-part upload middleware for put_blob
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/chunked_upload.md
  crates/walrus-service/src/client/daemon/chunked_upload.rs
  crates/walrus-service/src/client/daemon/chunked_upload_example.md
  crates/walrus-service/src/client/daemon/publisher_lock.rs
  crates/walrus-service/src/client/responses.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/chunked_client.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: publish cli
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/chunked_client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/chunked_upload.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/chunked_client.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Checkpoint.
  CLAUDE.md
  Cargo.lock
  WALRUS_INDEX_ARCHITECTURE.md
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/IMPLEMENTATION_STATUS.md
  crates/walrus-indexer/src/bin/indexer.rs
  crates/walrus-indexer/src/event_processor.rs
  crates/walrus-indexer/src/event_processor/checkpoint.rs
  crates/walrus-indexer/src/event_processor/client.rs
  crates/walrus-indexer/src/event_processor/config.rs
  crates/walrus-indexer/src/event_processor/db.rs
  crates/walrus-indexer/src/event_processor/metrics.rs
  crates/walrus-indexer/src/event_processor/processor.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/routes.rs
  crates/walrus-indexer/src/storage/mod.rs
  crates/walrus-sui/src/types/events.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactor integratin test.
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up sim storage node
  .github/workflows/code.yml
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  .github/workflows/code.yml
Due: none

address comments
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update aws behavior version
  crates/walrus-orchestrator/src/client/aws.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: create pending event counter utility
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  crates/walrus-indexer/src/server.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-indexer/tests/indexer_run_integration.rs
  crates/walrus-indexer/tests/rest_api_client_test.rs
  crates/walrus-indexer/tests/test_cluster_integration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  crates/walrus-indexer/config-example.yaml
  crates/walrus-indexer/test_indexer.sh
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

add api doc for list patches endpoint.
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: refactor to typescript and add breakpoint test
  .gitignore
  tests/k6/flows/publisher.js
  tests/k6/lib/utils.js
  tests/k6/package.json
  tests/k6/src/config/environment.ts
  tests/k6/src/flows/publisher.ts
  tests/k6/src/lib/utils.ts
  tests/k6/src/tests/publisher/publisher_v1_put_blobs.ts
  tests/k6/src/tests/publisher/publisher_v1_put_blobs_breakpoint.ts
  tests/k6/tsconfig.json
Due: none

updates
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/client/daemon/chunked_upload.md
  crates/walrus-service/src/client/daemon/chunked_upload.rs
  crates/walrus-service/src/client/daemon/chunked_upload_example.md
  docs/examples/python/hello_walrus_jsonapi.py
  docs/examples/python/utils.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Verified event processor accepting events in Indexer.
  Cargo.lock
  Cargo.toml
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/config-example.yaml
  crates/walrus-indexer/src/bin/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/routes.rs
  crates/walrus-indexer/src/server.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-indexer/tests/indexer_run_integration.rs
  crates/walrus-indexer/tests/rest_api_client_test.rs
  crates/walrus-indexer/tests/test_cluster_integration.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cache removed.
  crates/walrus-indexer/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-indexer/src/bin/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage/mod.rs
  crates/walrus-indexer/test_indexer.sh
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-indexer/tests/indexer_run_integration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added contracts to support index mutations.
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-indexer/IMPLEMENTATION_STATUS.md
  crates/walrus-indexer/config-example.yaml
  crates/walrus-indexer/src/bin/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage/mod.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-indexer/tests/indexer_run_integration.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

cleanup
  CLAUDE.md
  WALRUS_INDEX_ARCHITECTURE.md
  crates/walrus-indexer/DEVELOPMENT_PLAN.md
  crates/walrus-indexer/IMPLEMENTATION_STATUS.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup checkpoint
  crates/walrus-indexer/src/bin/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage/mod.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-indexer/tests/indexer_run_integration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated apply mutation to include cursor location
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix docs spelling errors
  docs/book/dev-guide/costs.md
  docs/book/usage/quilt.md
Due: none

Fixing inconsistencies regarding BYOD
  docs/book/walrus-sites/avoid-duplicate-content-seo.md
Due: none

Fixing formatting
  docs/book/walrus-sites/avoid-duplicate-content-seo.md
Due: none

passed test for quilt patch blob_id query.
  Cargo.lock
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/src/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage.rs
  crates/walrus-indexer/tests/event_processor_integration.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/events.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Fixing formatting once more
  docs/book/walrus-sites/avoid-duplicate-content-seo.md
Due: none

Deploy preview for PR 2494 🛫
  pr-preview/pr-2494/print.html
  pr-preview/pr-2494/walrus-sites/avoid-duplicate-content-seo.html
Due: none

Fixing formatting once again
  docs/book/walrus-sites/avoid-duplicate-content-seo.md
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
