Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

chore: fix axum and hyper dependencies
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/node/server.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix callsite
  crates/walrus-service/bin/deploy.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix build
  Cargo.lock
  crates/walrus-service/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

linting
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

attempt to resolve conflict
  Cargo.lock
  Cargo.toml
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement blob streaming in the aggregator by slivers
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/streaming.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use std::future::Future in client/daemon.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat[upload-relay]: allow configuration of max_body_size_limit
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update operations-off-chain.mdx
  docs/content/design/operations-off-chain.mdx
Due: none

Update operations-sui.mdx
  docs/content/design/operations-sui.mdx
Due: none

fix: Incorrect link formatting (#2823)
  docs/content/design/operations-off-chain.mdx
  docs/content/design/operations-sui.mdx
Due: none

fix clippy warning
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove dead code to fix ec issue
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

debugging
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove mutex
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: refactor Wallet to make it Clone-able
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixes
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix lint
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

get rid of Clone on Wallet for now
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixes
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_pending_uploads.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: refactor WalrusClient out of CliCommandRunner
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/blocklist.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use subtrees to maintain common components
  docs/site/docusaurus.config.js
  docs/site/src/components/Cards/index.tsx
  docs/site/src/components/Cards/styles.module.css
  docs/site/src/components/Glossary/GlossaryPage.tsx
  docs/site/src/components/Glossary/GlossaryProvider.tsx
  docs/site/src/components/Glossary/Term.tsx
  docs/site/src/components/Glossary/term.module.css
  docs/site/src/components/ImportContent/index.tsx
  docs/site/src/components/ImportContent/utils.js
  docs/site/src/components/ThemeToggle/index.tsx
  docs/site/src/plugins/descriptions/index.js
  docs/site/src/plugins/inject-code/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
  docs/site/src/plugins/inject-code/stepLoader.js
  docs/site/src/plugins/plausible/client/index.ts
  docs/site/src/plugins/plausible/index.ts
  docs/site/src/plugins/remark-glossary.js
  docs/site/src/theme/MDXContent/index.js
  docs/site/src/theme/Navbar/Content/index.js
  docs/site/src/theme/Root.tsx
Due: none

use subtrees to maintain common components
  docs/content/usage/glossary.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
