Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

fix: docstring
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Use with_label to record metrics
  crates/walrus-proxy/src/consumer.rs
  crates/walrus-proxy/src/handlers.rs
  crates/walrus-proxy/src/histogram_relay.rs
  crates/walrus-proxy/src/middleware.rs
  crates/walrus-proxy/src/providers/walrus/provider.rs
  crates/walrus-service/src/client/metrics.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-utils/src/lib.rs
  crates/walrus-utils/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Copy simtest nightly script from sui
  .github/workflows/simtest-nightly.yml
Due: none

Add simtest-run.sh
  .config/nextest.toml
  .github/workflows/simtest-nightly.yml
  scripts/simtest/simtest-run.sh
Due: taplo-format, cargo-test

Run tests and check results
  .github/workflows/simtest-nightly.yml
  scripts/simtest/simtest-run.sh
Due: none

Remove auto schedule
  .config/nextest.toml
  .github/workflows/simtest-nightly.yml
Due: taplo-format, cargo-test

chore: ensure panic causes process to abort
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

test: reintroduce test optimizations
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/common/telemetry.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Fix rocksdb params for blob column families
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: run test that requires simtest only as simtest
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: run diesel migrations on walrus-backup boot or bust
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/build.rs
  crates/walrus-service/src/backup.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/backup/service.rs
  scripts/local-testbed.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add a metrics_address parameter to walrus-backup
  crates/walrus-service/bin/backup.rs
  scripts/local-testbed.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.14.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

wip.
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update nightly simtest action
  .github/workflows/simtest-nightly.yml
Due: none

Update teleport version
  .github/workflows/simtest-nightly.yml
Due: none

Update github clone token
  .github/workflows/simtest-nightly.yml
Due: none

Change tmp dir location; update stdlib link
  .github/workflows/simtest-nightly.yml
  scripts/simtest/simtest-run.sh
Due: none

Update documentation
  .github/workflows/simtest-nightly.yml
  scripts/simtest/simtest-run.sh
Due: none

Setup schedule
  .github/workflows/simtest-nightly.yml
Due: none

Set teleport action commit
  .github/workflows/simtest-nightly.yml
Due: none

feat(publisher): add cache for JWT duplicate suppression
  crates/walrus-sdk/src/api/errors.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/cache.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: rearrange configuration
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/config.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: make cache config configurable
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/cache.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): use a rayon thread pool
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/client/rayon_pool.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add dbtool to scan certified blobs
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: make CheckpointEventPosition copyable
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): enable batch symbol recovery by default
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): return slivers for registered blobs
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Make event blob writer non blocking
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tested.
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  Cargo.lock
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement emergency upgrade integration
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix testbed script, output
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  scripts/local-testbed.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

some review comments
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove incomplete code for quorum-based upgrades
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
