Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: add storage pool (bucket) contract and event types (#3041)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

add tests to test storage pool capacity and rewards distribution in the ring buffer
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

Update docs/content/sites/configuration/setting-up-routing-rules.mdx
  docs/content/sites/configuration/setting-up-routing-rules.mdx
Due: none

resolve feedback
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/configuration/setting-up-routing-rules.mdx
Due: none

docs: Updated Walrus Sites Configuration section to support revised IA (#2976)
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/configuration/setting-up-routing-rules.mdx
  docs/content/sites/configuration/site-configuration.mdx
  docs/content/sites/configuration/specifying-http-headers.mdx
  docs/site/sidebars.js
Due: none

docs routes hotfix for sites doc PRs
  docs/site/ws-resources.json
Due: none

docs: routes hotfix for sites doc PRs (#2962 and #2976) (#3071)
  docs/site/ws-resources.json
Due: none

feat: Enable size deferral and pending cache by defualt in mainnet (#3054)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add metrics to track per shard inflight sliver recovery during shard sync (#3064)
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

drafts
  docs/content/sites/portals/deploy-locally.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
Due: none

fix: use max_body_size() instead of max_body_size_kib in combined daemon mode
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use max_body_size() instead of max_body_size_kib in combined daemon mode (#3072)
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

draft revision
  docs/content/sites/portals/deploy-locally.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
Due: none

fix headers
  docs/content/sites/portals/mainnet-testnet.mdx
Due: none

Add basic storage-pool-backed blob manager
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/tests/blob_manager_tests.move
Due: move-test, move-format

test: test storage capacity and reward accounting in storage pool (#3062)
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

emit price updated events
  contracts/walrus/sources/staking.move
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

docs: improve operator deployment guide clarity and completeness
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/storage-node-setup.mdx
Due: none

docs: address review feedback on operator deployment guide
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/storage-node-setup.mdx
Due: none

docs: restructure publisher setup and add client config section
  docs/content/operator-guide/aggregator.mdx
Due: none

feat(docs): auto-generate clean URL routes from build output
  docs/site/.gitignore
  docs/site/package.json
  docs/site/src/scripts/generate-routes.js
  docs/site/ws-resources.manual.json
Due: none

docs: auto-generate markdown routes and skip empty files
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/src/scripts/generate-routes.js
Due: none

Deploy preview for PR 3080 🛫
  pr-preview/pr-3080/llms.txt
Due: none

docs: auto-generate clean URL routes at build time (#3080)
  docs/site/.gitignore
  docs/site/package.json
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/src/scripts/generate-routes.js
  docs/site/ws-resources.manual.json
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@973986c84b08ba0cd4f254110bb427365acf10c2 🚀
  llms.txt
Due: none

Update docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/aggregator.mdx
Due: none

docs: improve aggregator and publisher operator guide (#3079)
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/storage-node-setup.mdx
Due: none

optimize llms
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

optimize llms
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none
