Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

chore: add failover support to RetriableSuiClient, introduce LazyClientBuilder
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

compiles after refactoring RetriableSuiClient to trait
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client/refill.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/mock_retriable_sui_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

poc for walrus credits
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

updates
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade rust to edition 2024
  .rustfmt.toml
  Cargo.toml
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/blob.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-test-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

reflrect PR Comments
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Implemented checkpoint.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix fmt error
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix sort issue
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add walrus completion command
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli/args.rs
  docs/book/usage/client-cli.md
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Apply suggestions from code review
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix clippy findings
  crates/walrus-service/bin/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@2b4f835ad88729970e0c3741b1b0e56af8a116d1 🚀
  print.html
  searchindex.js
  searchindex.json
  usage/client-cli.html
Due: none

chore: combination of a few unrelated chores
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: move load_from_yaml in to walrus_utils
  Cargo.lock
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add register blob proxy call to subsidies contract
  contracts/subsidies/Move.lock
  contracts/subsidies/sources/subsidies.move
  contracts/subsidies/tests/subsidies_tests.move
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Walrus v1.24.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Cleanup.
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/checkpoint.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  scripts/local-testbed.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added delay to the admin backup creation command.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/checkpoint.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

merge.
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

apply suggestion
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added timeout when trying to retrieve a blob status.
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/config/communication_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

set default to 0
  crates/walrus-sdk/src/config/communication_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add detailed metrics for recovering slivers
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: track multiple tail requests
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: increase request duration histogram range
  crates/walrus-rest-client/src/client/middleware.rs
  crates/walrus-service/src/common/telemetry.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: include gas price in gas cost benchmark
  crates/walrus-sui/benches/gas_cost_bench.rs
  scripts/plot_contract_cost.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): do not create transactions with more than 256 gas coins
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: nit
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not update if does not improve
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add error type for insufficient funds with max coins
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add test
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add event fail points and use it to crash node; stop using legacy event processor in simtest
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui to testnet-v1.47.0
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  deny.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

Init metrics
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix deadlock when creating checkpoint downloader when lag is high
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/lib.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
