Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Lint and stuff
  documentation/site/sidebars.js
Due: none

copywriting
  documentation/site/src/scripts/copy-yaml-files.js
Due: none

chore: refactor BlobEventProcessor - remove sequential processor (#2753)
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Removed line limit on mdx files
  .editorconfig
  documentation/data/portals.yaml
Due: none

server side recovery endpoint change
  crates/walrus-core/src/by_axis.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/merkle.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Lints
  .editorconfig
  documentation/site/docusaurus.config.js
Due: none

client uses the new recovery endpoint
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

more testing
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add price/capacity votes to committee info (#2750)
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): avoid errors when storing metadata for untracked blobs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

delete multiple blobs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): avoid errors when storing metadata for untracked blobs (#2747)
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): delete per-object blob info when blob is deleted
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(typed-store): add snapshot functionality (#2739)
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/traits.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.38.2 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

license headers
  documentation/site/src/components/Glossary/term.module.css
  documentation/site/src/components/HomepageFeatures/styles.module.css
  documentation/site/src/components/OperatorsList/styles.module.css
  documentation/site/src/components/PortalsList/styles.module.css
  documentation/site/src/components/Search/styles.module.css
  documentation/site/src/css/custom.css
  documentation/site/src/css/fonts.css
  documentation/site/src/theme/CodeBlock/Content/styles.module.css
Due: none

licenses again
  documentation/site/src/components/Glossary/term.module.css
  documentation/site/src/components/HomepageFeatures/styles.module.css
  documentation/site/src/components/ImportContent/index.tsx
  documentation/site/src/components/OperatorsList/styles.module.css
  documentation/site/src/components/PortalsList/styles.module.css
  documentation/site/src/components/Search/ConditionalPagination.tsx
  documentation/site/src/components/Search/styles.module.css
  documentation/site/src/css/custom.css
  documentation/site/src/css/fonts.css
  documentation/site/src/theme/CodeBlock/Buttons/CopyButton/index.tsx
  documentation/site/src/theme/CodeBlock/Buttons/WordWrapButton/index.js
  documentation/site/src/theme/CodeBlock/Content/index.js
  documentation/site/src/theme/CodeBlock/Content/styles.module.css
  documentation/site/src/theme/Navbar/Content/index.js
Due: none

updated to pnpm
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
Due: none

rearrange install step
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
Due: none

bump version
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
Due: none

Update baseurl
  .github/workflows/pages-preview.yaml
  documentation/site/docusaurus.config.js
Due: none

update landing and fix components
  documentation/site/docusaurus.config.js
  documentation/site/package.json
  documentation/site/pnpm-lock.yaml
  documentation/site/src/.generated/ImportContentMap.ts
  documentation/site/src/components/Cards/index.tsx
  documentation/site/src/components/Cards/styles.module.css
  documentation/site/src/components/OperatorsList/index.tsx
  documentation/site/src/components/PortalsList/index.tsx
  documentation/site/src/pages/index.mdx
  documentation/site/src/plugins/descriptions/index.js
  documentation/site/src/theme/MDXContent/index.js
  documentation/site/static/glossary.json
  documentation/site/static/operators.json
  documentation/site/static/portals.json
Due: none

license
  documentation/site/src/components/Cards/index.tsx
  documentation/site/src/components/Cards/styles.module.css
  documentation/site/src/plugins/descriptions/index.js
Due: none

use baseurl for cards
  documentation/site/src/components/Cards/index.tsx
Due: none

feat: add storage node support for managed blobs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_manager_info.rs
  crates/walrus-service/storage_node_blob_manager_design.md
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

heading format
  documentation/content/usage/started.mdx
Due: none

heading format
  documentation/content/usage/setup.mdx
Due: none

links and more headings
  documentation/content/operator-guide/aggregator.mdx
  documentation/content/operator-guide/backup-restore-guide.mdx
  documentation/content/usage/troubleshooting.mdx
  documentation/content/usage/web-api.mdx
  documentation/content/walrus-sites/restrictions.mdx
  documentation/content/walrus-sites/routing.mdx
  documentation/content/walrus-sites/tutorial-install.mdx
Due: none

fix: fix WAL-874 and WAL-876 - shutdown coordination
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_event_processor/pending_events.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove single recovery symbol endpoint
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
