Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

further plumbing
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

mod backfill - run_blob_backfill starter code
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update comments
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

mostly code complete end-to-end but untested
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix cli args
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add backfill.sh script
  scripts/backfill.sh
Due: none

feat(backfill): implement backpressure (#2178)
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add logging to backfill_blob_to_nodes starting
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add a tombstone for tracking completion
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

avoid crashing if read_dir fails
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tweak backfill script
  scripts/backfill.sh
Due: none

retry when acquiring sui client
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

log get_blob_ids_from_file
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: document backfill script
  scripts/backfill.sh
Due: none

docs: backfill docs
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: inline format
  crates/walrus-sdk/src/client/communication/factory.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: import
  crates/walrus-service/src/backup/service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: clippy
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: CLI args
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Make QuiltClientConfig part of ClientConfig.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup db option v2
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added docs for backup/restore.
  docs/book/operator-guide/backup-restore-guide.md
Due: none

add tests; cleanup
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

Update docs/book/operator-guide/upload-relay.md
  docs/book/operator-guide/upload-relay.md
Due: none

fix: numbered list
  docs/book/operator-guide/upload-relay.md
Due: none
