Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

bump 1.24 version
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

rename1
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename file.
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/node/db_checkpoint.rs
  scripts/local-testbed.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/errors.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address simtest failure: should only check active shards
  .pre-commit-config.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update ws-resources documentation with the addition of the ignore field
  docs/book/walrus-sites/routing.md
Due: none

Formatting the changes on routing.md
  docs/book/walrus-sites/routing.md
Due: none

Deploy preview for PR 2058 🛫
  pr-preview/pr-2058/print.html
  pr-preview/pr-2058/searchindex.js
  pr-preview/pr-2058/searchindex.json
  pr-preview/pr-2058/walrus-sites/routing.html
Due: none

Another formatting fix
  docs/book/walrus-sites/routing.md
Due: none

Deploy preview for PR 2058 🛫
  pr-preview/pr-2058/print.html
  pr-preview/pr-2058/walrus-sites/routing.html
Due: none

chore: ignore GH links during linkcheck
  book.toml
Due: taplo-format

Merge branch 'main' into dionisislougaris/seint-215-add-ignore-field-in-ws-resourcesjson
  book.toml
Due: taplo-format

test: retry storing metadata during cluster creation
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Changed to retry on test.
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

t.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: make ClientErrorKind non-exhaustive
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add data existance check sampling rate
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added comments.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add sampled logging feature
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: skip node client if it is not ready
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: limit concurrent requests sent to remote nodes
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolve conflict
  crates/walrus-service/src/node/committee/node_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Changing location of newly added section
  docs/book/walrus-sites/routing.md
Due: none

Formatting fix
  docs/book/walrus-sites/routing.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@521409a96ae010d2ba69f93ea5108fcfd9d102d2 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/routing.html
Due: none

ci: add warning to PRs that modify the CLI
  .github/actions/diffs/action.yml
  .github/workflows/code.yml
Due: none

fix(aggregator): fail early for inexistent blobs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): reduce level of some logging events
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/config_synchronizer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: encapsulate WalletContext within Wallet
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
