Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs: address review feedback on blob operations quickstart (BEDU-178)
  docs/content/blob-operations-quickstart.mdx
Due: none

fix: lint errors in audit scripts
  _typos.toml
  docs/site/src/scripts/audit-docs.mjs
  docs/site/src/scripts/backfill-questions.mjs
  docs/site/src/scripts/generate-geo.mjs
  docs/site/src/scripts/generate-goals.mjs
  docs/site/src/scripts/improve-geo.mjs
Due: taplo-format

fix: apply updated active set size limit to existing ActiveSet during migration
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

feat: enable blob info snapshot writing by default
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: indent chain methods with 6 spaces (multiple of 2)
  docs/site/src/scripts/improve-geo.mjs
Due: none

fix: format _typos.toml for taplo (reorder keys, sort arrays)
  _typos.toml
Due: taplo-format

docs: address review feedback on sponsored uploads guide (BEDU-283)
  docs/content/getting-started/index.mdx
  docs/content/sponsored-uploads.mdx
Due: none

docs: fix 8 style guide violations
  docs/content/examples/checkpoint-data.mdx
  docs/content/examples/walrus-relay.mdx
  docs/content/large-uploads.mdx
  docs/content/release-notes.mdx
  docs/content/sites/known-restrictions.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/troubleshooting/network-errors.mdx
  docs/content/walrus-client/reading-blobs.mdx
Due: none

feat: enable blob info snapshot writing by default (#3550)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.52.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: CRLF line endings and typo in release-notes.mdx
  docs/content/release-notes.mdx
Due: none

fix: make set_max_size available outside tests and add migration test
  contracts/walrus/sources/staking/active_set.move
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

docs: correct cost model, drop share=true, tighten relay row (BEDU-283)
  docs/content/sponsored-uploads.mdx
Due: none

docs: add read retry guidance and fix style violations (BEDU-178)
  docs/content/blob-operations-quickstart.mdx
Due: none

feat: enable blob info snapshot writing by default (#3550) (#3551)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: treat all 5xx as retryable in read helpers (BEDU-178)
  docs/content/blob-operations-quickstart.mdx
Due: none

docs: add sponsored and walletless uploads guide (#3548)
  docs/content/getting-started/index.mdx
  docs/content/sponsored-uploads.mdx
  docs/site/sidebars.js
Due: none

docs: add multi-language blob operations quickstart (BEDU-178) (#3549)
  docs/content/blob-operations-quickstart.mdx
  docs/site/sidebars.js
Due: none

docs: fix remaining junk questions, blank-line EOF, audit exit code
  docs/content/examples/checkpoint-data.mdx
  docs/content/examples/data-marketplace.mdx
  docs/content/examples/javascript.mdx
  docs/content/examples/move.mdx
  docs/content/examples/python.mdx
  docs/content/getting-started/advanced-setup.mdx
  docs/content/system-overview/available-networks.mdx
  docs/site/src/scripts/audit-docs.mjs
Due: none

docs: fix awkward goal descriptions and repetitive questions
  docs/content/examples/index.mdx
  docs/content/getting-started/advanced-setup.mdx
  docs/content/getting-started/index.mdx
  docs/content/glossary.mdx
  docs/content/network-reference.mdx
  docs/content/operator-guide/index.mdx
  docs/content/operator-guide/storage-nodes/index.mdx
  docs/content/release-notes.mdx
  docs/content/sites/index.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/index.mdx
  docs/content/troubleshooting/error-handling.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/network-errors.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/content/walrus-client/index.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/content/walrus-client/walrus-cli.mdx
Due: none

ci: ensure docs build always fetches latest Walrus Memory content
  .github/workflows/publish-docs.yaml
  docs/site/src/scripts/fetch-walrus-memory-docs.js
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
