Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

added tests.
  crates/walrus-indexer/tests/indexer_e2e_test.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Added test to demonstrate that string orders are not preserved by bincode (#2525)
  crates/typed-store/src/rocks.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-indexer/src/async_task_manager.rs
  crates/walrus-indexer/src/indexer.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage.rs
  crates/walrus-indexer/src/test_util.rs
  crates/walrus-indexer/tests/indexer_e2e_test.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: further tune data rate
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
Due: none

fix: tune download rate
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
Due: none

feat: enable tracing of client cli commands
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/common/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: allow configuring the trace filter from the environment
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ensure that otel flushes top-levels span
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

turn on debugging
  .github/workflows/code.yml
Due: none

account low level networking error as retriable error
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update fastcrypto ref
  Cargo.lock
  Cargo.toml
  deny.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

add low level networking error as retriable error
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update simtest CI setup
  .github/workflows/code.yml
Due: none

chore: update simtest CI setup (#2547)
  .github/workflows/code.yml
Due: none

chore: add low level networking error as retriable error (#2546)
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Indexer storage schema.
  Cargo.lock
  deny.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

added walrus-indexer crate.
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/storage.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-indexer/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

format
  crates/walrus-indexer/src/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: [docs] update portal configuration and add new portals list (#2495)
  .github/actions/build-mdbook/action.yaml
  README.md
  book.toml
  docs/book/assets/portals.json
  docs/book/usage/web-api.md
  docs/book/walrus-sites/portal.md
Due: taplo-format

Deploying to gh-pages from @ MystenLabs/walrus@6cf2925098096bd4cc6d74327bf7c57e49601e4e 🚀
  assets/portals.json
  print.html
  searchindex.js
  searchindex.json
  usage/web-api.html
  walrus-sites/ci-cd-gh-workflow.html
  walrus-sites/portal.html
Due: none

feat(node): update blob info when deletable blobs expire
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtests
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename latest_seen_deletable_*_epoch fields and unset them when the last blob is deleted/expired
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-indexer/src/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

implementing shared block cache
  crates/typed-store/src/rocks.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tests
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create per db shared block cache config
  crates/typed-store/src/rocks.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove unnecessary abstraction around with_encode_result
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: test ci pipeline
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add aggregator latency and breakpoint tests (#2533)
  scripts/k6-run-multiple.sh
  scripts/k6/package.json
  scripts/k6/src/config/aggregator/v1_get_blob_latency.plans.json
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
  scripts/k6/src/config/environment.ts
  scripts/k6/src/config/publisher/v1_put_blobs.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
  scripts/k6/src/flows/aggregator.ts
  scripts/k6/src/flows/publisher.ts
  scripts/k6/src/lib/blob_history.ts
  scripts/k6/src/lib/utils.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_latency.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blobs_breakpoint.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs_breakpoint.ts
  scripts/k6/tsconfig.json
Due: none

extending blob that is expired when checking using the latest committee
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

allow blob extension triggering blob sync
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tests: add environment variable to k6 test script to export to OTLP
  scripts/k6-run-multiple.sh
Due: none

test: add environment variable to k6 test script to export to OTLP (#2553)
  scripts/k6-run-multiple.sh
Due: none

feat(aggregator): add CLI argument to set size limit
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix generate-sui-wallet example in docs
  docs/book/usage/setup.md
Due: none
