Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

added list-db-checkpoint command.
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(fanout): only keep the blob digest in the auth package
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/params.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): check the freshness of the transaction
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/tip.rs
  crates/fan-out-proxy/src/tip/check.rs
  crates/fan-out-proxy/src/tip/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): add encoding type to the params
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/params.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(fanout): revert back to post
  crates/fan-out-proxy/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): combine the epoch duration notes into a single admonish section
  docs/book/walrus-sites/commands.md
Due: none

Deploy preview for PR 2102 🛫
  pr-preview/pr-2102/print.html
  pr-preview/pr-2102/searchindex.js
  pr-preview/pr-2102/searchindex.json
  pr-preview/pr-2102/walrus-sites/commands.html
Due: none

feat(fanout): add script to merge coins in wallet (for the tips)
  scripts/merge_sui_coins.py
Due: none

feat(fanout): improve and simplify API
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip.rs
  crates/fan-out-proxy/src/tip/config.rs
  crates/fan-out-proxy/src/utils.rs
  scripts/merge_sui_coins.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(fanout): remove unneeded features
  crates/fan-out-proxy/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): add configuration and config example
  Cargo.lock
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/fan_out_config_example.yaml
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable recovery from local node forking og event blobs
  Cargo.lock
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address review comments
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_blob.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement new subsidy contract
  contracts/subsidies/Move.lock
  contracts/subsidies/sources/subsidies.move
  contracts/wal/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/committee.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/test_utils.move
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  contracts/walrus_subsidies/sources/epoch_balance.move
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test, move-format

feat(fanout): authentication changes, add nonce and length
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): small tests
  crates/fan-out-proxy/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add various metrics tracking possible errors
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/metrics.rs
  crates/fan-out-proxy/src/tip/check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add fan_out_config_example.yaml to .yamlfmt.yml
  .yamlfmt.yml
Due: none

ci: add release create for devnet
  .github/workflows/create-release-announce.yml
Due: none

ci: 1.28 vervion bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui version to testnet-v1.50.1
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.toml
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix test compilation
  Cargo.lock
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  scripts/simtest/cargo-simtest
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added cli commands for quilt.
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): add staking object references to installation documentation
  docs/book/walrus-sites/tutorial-install.md
Due: none

checkpoint
  crates/walrus-service/src/client/cli.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix walrus simtest
  Cargo.lock
  crates/walrus-service/src/node.rs
  scripts/simtest/cargo-simtest
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Disabled Admin tool for Windows.
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
