Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

chore: remove subsidies from testnet configs
  setup/client_config.yaml
  setup/client_config_testnet.yaml
Due: none

update Move.lock files
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.lock
Due: move-test

chore: prepare subsidy contracts for upgrade/deployment
  testnet-contracts/subsidies/sources/subsidies.move
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
  testnet-contracts/walrus_subsidies/sources/epoch_balance.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  testnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test

bump version in contracts/walrus_subsidies
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test

feat: add walrus store --upload-relay functionality
  Cargo.lock
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/upload_relay.rs
  crates/walrus-sdk/src/upload_relay/params.rs
  crates/walrus-sdk/src/upload_relay/tip_config.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/tip.rs
  crates/walrus-upload-relay/src/tip/check.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
  scripts/merge_sui_coins.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: remove duplicate shared code
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sdk/src/upload_relay.rs
  crates/walrus-sdk/src/upload_relay/params.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/shared.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/upload_relay_openapi.html
  crates/walrus-upload-relay/upload_relay_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@0bf97abcd19c1063fa455b91e49f14701eb51b29 🚀
  print.html
  searchindex.js
  searchindex.json
  setup/client_config.yaml
  setup/client_config_testnet.yaml
  usage/networks.html
  usage/setup.html
Due: none

ci: ensure WFs involving Sui transactions are not concurrent
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

address comments
  crates/walrus-service/src/node/contract_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): cancel blob syncs for expired blobs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add notes about kill_current_node
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use original package ID to filter events
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.28.3 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use original package ID to filter events (cherry-pick) (#2319)
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix build
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

update.
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

bump to 1.28.4
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/node/dbtool.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(dbtool): [cherry-pick] fix drop column family command (#2321)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/node/dbtool.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

feat(relay): implement tip client
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  crates/walrus-core/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolved comments.
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: chmod +x upload relay build.sh
  docker/walrus-upload-relay/build.sh
Due: none

added web apis for quilt and other improvements.
  docs/book/dev-guide/costs.md
  docs/book/usage/client-cli.md
  docs/book/usage/quilt.md
  docs/book/usage/web-api.md
Due: none

updated to 1.29.
  docs/book/usage/networks.md
  docs/book/usage/web-api.md
Due: none

Deploy preview for PR 2325 🛫
  pr-preview/pr-2325/print.html
  pr-preview/pr-2325/searchindex.js
  pr-preview/pr-2325/searchindex.json
  pr-preview/pr-2325/usage/networks.html
  pr-preview/pr-2325/usage/web-api.html
Due: none

update.
  docs/book/usage/client-cli.md
  docs/book/usage/networks.md
  docs/book/usage/web-api.md
Due: none

Deploy preview for PR 2325 🛫
  pr-preview/pr-2325/print.html
  pr-preview/pr-2325/searchindex.js
  pr-preview/pr-2325/searchindex.json
  pr-preview/pr-2325/usage/client-cli.html
  pr-preview/pr-2325/usage/networks.html
  pr-preview/pr-2325/usage/web-api.html
Due: none

fix test_recovery_in_progress_with_node_restart
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: add StoreArgs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: add defaults to storeargs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: update calls to quilt with storeargs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.28.5 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: refactor of args complete
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
