Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

add contract_ident
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add cargo problem matcher for structured build error annotations
  .github/matchers/cargo.json
Due: none

ci: add cargo problem matcher for structured build error annotations (#3222)
  .github/matchers/cargo.json
Due: none

adjust logo and colors
  docs/site/src/components/LandingPage.tsx
  docs/site/static/img/Walrus_Docs.svg
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

Update docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/storage-costs.mdx
Due: none

adjust logo and colors
  docs/site/src/components/LandingPage.tsx
Due: none

e2e: keep bucket simtest inside msim runtime
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

disable rocksdb gc on mainnet, increase pending compaction limit, add more BlobDB related metrics
  crates/typed-store/src/metrics.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: disable rocksdb gc on mainnet, increase pending compaction limit, add more BlobDB related metrics (#3225)
  crates/typed-store/src/metrics.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: only publish blob bucket when present
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(cherry pick): disable rocksdb gc on mainnet, increase pending compaction limit, add more BlobDB related metric (#3226)
  crates/typed-store/src/metrics.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: pin chrono =0.4.39 and fix find_environment API for Sui v1.69.1
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address feedback
  docs/content/large-uploads.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/system-constraints.mdx
  docs/site/sidebars.js
Due: none

address feedback
  docs/content/system-overview/system-constraints.mdx
Due: none

Update pages-preview.yaml
  .github/workflows/pages-preview.yaml
Due: none

docs: fix CI job to use stable version of afdocs (#3229)
  .github/workflows/pages-preview.yaml
Due: none

e2e: fix bucket panic string formatting
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: gate walrus-sui integration test behind test-utils feature
  crates/walrus-sui/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: embed Storage object inside StoragePool
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/storage_resource.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

sdk: fix bucket store certification results
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client/client_types/bucket_state.rs
  crates/walrus-sdk/src/node_client/store_backend/bucket.rs
  crates/walrus-sui/src/client/blob_bucket_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
