Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Checkpoint.
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/checkpoint.rs
  crates/walrus-service/src/node/errors.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add gas cost benchmark for contracts
  .gitignore
  crates/walrus-core/src/messages.rs
  crates/walrus-core/src/messages/certificate.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
  scripts/plot_contract_cost.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: optimize call to reserve storage for multiple blobs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: mention that shared blob object ids can be used to retrieve blob
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add retrieving by shared blob object id to mdbook
  docs/book/usage/web-api.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@40439a187be00779ce9e7c42c142079d6e94b034 🚀
  print.html
  searchindex.js
  searchindex.json
  setup/client_config_example.yaml
  usage/setup.html
  usage/web-api.html
Due: none

Walrus v1.22.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: optimize call to reserve storage for multiple blobs (#2008)
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/checkpoint.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Optimize Storage Selection Algorithm for Batch Blob Operations
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: clean up links in old blog posts
  book.toml
  docs/book/blog/00_intro.md
  docs/book/blog/01_announcing_walrus.md
  docs/book/blog/02_devnet_update.md
  docs/book/blog/03_whitepaper.md
  docs/book/blog/04_testnet_update.md
  docs/book/blog/05_testnet_redeployment.md
Due: taplo-format

address review comments
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  scripts/plot_contract_cost.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Alphabetize glossary and add missing terms
  docs/book/glossary.md
Due: none

Update docs/book/walrus-sites/intro.md
  docs/book/walrus-sites/intro.md
Due: none

Added a js example to read the system object data
  docs/examples/javascript/system_stats.html
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@0888eb8f2e19961cd6edb4fede130e12b47627c3 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/intro.html
Due: none

fix linter findings and minor improvements
  docs/examples/javascript/README.md
  docs/examples/javascript/system_stats.html
Due: none

Added some more docs for publisher
  docs/book/operator-guide/aggregator.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@035114e60289b27a2bbe71ad527de9fb608b2ff5 🚀
  blog/00_intro.html
  blog/01_announcing_walrus.html
  blog/02_devnet_update.html
  blog/03_whitepaper.html
  blog/04_testnet_update.html
  blog/05_testnet_redeployment.html
  print.html
  searchindex.js
  searchindex.json
Due: none

feat: allow blobs to be shared via the Publisher
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lint
  docs/book/operator-guide/aggregator.md
Due: none

Deploy preview for PR 2014 🛫
  pr-preview/pr-2014/blog/00_intro.html
  pr-preview/pr-2014/blog/01_announcing_walrus.html
  pr-preview/pr-2014/blog/02_devnet_update.html
  pr-preview/pr-2014/blog/03_whitepaper.html
  pr-preview/pr-2014/blog/04_testnet_update.html
  pr-preview/pr-2014/blog/05_testnet_redeployment.html
  pr-preview/pr-2014/print.html
  pr-preview/pr-2014/searchindex.js
  pr-preview/pr-2014/searchindex.json
Due: none

ci: update WS workflows with new site-builder functionality
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
Due: none

lint
  docs/book/glossary.md
Due: none

lint
  CONTRIBUTING.md
Due: none

prettify table
  docs/book/glossary.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@a913d964ca1110df5f94757322a6f5b9328240b0 🚀
  glossary.html
  print.html
  searchindex.js
  searchindex.json
Due: none

docs: improvements in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@9b141131379bd28115e5b7ca7f6211376c0f4696 🚀
  operator-guide/aggregator.html
  print.html
  searchindex.js
  searchindex.json
Due: none

feat(client): log warning for old clients
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/client.rs
  crates/walrus-service/build.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
