Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

feat(bucket-object): add delete-marker flows
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

Add oldest unfinished event metrics
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(bucket-object): add object headers
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/object_headers.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

feat(bucket-object): add object metadata
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/object_metadata.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

feat(bucket-object): add attribute-only version updates
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

feat(bucket-object): add namespace registry ops
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/bucket_object_events.move
  contracts/bucket_object/sources/bucket_object_inner_v1.move
  contracts/bucket_object/sources/bucket_object_registry.move
  contracts/bucket_object/sources/object_tags.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_registry_tests.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

sdk/sui: add bucket object client APIs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/bucket_object_ops.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/bucket_object_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/bucket_object_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(bucket-object): add object entry state model
  contracts/bucket_object/sources/object_entry.move
  contracts/bucket_object/sources/object_entry_inner_v1.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/object_entry_tests.move
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Track background processed event index
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_event_processor/pending_events.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add metric to track if recovery deferral cancelled a recovery (#3132)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

hide WAL recovery db-tool commands by default
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add command to recover wal safely
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Use factory based config for drop column families
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Track background blob event processing (#3278)
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_event_processor/pending_events.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest failure
  crates/walrus-service/src/node.rs
  setup/client_config.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add blob bucket support across sui, sdk, and service
  contracts/blob_bucket/Move.test.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/bucket_state.rs
  crates/walrus-sdk/src/node_client/responses.rs
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/bucket.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/blob_bucket_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/blob_bucket_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

feat(blob-bucket): add bucket object contract modules
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket_inner_v1.move
  contracts/blob_bucket/sources/bucket_object.move
  contracts/blob_bucket/sources/bucket_object_events.move
  contracts/blob_bucket/sources/bucket_object_inner_v1.move
  contracts/blob_bucket/sources/bucket_object_registry.move
  contracts/blob_bucket/sources/object_headers.move
  contracts/blob_bucket/sources/object_metadata.move
  contracts/blob_bucket/sources/object_tags.move
  contracts/blob_bucket/sources/object_version.move
  contracts/walrus/sources/system/storage_pool.move
Due: move-test, move-format

feat(blob-bucket): gate bucket object mutations with bucket cap
  contracts/blob_bucket/sources/bucket_object.move
  contracts/blob_bucket/sources/bucket_object_registry.move
Due: move-test, move-format

feat(blob-bucket): make bucket object APIs bucket-first
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/bucket_object.move
  contracts/blob_bucket/sources/bucket_object_registry.move
Due: move-test, move-format

refactor(blob-bucket): inline sharded object registry
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/bucket_object.move
  contracts/blob_bucket/sources/bucket_object_events.move
  contracts/blob_bucket/sources/bucket_object_inner_v1.move
  contracts/blob_bucket/sources/bucket_object_registry.move
  contracts/blob_bucket/sources/object_version.move
Due: move-test, move-format

fix(blob-bucket): bound shard selection hash
  contracts/blob_bucket/sources/bucket_object_registry.move
Due: move-test, move-format

fix: make multisig script work with newest sui cli version (#3265)
  scripts/create_multisig_tx.sh
Due: none

chore: add benchmark to test limits of number of supported nodes (#3266)
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/committee_size_bench.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(aggregator): return 503 for transient blob read failures
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: regenerate openapi specs for BLOB_UNAVAILABLE 503
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix(aggregator): return 503 for transient blob read failures (#3284)
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add WAL based db recovery options (#3163)
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix commission rate applying
  contracts/walrus/sources/staking/pending_values.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
Due: move-test, move-format

set correct event cursor option
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Revert "renable repair db"
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix formatting
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

renable repair db
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: split client and ptb by domain
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/owned_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder/shared_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: address bloom precheck review comments
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
  setup/client_config.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: propagate shard storage check failures
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Revert "fix: propagate shard storage check failures"
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(blob-bucket): require registry at creation
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
Due: move-test, move-format

refactor(blob-bucket): simplify object api names
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/bucket_object.move
  contracts/blob_bucket/sources/bucket_object_registry.move
Due: move-test, move-format

refactor(blob-bucket): store registry id on cap
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
Due: move-test, move-format

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
