Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Deploy preview for PR 2520 🛫
  pr-preview/pr-2520/design/encoding.html
  pr-preview/pr-2520/dev-guide/data-security.html
  pr-preview/pr-2520/index.html
  pr-preview/pr-2520/print.html
  pr-preview/pr-2520/searchindex.js
  pr-preview/pr-2520/searchindex.json
  pr-preview/pr-2520/usage/client-cli.html
  pr-preview/pr-2520/usage/web-api.html
Due: none

docs(walrus-sites): slight improvement on the testnet portal warning (#2520)
  docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@725214173ea351a0bff15875e71e0b18dc26fb13 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/portal.html
  walrus-sites/tutorial-publish.html
Due: none

test: further increase aggregator breakpoint target rates
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
Due: none

test: tweak throughput rate
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
Due: none

test: add latency tests for 500Mi and 2Gi
  scripts/k6/src/config/aggregator/v1_get_blob_latency.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs.plans.json
Due: none

chore: export node capacity that was synced to the chain
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config_synchronizer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

prototype doc rewrite
  crates/walrus-service/bin/backup.rs
  docs/book/SUMMARY.md
  docs/book/glossary.md
  docs/book/index.md
  docs/book/usage/client-cli.md
  docs/book/usage/quickstart.md
  docs/book/usage/setup.md
  docs/book/usage/started.md
  docs/book/usage/troubleshooting.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Do tail sliver uploads in the background
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Allow event blob catchup at runtime
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/metrics.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Allow event blob catchup at runtime (#2458)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/metrics.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

[1/n][tail uploads] feat: Remove lifetime from node handles
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [2/n][tail uploads] Introduce shared uploader and detached tail handling in client
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add metrics to track checkpoint parsing eror
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add Cargo.lock
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

bump fastcrypto version
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

remove extra const-str entry
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

adding it back in
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

revert Cargo.lock; apply cargo update -p insta
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Make sliver existence check threshold configurable
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/config/communication_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [3/n][tail uploads] Add child process to offload sliver uploads
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-sui/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): delete blob data when blobs expire or are deleted
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add metrics for blob info cleanup and data deletion
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup questions in comments
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

temporarily disable auto compactions during garbage collection
  crates/typed-store/src/rocks.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

return error instead of panicking if sliver CF does not exist
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixing bash script
  scripts/bump_sui_testnet_version.sh
Due: none

feat: post to slack with PR url
  .github/workflows/gen-sui-upgrade-version-pr.yml
  scripts/bump_sui_testnet_version.sh
Due: none

fix setting the var
  .github/workflows/gen-sui-upgrade-version-pr.yml
  scripts/bump_sui_testnet_version.sh
Due: none

fixing lint errors
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

add slack steps
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix getting the pr url
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix title
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

adding more color
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

remove trailing spaces
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix getting on-call
  .github/workflows/gen-sui-upgrade-version-pr.yml
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc
