Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Update docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/portal.md
Due: none

Fix lint errors
  docs/book/walrus-sites/portal.md
Due: none

Update docs/book/walrus-sites/routing.md
  docs/book/walrus-sites/routing.md
Due: none

remove testnet mentions
  docs/book/client_config.yaml
  docs/book/dev-guide/dev-guide.md
  docs/book/dev-guide/dev-operations.md
  docs/book/dev-guide/sui-struct.md
  docs/book/usage/client-cli.md
  docs/book/usage/examples.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/usage/stake.md
  docs/book/usage/troubleshooting.md
  docs/book/usage/web-api.md
Due: none

Caught a couple more docs urls
  docs/book/usage/client-cli.md
  docs/examples/move/walrus_dep/Move.toml
Due: taplo-format

Started restructure and testnet -> mainnet
  docs/book/SUMMARY.md
  docs/book/blog/06_mainnet.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/usage/started.md
Due: none

Clean a few more testnet mentions
  docs/book/blog/06_mainnet.md
  docs/book/dev-guide/sui-struct.md
  docs/book/index.md
  docs/book/operator-guide/storage-node.md
  docs/book/usage/client-cli.md
  docs/book/usage/started.md
Due: none

Appease linter
  docs/book/dev-guide/dev-operations.md
  docs/book/dev-guide/sui-struct.md
  docs/book/operator-guide/storage-node.md
  docs/book/usage/client-cli.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/usage/started.md
  docs/book/usage/troubleshooting.md
  docs/book/usage/web-api.md
Due: none

Purge testnet from setup and add page on networks and config
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/config/client_config_mainnet.yaml
  docs/config/client_config_testnet.yaml
Due: none

Fix line endings
  docs/book/blog/06_mainnet.md
  docs/book/usage/networks.md
  docs/book/usage/started.md
  docs/config/client_config_mainnet.yaml
  docs/config/client_config_testnet.yaml
Due: none

Added note on dropping blob objects
  docs/book/usage/client-cli.md
Due: none

Fix lints
  docs/book/dev-guide/sui-struct.md
  docs/book/usage/networks.md
Due: none

Add todo for ts sdk
  docs/book/usage/sdks.md
Due: none

minor docs improvements
  .markdownlint-cli2.yaml
  book.toml
  docker/local-testbed/files/run-walrus.sh
  docs/book/SUMMARY.md
  docs/book/blog/06_mainnet.md
  docs/book/dev-guide/sui-struct.md
  docs/book/index.md
  docs/book/operator-guide/storage-node.md
  docs/book/usage/client-cli.md
  docs/book/usage/networks.md
  docs/book/usage/sdks.md
  docs/book/usage/setup.md
  docs/book/usage/started.md
  docs/book/usage/troubleshooting.md
  docs/book/usage/web-api.md
Due: taplo-format

Added attributes section
  docs/book/usage/client-cli.md
Due: none

Minor rephrasing
  docs/book/walrus-sites/routing.md
Due: none

Remove tip about epochs
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Clarify that b36 is still supported in some cases
  docs/book/walrus-sites/tutorial-suins.md
Due: none

Fix mainnet suins link
  docs/book/walrus-sites/tutorial-suins.md
Due: none

feat: add an `OwnedGaugeGuard` and unique metric registrations
  Cargo.lock
  crates/walrus-service/src/backup/metrics.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/metrics.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Rephrase __wal__ restriction section
  docs/book/walrus-sites/restrictions.md
Due: none

Minor fix
  docs/book/walrus-sites/tutorial-suins.md
Due: none

Update README.md
  README.md
Due: none

refactor: use builder pattern to construct contract service
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add monitor for SUI balance
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

minor improvements to setup instructions
  book.toml
  docs/book/config/client_config_mainnet.yaml
  docs/book/config/client_config_testnet.yaml
  docs/book/usage/client-cli.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: taplo-format

fix: incorporate feedback from review
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update stable branch to be mainnet
  docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/tutorial-install.md
Due: none

Fix bullet points for env variables
  docs/book/walrus-sites/portal.md
Due: none

Add warning about sunsetting the testnet portal
  docs/book/walrus-sites/portal.md
Due: none

mdbook-templates for dynamic operators list preproccessing
  .github/actions/build-mdbook/action.yaml
  README.md
  book.toml
  docs/book/assets/operators.json
  docs/book/usage/web-api.md
Due: taplo-format

Remove test mainnet operators
  docs/book/assets/operators.json
Due: none

Formatting
  docs/book/usage/web-api.md
Due: none

feat: add metrics to the thread pool
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update docs for install script
  docs/book/usage/setup.md
Due: none
