Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

update rules and clean up formatting
  .editorconfig
  docs/data/glossary.yaml
  docs/site/docusaurus.config.js
  docs/site/src/components/Cards/index.tsx
  docs/site/src/components/Cards/styles.module.css
  docs/site/src/components/Glossary/GlossaryPage.tsx
  docs/site/src/components/PushFeedback/index.tsx
  docs/site/src/components/Search/ConditionalPagination.tsx
  docs/site/src/components/Search/ControlledSearchBox.tsx
  docs/site/src/components/Search/CustomHitsContent.tsx
  docs/site/src/components/Search/RefinementSection.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/TabbedResults.tsx
  docs/site/src/css/custom.css
  docs/site/src/pages/index.mdx
  docs/site/src/plugins/askcookbook/index.js
  docs/site/src/theme/Navbar/Content/index.js
  docs/site/static/img/github-icon.svg
  docs/site/static/operators.json
  docs/site/static/portals.json
Due: none

specllcheck incorrectly flagged api key
  _typos.toml
Due: taplo-format

format
  _typos.toml
Due: taplo-format

feat: add quorum verification and upload relay support for managed blobs
  Cargo.lock
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/messages.move
  crates/walrus-core/src/messages/storage_confirmation.rs
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/storage_node_blob_manager_design.md
  crates/walrus-storage-node-client/src/client.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(node): delete per-object blob info when blob is deleted (#2746)
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.38.2 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): avoid errors when storing metadata for untracked blobs (#2747)
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(typed-store): add snapshot functionality (#2739)
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/traits.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

gitignore files and remove duped copyright
  .editorconfig
  docs/site/.gitignore
  docs/site/src/.generated/ImportContentMap.ts
  docs/site/src/components/Cards/index.tsx
  docs/site/src/plugins/descriptions/index.js
  docs/site/static/glossary.json
  docs/site/static/operators.json
  docs/site/static/portals.json
Due: none

chore: cherry-pick blob-info and garbage-collection improvements into the 1.38 release (#2757)
  Cargo.lock
  Cargo.toml
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/traits.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add a new error type
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: unify BlobStash and Storage into single BlobStorage structure
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  crates/walrus-sdk/src/client/blob_manager_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

refactor: make blob deletion atomic by removing release_storage function
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_storage.move
Due: move-test, move-format

feat(client): Support targeted uploads and cooperative cancellation (#2742)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/uploader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add tipping mechanism and unify BlobStorage structure
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/tip_policy.move
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Update README.md
  docs/README.md
Due: none

Update docs/README.md
  docs/README.md
Due: none

Update .editorconfig
  .editorconfig
Due: none

Update intro.mdx
  docs/content/intro.mdx
Due: none

fix lint
  docs/README.md
Due: none

chore: remove use_legacy_event_provider option
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-test-utils/Cargo.toml
  crates/walrus-test-utils/src/lib.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make apis package public
  contracts/walrus/sources/coin_stash.move
Due: move-test, move-format

Add Plausible analytics plugin
  docs/site/docusaurus.config.js
  docs/site/src/plugins/client/index.ts
  docs/site/src/plugins/index.ts
  docs/site/src/plugins/plausible/client/index.ts
  docs/site/src/plugins/plausible/index.ts
  docs/site/src/types/plausible-tracker.d.ts
Due: none

refactor: remove disable functions for tip and extension policies
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/extension_policy.move
  contracts/walrus/sources/tip_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Update package.json
  docs/site/package.json
Due: none

fix lint
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/costs.mdx
  docs/site/src/plugins/plausible/index.ts
Due: none

fix lint
  docs/site/src/plugins/index.ts
  docs/site/src/plugins/plausible/index.ts
Due: none

fix lint
  docs/site/pnpm-lock.yaml
  docs/site/src/types/plausible-tracker.d.ts
Due: none

fix lint
  docs/site/src/plugins/client/index.ts
  docs/site/src/plugins/index.ts
  docs/site/src/plugins/plausible/client/index.ts
  docs/site/src/plugins/plausible/index.ts
  docs/site/src/types/plausible-tracker.d.ts
Due: none

feat: add invariant checking for ManagedBlobInfo
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove use_legacy_event_provider option (#2730)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-test-utils/Cargo.toml
  crates/walrus-test-utils/src/lib.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
