Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

updates
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/params.rs
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/README.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  .pre-commit-config.yaml
  crates/fan-out-proxy/README.md
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  .pre-commit-config.yaml
  .yamlfmt.yml
  Cargo.lock
  Cargo.toml
  crates/walrus-upload-relay/.gitignore
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/README.md
  crates/walrus-upload-relay/src/client.rs
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/metrics.rs
  crates/walrus-upload-relay/src/params.rs
  crates/walrus-upload-relay/src/tip.rs
  crates/walrus-upload-relay/src/tip/check.rs
  crates/walrus-upload-relay/src/tip/config.rs
  crates/walrus-upload-relay/src/tip/error.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
  docker/walrus-upload-relay/Dockerfile
  docker/walrus-upload-relay/build.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/README.md
  crates/walrus-upload-relay/src/client.rs
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/metrics.rs
  crates/walrus-upload-relay/src/params.rs
  crates/walrus-upload-relay/src/shared.rs
  crates/walrus-upload-relay/src/test_client.rs
  crates/walrus-upload-relay/src/tip.rs
  crates/walrus-upload-relay/src/tip/config.rs
  crates/walrus-upload-relay/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/params.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

retry reading first event blob when catching up
  crates/walrus-service/src/event/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added test.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update.
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: rename subsidies to credits, simplify code
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review comments
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: prepare testnet-contracts for upgrade
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus/docs/msg_formats.txt
  testnet-contracts/walrus/sources/display.move
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/active_set.move
  testnet-contracts/walrus/sources/staking/apportionment_queue.move
  testnet-contracts/walrus/sources/staking/committee.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/staking/staking_pool.move
  testnet-contracts/walrus/sources/staking/storage_node.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/bls_aggregate.move
  testnet-contracts/walrus/sources/system/event_blob.move
  testnet-contracts/walrus/sources/system/events.move
  testnet-contracts/walrus/sources/system/messages.move
  testnet-contracts/walrus/sources/system/shared_blob.move
  testnet-contracts/walrus/sources/system/storage_accounting.move
  testnet-contracts/walrus/sources/system/storage_resource.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/tests/e2e_runner.move
  testnet-contracts/walrus/tests/e2e_tests.move
  testnet-contracts/walrus/tests/staking/staking_inner_tests.move
  testnet-contracts/walrus/tests/system/blob_tests.move
  testnet-contracts/walrus/tests/system/deny_list_tests.move
  testnet-contracts/walrus/tests/system/storage_resource_tests.move
  testnet-contracts/walrus/tests/test_node.move
  testnet-contracts/walrus/tests/test_utils.move
Due: taplo-format, move-test

Move GitHub workflows inside CI/CD section
  docs/book/SUMMARY.md
  docs/book/walrus-sites/ci-cd-gh-secrets-vars.md
  docs/book/walrus-sites/ci-cd-gh-workflow.md
  docs/book/walrus-sites/ci-cd.md
Due: none

Fix invalid link in SUMMARY.md
  docs/book/SUMMARY.md
Due: none

Fix invalid links in ci-cd.md
  docs/book/walrus-sites/ci-cd.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/walrus-sites/ci-cd.html
Due: none

Delete unused page
  docs/book/walrus-sites/tutorial-github-deployment.md
Due: none

Add s3 gateway
  Cargo.lock
  Cargo.toml
  crates/walrus-s3-gateway/Cargo.toml
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/examples/usage_example.rs
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/error.rs
  crates/walrus-s3-gateway/src/handlers/bucket.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
  crates/walrus-s3-gateway/src/handlers/object.rs
  crates/walrus-s3-gateway/src/lib.rs
  crates/walrus-s3-gateway/src/metadata.rs
  crates/walrus-s3-gateway/src/s3_types.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add keys management
  Cargo.lock
  crates/walrus-s3-gateway/Cargo.toml
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
  crates/walrus-s3-gateway/src/handlers/object.rs
  crates/walrus-s3-gateway/src/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Working read only mode
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Auth WIP
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/credentials.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
  crates/walrus-s3-gateway/src/handlers/object.rs
  crates/walrus-s3-gateway/src/lib.rs
  crates/walrus-s3-gateway/src/metadata.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/test-write-ops.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Multi auth strategy setup
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/test_script.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add client side signing auth
  Cargo.lock
  crates/walrus-s3-gateway/Cargo.toml
  crates/walrus-s3-gateway/config-client-signing.toml
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/credentials.rs
  crates/walrus-s3-gateway/src/error.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Implement client signing
  crates/walrus-s3-gateway/CLIENT-SIDE-SIGNING.md
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY.md
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/credentials.rs
  crates/walrus-s3-gateway/src/error.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
  crates/walrus-s3-gateway/src/handlers/object.rs
  crates/walrus-s3-gateway/src/handlers/signing.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/test-client-signing.sh
  crates/walrus-s3-gateway/test-config.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Clean up obsolete files and documentation for client-side signing implementation
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config-client-signing.toml
  crates/walrus-s3-gateway/examples/usage_example.rs
  crates/walrus-s3-gateway/test-write-ops.sh
  crates/walrus-s3-gateway/test_script.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Finalize client-side signing implementation: clean documentation, fix warnings, optimize configs
  crates/walrus-s3-gateway/CLIENT-SIDE-SIGNING.md
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/credentials.rs
  crates/walrus-s3-gateway/src/handlers/bucket.rs
  crates/walrus-s3-gateway/src/metadata.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update docs
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY-NEW.md
  crates/walrus-s3-gateway/README-NEW.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

Create comprehensive test script: test-complete.sh with Sui wallet integration
  crates/walrus-s3-gateway/CLIENT-SIDE-SIGNING.md
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY-NEW.md
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY.md
  crates/walrus-s3-gateway/README-NEW.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/TEST-USAGE.md
  crates/walrus-s3-gateway/test-client-signing.sh
  crates/walrus-s3-gateway/test-complete.sh
Due: cargo-test, clippy-with-tests, clippy, cargo-doc
