Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

feat: Add env based auth support for rpc clients
  Cargo.lock
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/rpc_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  docs/book/operator-guide/storage-node.md
Due: none

first working version.
  Cargo.lock
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/cache.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): fix continuing event stream from init state
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/events.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: walrus v1.28.2 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: canonicalize log entries
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/provider.rs
  crates/walrus-sdk/src/blocklist.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client/retry_client/download_handler.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(dbtool): fix drop column family command
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/README.md
  docker/fan-out-proxy/Dockerfile
  docker/fan-out-proxy/build.sh
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/README.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

add more log
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix test_event_blob_local_fork_recovery timeout
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix test_event_blob_fork_recovery
  .github/workflows/code.yml
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up
  .github/workflows/code.yml
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(openapi): trim whitespace in descriptions
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): add `permanent` flag to CLI and publisher
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update pre-commit hooks and ignore typos in testnet and mainnet contracts
  .pre-commit-config.yaml
  _typos.toml
Due: taplo-format

refactor: some test improvements and refactoring in event_blob_downloader
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): enable node starting with incomplete event history
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_blob.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/events.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/events.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: make wallet path optional in config file
  setup/client_config.yaml
Due: none

Separate gh-action deploy into its own section inside walrus-sites docs.
  docs/book/SUMMARY.md
  docs/book/walrus-sites/tutorial-gh-secrets-vars.md
  docs/book/walrus-sites/tutorial-gh-workflow.md
  docs/book/walrus-sites/tutorial-github-deployment.md
  docs/book/walrus-sites/tutorial-local-publishing.md
Due: none

walrus-sitesd docs: Add more information about gh-action PR on publish
  docs/book/walrus-sites/tutorial-gh-workflow.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/searchindex.js
  pr-preview/pr-2264/searchindex.json
  pr-preview/pr-2264/walrus-sites/tutorial-gh-workflow.html
Due: none

Lint: Split long lines in md files
  docs/book/walrus-sites/tutorial-gh-secrets-vars.md
  docs/book/walrus-sites/tutorial-gh-workflow.md
  docs/book/walrus-sites/tutorial-github-deployment.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/searchindex.js
  pr-preview/pr-2264/searchindex.json
  pr-preview/pr-2264/walrus-sites/tutorial-gh-secrets-vars.html
  pr-preview/pr-2264/walrus-sites/tutorial-gh-workflow.html
  pr-preview/pr-2264/walrus-sites/tutorial-github-deployment.html
Due: none

Try satisfying md lints
  docs/book/SUMMARY.md
  docs/book/walrus-sites/tutorial-gh-secrets-vars.md
  docs/book/walrus-sites/tutorial-gh-workflow.md
Due: none

Fix the rest of the lint warnings
  docs/book/walrus-sites/tutorial-gh-secrets-vars.md
  docs/book/walrus-sites/tutorial-gh-workflow.md
  docs/book/walrus-sites/tutorial-github-deployment.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/walrus-sites/tutorial-gh-workflow.html
Due: none

checkpoint.
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

lint
  crates/walrus-core/src/encoding/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

error return types.
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move test to correct test target
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
