Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

ci: test mainnet-contracts when the directory is touched
  .github/workflows/code.yml
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/sources/wal.move
  mainnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

chore: migrate mainnet-contracts to new-style package management
  mainnet-contracts/subsidies/Move.lock
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/Move.lock
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/walrus/Move.lock
  mainnet-contracts/walrus/Move.toml
  mainnet-contracts/walrus_subsidies/Move.lock
  mainnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

chore: mainnet contract dir setup to match new package management (#3322)
  .github/workflows/code.yml
  mainnet-contracts/subsidies/Move.lock
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/Move.lock
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/wal/sources/wal.move
  mainnet-contracts/walrus/Move.lock
  mainnet-contracts/walrus/Move.toml
  mainnet-contracts/walrus_subsidies/Move.lock
  mainnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

chore: copy walrus_subsidies V2 code to mainnet-contracts
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  mainnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: move-test

chore(walrus_subsidies): record mainnet V2 upgrade
  mainnet-contracts/walrus_subsidies/Published.toml
Due: taplo-format, move-test

chore: walrus_subsidies mainnet contract upgrade (#3370)
  mainnet-contracts/walrus_subsidies/Published.toml
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  mainnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test

bump walrus_subsidies in development dir to V3
  contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test, move-format

fix: stop logging verify_blob_status_event Err for Deletable at WARN
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ubuntu-aarch64 release artifact shipped x86_64 walrus binaries
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: fix aarch64 release binary lookup
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: fix aarch64 release binary lookup (#3402)
  .github/workflows/attach-binaries-to-release.yml
Due: none

chore: default WALRUS_GRPC_MIGRATION_LEVEL to 100
  .github/workflows/code.yml
  CLAUDE.md
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump walrus_subsidies in development dir to V3 (#3401)
  contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test, move-format

chore: default WALRUS_GRPC_MIGRATION_LEVEL to 100 (#3404)
  .github/workflows/code.yml
  CLAUDE.md
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: default WALRUS_GRPC_MIGRATION_LEVEL to 100 (#3406)
  .github/workflows/code.yml
  CLAUDE.md
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: stop logging verify_blob_status_event Err for Deletable at WARN (#3405)
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add storage pool e2e simtests
  crates/walrus-simtest/tests/simtest_storage_pool.rs
  crates/walrus-sui/src/client/pooled_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus): add eventual consistency guidance for reading blobs after upload (BEDU-254)
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/site/sidebars.js
Due: none

docs(walrus): add final newline to reading-blobs-after-upload.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
Due: none

docs(walrus): address review feedback on BEDU-254
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  examples/typescript/retry_blob_with_backoff.ts
Due: none

docs(walrus): add license header and final newline
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  examples/typescript/retry_blob_with_backoff.ts
Due: none

fix: resolve build errors after Sui testnet-v1.73.0 bump
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus): clarify CDN-cached 404 framing and retry guidance
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  examples/typescript/retry_blob_with_backoff.ts
Due: none

test: retry rocksdb read-only open on transient corruption
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add highest downloaded checkpoint metrics (#3374)
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: blob_sync.start_sync returns SyncStatus via watch channel
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  Cargo.lock
  crates/walrus-simtest/tests/simtest_storage_pool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf: run GC phase 1 before execute_epoch_change (#3377)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: blob_sync.start_sync returns SyncStatus via watch channel (#3412)
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address more comments
  crates/walrus-simtest/tests/simtest_storage_pool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add storage pool e2e simtests (#3408)
  Cargo.lock
  crates/walrus-simtest/tests/simtest_storage_pool.rs
  crates/walrus-sui/src/client/pooled_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
Due: none

Update docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/reading-blobs.mdx
Due: none
