Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

not run WAL source fetch test by default
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(walrus-service): clarify confirmation long-poll helper
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(walrus-service): avoid test-utils-only garbage config
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(walrus-service): skip registration wait without pending slivers
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Long poll confirmation requests
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add notify based registration
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: keep longpoll server changes only
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/node/registration_notifier.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Update failing tests
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(walrus-service): enable confirmation long-poll default on testnet
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(walrus-service): default unlimited long-poll concurrency
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(walrus-service): cap in-flight confirmation long polls
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add a generic registration_notifier
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
  crates/walrus-service/src/node/registration_notifier.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix garbage collection change
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: address comments
  crates/walrus-service/src/node/registration_notifier.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

reduce slow DB op log rate by sampling
  .yamlfmt.yml
  Cargo.lock
  crates/typed-store/Cargo.toml
  crates/typed-store/src/rocks.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add coinbase WAL price fetcher (#2916)
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: grpc migration part 2 - batch object requests
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review feedback
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: introduce local Coin type for SDK abstraction
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/coin.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add license header
  crates/walrus-sui/src/coin.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: cleanup select_coins interface to prepare for grpc migration
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: introduce local Coin type for SDK abstraction (#2913)
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/coin.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: cleanup select_coins interface to prepare for grpc migration (#2914)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add debug logging
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

contract upgrade: price votes taking effect immediately
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_tests.move
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

chore: Trigger docs publish on all changes under docs (#2919)
  .github/workflows/publish-docs.yaml
Due: none

add redirect placeholders for all deleted/renamed pages
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/costs.mdx
  docs/content/dev-guide/data-security.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/dev-guide/sui-struct.mdx
  docs/content/usage/client-cli.mdx
  docs/content/usage/examples.mdx
  docs/content/usage/glossary.mdx
  docs/content/usage/json-api.mdx
  docs/content/usage/networks.mdx
  docs/content/usage/quilt.mdx
  docs/content/usage/sdks.mdx
  docs/content/usage/stake.mdx
  docs/content/usage/started.mdx
  docs/content/usage/web-api.mdx
  docs/content/walrus-sites/advanced.mdx
  docs/content/walrus-sites/authentication.mdx
  docs/content/walrus-sites/avoid-duplicate-content-seo.mdx
  docs/content/walrus-sites/bring-your-own-domain.mdx
  docs/content/walrus-sites/builder-config.mdx
  docs/content/walrus-sites/ci-cd-gh-secrets-vars.mdx
  docs/content/walrus-sites/ci-cd-gh-workflow.mdx
  docs/content/walrus-sites/ci-cd.mdx
  docs/content/walrus-sites/commands.mdx
  docs/content/walrus-sites/intro.mdx
  docs/content/walrus-sites/linking.mdx
  docs/content/walrus-sites/overview.mdx
  docs/content/walrus-sites/portal.mdx
  docs/content/walrus-sites/redirects.mdx
  docs/content/walrus-sites/restrictions.mdx
  docs/content/walrus-sites/routing.mdx
  docs/content/walrus-sites/tutorial-install.mdx
  docs/content/walrus-sites/tutorial-publish.mdx
  docs/content/walrus-sites/tutorial-suins.mdx
  docs/content/walrus-sites/tutorial.mdx
  docs/site/check-routes.sh
  docs/site/docusaurus.config.js
  docs/site/package-lock.json
  docs/site/package.json
  docs/site/ws-resources.json
Due: none

add redirect placeholders for all deleted/renamed pages
  docs/site/pnpm-lock.yaml
Due: none

add redirect placeholders for all deleted/renamed pages
  docs/site/check-routes.sh
  docs/site/docusaurus.config.js
  docs/site/package-lock.json
  docs/site/static/portals.json
  docs/site/ws-resources.json
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
