Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

updates
  docs/book/usage/setup.md
Due: none

updates
  docs/book/usage/setup.md
  scripts/walrus-install.sh
Due: none

updates
  scripts/walrus-install.sh
Due: none

ignore initial params sync failures.
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

deprecated ignore_sync_error
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): add bring-your-own-domain section
  docs/book/SUMMARY.md
  docs/book/walrus-sites/bring-your-own-domain.md
  docs/book/walrus-sites/portal.md
Due: none

Fix build issue
  docs/book/walrus-sites/bring-your-own-domain.md
Due: none

Simplified tests.
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fixed protocol key test.
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added failover client.
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: improvements to catchup downloader
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added simtest without compile it.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added latest_checkpoint_sequence_number in Health.
  crates/walrus-sdk/src/api.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added test.
  Cargo.lock
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Wrap retry_rpc_errors with with_failover.
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added # of fullnodes.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui to testnet-v1.45.2
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  deny.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

Update .github/actions/build-mdbook/action.yaml
  .github/actions/build-mdbook/action.yaml
Due: none

Disable porper names
  docs/book/usage/web-api.md
Due: none

chore: some repository cleanup
  .github/workflows/lint.yml
  .github/workflows/publish-docs.yaml
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  README.md
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking/active_set.move
  contracts/walrus/sources/staking/staking_inner.move
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/inconsistency.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-orchestrator/src/orchestrator.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/client/read_client.rs
  docs/book/operator-guide/aggregator.md
  docs/book/operator-guide/storage-node.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Update docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/portal.md
Due: none

Update docs/book/walrus-sites/bring-your-own-domain.md
  docs/book/walrus-sites/bring-your-own-domain.md
Due: none

Fix lint errors
  docs/book/walrus-sites/bring-your-own-domain.md
  docs/book/walrus-sites/portal.md
Due: none

Walrus v1.18.2 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Revert accidental deletion.
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fixed accounting bug.
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Pin lint GitHub Actions to commit hashes
  .github/workflows/lint.yml
Due: none

Pin pages-preview GitHub Actions to commit hashes
  .github/workflows/pages-preview.yaml
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
