Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

wip
  Cargo.lock
  Cargo.toml
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/controller.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix some errors
  crates/fan-out-proxy/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update function names.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

almost there, query serialization is borked
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update Move.lock
  mainnet-contracts/walrus/Move.lock
Due: move-test

Deploying to gh-pages from @ MystenLabs/walrus@deb246d623bf7c2298208c27b97ec7e66f86268a 🚀
  assets/operators.json
Due: none

fix(fanout): change post to put
  crates/fan-out-proxy/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove the old RaptorQ-based encoding
  Cargo.lock
  Cargo.toml
  crates/walrus-core/Cargo.toml
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/by_axis.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/basic_encoding/raptorq.rs
  crates/walrus-core/src/encoding/basic_encoding/reed_solomon.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/common.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/mapping.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/responses.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): add a ci-cd section with an example gh action
  docs/book/SUMMARY.md
  docs/book/walrus-sites/ci-cd.md
Due: none

Update gh action and remove --force & hard coded context
  docs/book/walrus-sites/ci-cd.md
Due: none

Create additional examples section
  docs/book/walrus-sites/ci-cd.md
Due: none

Deploy preview for PR 2117 🛫
  pr-preview/pr-2117/assets/operators.json
  pr-preview/pr-2117/blog/01_announcing_walrus.html
  pr-preview/pr-2117/legal/privacy.html
  pr-preview/pr-2117/print.html
  pr-preview/pr-2117/searchindex.js
  pr-preview/pr-2117/searchindex.json
  pr-preview/pr-2117/usage/networks.html
  pr-preview/pr-2117/usage/setup.html
  pr-preview/pr-2117/usage/web-api.html
  pr-preview/pr-2117/walrus-sites/tutorial-publish.html
Due: none

Use 2 as the number of spaces for indentation inside the YAML
  docs/book/walrus-sites/ci-cd.md
Due: none

Deploy preview for PR 2117 🛫
  pr-preview/pr-2117/print.html
  pr-preview/pr-2117/walrus-sites/ci-cd.html
Due: none

Make the admonish warning more descriptive
  docs/book/walrus-sites/ci-cd.md
Due: none

Deploy preview for PR 2117 🛫
  pr-preview/pr-2117/print.html
  pr-preview/pr-2117/searchindex.js
  pr-preview/pr-2117/searchindex.json
  pr-preview/pr-2117/walrus-sites/ci-cd.html
Due: none

fix(fanout): parsing of the put query
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/params.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

minor change in test docstring
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: ignore some long-running tests by default
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/src/node.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated tests.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

track sui client metrics
  crates/fan-out-proxy/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

lint
  crates/fan-out-proxy/src/params.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(fanout): only require the tip, not the registration
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Move generate_random_data to test_utils.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-test-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Replace env.* with vars.*
  docs/book/walrus-sites/ci-cd.md
Due: none

feat(fanout): only check tips and tx if we want a tip
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: fix release generation
  Cargo.lock
  scripts/release_notes.py
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

feat(backfill): add initial backfill function
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui version to v1.49.2
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

get some CLI boilerplate up for processing incoming blobs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

further plumbing
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

mod backfill - run_blob_backfill starter code
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update comments
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

mostly code complete end-to-end but untested
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
