Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

update workflowg
  .github/workflows/lint.yml
Due: none

docs: more markdownlint fixes
  docs/book/dev-guide/data-security.md
Due: none

fix tests too
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

Address comments
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  Cargo.lock
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: trying to fix line length markdown lint alerts
  docs/book/dev-guide/data-security.md
  docs/book/usage/sdks.md
Due: none

antithesis setup
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Adjust number of download workers in case of extended failures
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

set sui-amount
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
Due: none

feat: Increase default block cache size
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Delete uncertified blobs from filesystem when resetting
  crates/walrus-service/src/node/events/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.21.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactored.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(service): fix invalid docstring diagram in EventBlobWriter
  crates/walrus-service/src/node/events/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Reuse UnencodedBlob as a field for other variants.
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup: reorder the functions.
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added default impl of creating a list of UnencodedBlob
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add registry wrapper than allows retrieving metrics
  Cargo.lock
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/metrics.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Simple search for cache in headers
  docs/book/assets/operators.json
  scripts/cache-inference/headers-inference.ts
  scripts/cache-inference/package.json
  scripts/cache-inference/tsconfig.json
  scripts/cache-inference/types.ts
Due: none

fix: remove the use of the metric_set_instance_id
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/metrics.rs
  crates/walrus-sdk/src/client/builder.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/communication/factory.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/metrics.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/tokio.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add docs on the authenticated publisher
  crates/walrus-service/src/client/cli/args.rs
  docs/book/SUMMARY.md
  docs/book/operator-guide/aggregator.md
  docs/book/operator-guide/auth-publisher.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: simplify wording for gas errors
  crates/walrus-service/src/client/error.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): change NodeResult to normal struct from tuple struct (#1861)
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/communication/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Limit fallback for NotFound checkpoint errors
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: support removing labels in walrus-proxy
  crates/walrus-proxy/src/admin.rs
  crates/walrus-proxy/src/config.rs
  crates/walrus-proxy/src/consumer.rs
  crates/walrus-proxy/src/handlers.rs
  crates/walrus-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rustfmt
  crates/walrus-proxy/src/handlers.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make it optional
  crates/walrus-proxy/src/config.rs
  crates/walrus-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Cleanup
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

lint
  crates/walrus-proxy/src/consumer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Fix the checkpoint height computation
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixed None.
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
