Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

address upgrade compatibility
  contracts/walrus/sources/init.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(node): add index check to sliver PUT endpoint
  .github/workflows/code.yml
  .github/workflows/update-ws-install.yaml
  crates/walrus-core/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.42.1 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): add index check to sliver PUT endpoint (#2965)
  .github/workflows/code.yml
  .github/workflows/update-ws-install.yaml
  crates/walrus-core/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): add index check to sliver PUT endpoint (#2966)
  .github/workflows/code.yml
  .github/workflows/update-ws-install.yaml
  crates/walrus-core/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

consolidate information
  docs/content/sites/getting-started/configuration-file-reference.mdx
  docs/content/sites/getting-started/installing-the-site-builder.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
Due: none

add google tag manager
  docs/site/docusaurus.config.js
  docs/site/src/theme/Root.tsx
  docs/site/static/google-tag.js
Due: none

Update docusaurus.config.js
  docs/site/docusaurus.config.js
Due: none

fix
  docs/site/src/theme/Root.tsx
  docs/site/static/google-tag.js
Due: none

Deploy preview for PR 2968 🛫
  pr-preview/pr-2968/google-tag.js
Due: none

fix
  docs/site/src/theme/Root.tsx
Due: none

docs: add Google Tag Manager (#2968)
  docs/site/docusaurus.config.js
  docs/site/src/theme/Root.tsx
  docs/site/static/google-tag.js
Due: none

implement basic slashing logic
  contracts/walrus/sources/slashing.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/slashing_test.move
Due: move-test, move-format

feat: Add long poll client side changes (#2943)
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

emit event when onchain price is updated
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/tests/e2e_tests.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

add a skill for prod inspection
  .claude/skills/inspect-walrus-network/SKILL.md
Due: none

feat: skill for walrus prod inspection (#2972)
  .claude/skills/inspect-walrus-network/SKILL.md
Due: none

feat: emit event when on chain price is updated (#2971)
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/tests/e2e_tests.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

address comments
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/slashing_test.move
Due: move-test, move-format

feat: implement basic slashing logic (#2970)
  contracts/walrus/sources/slashing.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/slashing_test.move
Due: move-test, move-format

vote price
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

separate VotingParams used in contract and config
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

stable pricing update
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add stable pricing config
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove old price update API in contract service
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove test setup in slashing_test.move, and reuse setup_committee_for_epoch_one
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/slashing_test.move
Due: move-test, move-format

VotingPrices struct change
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create slasshing manager during state migration
  contracts/walrus/sources/init.move
  contracts/walrus/sources/slashing.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
Due: move-test, move-format

do not emit update price event yet
  contracts/walrus/sources/staking.move
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

walrus sites config IA revisions
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/configuration/setting-up-routing-rules.mdx
  docs/content/sites/configuration/site-configuration.mdx
  docs/content/sites/configuration/specifying-http-headers.mdx
  docs/site/sidebars.js
Due: none

fix: do not emit update price event yet (#2975)
  contracts/walrus/sources/staking.move
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

address comments
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-sui/src/types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
