Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: reduce excessive logs around cancelling blob syncs (cherry-pick) (#2366)
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  docs/book/operator-guide/aggregator.md
  docs/book/usage/quilt.md
Due: none

Deploy preview for PR 2362 🛫
  pr-preview/pr-2362/operator-guide/aggregator.html
  pr-preview/pr-2362/print.html
  pr-preview/pr-2362/searchindex.js
  pr-preview/pr-2362/searchindex.json
  pr-preview/pr-2362/usage/quilt.html
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@ee9f4327a5096a6afeaefd6a0fd1a40ca3260d74 🚀
  operator-guide/aggregator.html
  print.html
  searchindex.js
  searchindex.json
  usage/quilt.html
Due: none

ci: fix GCP bucket name
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: fix GCP bucket name for upload
  .github/workflows/attach-binaries-to-release.yml
Due: none

docs: remove outdated warnings about Testnet v3
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@7c5ee7e9df1cba90a349580465c3c77458a1d5c4 🚀
  print.html
  searchindex.js
  searchindex.json
  usage/networks.html
  usage/setup.html
Due: none

fix(node): fix handling of invalid blobs and deletions with incomplete history
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update Move.lock after upgrade
  mainnet-contracts/walrus/Move.lock
Due: move-test

docs: update the sites configuration
  docs/book/walrus-sites/tutorial-install.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@8d57ea890af5f7795a79daab0dea1de5e17f5474 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/tutorial-install.html
Due: none

fix: use correct version in testnet-contracts
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test, move-format

fix: correct Move.lock files for walrus and subsidies
  mainnet-contracts/subsidies/Move.lock
  mainnet-contracts/walrus/Move.lock
Due: move-test

chore: deploy walrus_subsidies
  mainnet-contracts/walrus_subsidies/Move.lock
Due: move-test

chore: prepare contracts for upgrade/deployment
  mainnet-contracts/subsidies/sources/subsidies.move
  mainnet-contracts/subsidies/tests/subsidies_tests.move
  mainnet-contracts/walrus_subsidies/Move.lock
  mainnet-contracts/walrus_subsidies/Move.toml
  mainnet-contracts/walrus_subsidies/sources/epoch_balance.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  mainnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test

feat: Upgrade sui version to testnet-v1.52.1
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

feat: Move test_quorum_contract_upgrade test to simtest env
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Remove legacy event processor from the codebase
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create client op generator
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/epoch_length_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add random blob generator
  Cargo.lock
  Cargo.toml
  crates/walrus-stress/Cargo.toml
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

define single client workload input arg
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add basic execution loop
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create single_client_workload_config
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_args.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add simtest; add test for blob pool
  Cargo.lock
  Cargo.toml
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/lib.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_generator.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/epoch_length_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup and add TODOs
  Cargo.lock
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_generator.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Skip event blob attestation for non committee members
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup database table options
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

seperate DatabaseConfig and options used in column families
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update subsidies Move.lock after upgrade
  mainnet-contracts/subsidies/Move.lock
Due: move-test

fix: remove testnet env from walrus_subsidies Move.lock
  mainnet-contracts/walrus_subsidies/Move.lock
Due: move-test

feat(backfill): add initial backfill function
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

get some CLI boilerplate up for processing incoming blobs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
