Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Update docusaurus.config.js
  docs/site/docusaurus.config.js
Due: none

feat(client): Wire upload intent into client code
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-storage-node-client/src/client.rs
  crates/walrus-storage-node-client/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Add a metric to track recovery without deferral
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix WAL-874 and WAL-876 - shutdown coordination
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_event_processor/pending_events.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address PR review feedback
  docs/content/design/objectives_use_cases.mdx
Due: none

fix: WAL-874 and WAL-876 - shutdown coordination (#2754)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_event_processor/pending_events.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Add a metric to track recovery without deferral (#2760)
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Fix racing notification b/w catchup and checkpoint tailing
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Improved grace period logic.
  contracts/walrus/sources/blob_manager.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix: Fix racing notification b/w catchup and checkpoint tailing (#2767)
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update fastcrypto
  Cargo.lock
  Cargo.toml
  deny.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(node): enable garbage collection by default
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update docs/site/docusaurus.config.js
  docs/site/docusaurus.config.js
Due: none

docs: Fix redirects with Docusaurus plugin (#2770)
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/css/custom.css
  docs/site/src/theme/Root.tsx
Due: none

Update docs/content/design/objectives_use_cases.mdx
  docs/content/design/objectives_use_cases.mdx
Due: none

fix walrus pdf
  docs/site/src/pages/walrus-pdf.js
Due: none

fix(ci): Use 1 SUI for gas-budget for docs-site update
  .github/workflows/publish-docs.yaml
Due: none

docs: fix walrus.pdf displaying in browser (#2773)
  docs/site/src/pages/walrus-pdf.js
Due: none

docs: objectives and use cases revision (#2771)
  docs/content/design/objectives_use_cases.mdx
Due: none

Upgrade slack api to v2
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

add code for testing
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

remove test changes
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

chore: remove single recovery symbol endpoint (#2755)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Upgrade slack api to v2 (#2775)
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix(ci): Use 1 SUI for gas-budget for docs-site update (#2774)
  .github/workflows/publish-docs.yaml
Due: none
