Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

feat: coordinate Strata registrations and foreground puts
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/strata_queue.rs
  crates/walrus-service/src/node/storage/strata_queue/integration_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/tests.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: queue Strata lifetime updates for blob extensions
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/strata_queue.rs
  crates/walrus-service/src/node/storage/strata_queue/extension_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/integration_tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: queue Strata lifetime updates for storage pool extensions
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/strata_queue/integration_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/pool_extension_tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: expand Strata pool extensions in the background
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_info/strata_pool_extensions.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/strata_queue.rs
  crates/walrus-service/src/node/storage/strata_queue/pool_extension_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/worker.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

perf: visit only the non-systematic sliver pairs when expanding
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: encode only the node's own sliver pairs for blob info snapshots (#3758)
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: certify blob info snapshots on chain from the storage node (#3814)
  Cargo.lock
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot_publication.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: reconcile Strata lifetimes at epoch boundaries
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_info/strata_pool_extensions.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
  crates/walrus-service/src/node/storage/strata_lifecycle/coordination.rs
  crates/walrus-service/src/node/storage/strata_lifecycle/database.rs
  crates/walrus-service/src/node/storage/strata_queue.rs
  crates/walrus-service/src/node/storage/strata_queue/extension_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/integration_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/pool_extension_tests.rs
  crates/walrus-service/src/node/storage/strata_queue/tests.rs
  crates/walrus-service/src/node/storage/strata_queue/worker.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: certify blob info snapshots from the storage node (#3814, #3758) (#3835)
  Cargo.lock
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot_publication.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf(node): skip the blob-info lookup while a node is catching up (#3789)
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: reconcile Strata before current-epoch recovery
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: reconcile a single Strata epoch per call
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: bootstrap a brand-new node from the latest certified blob info snapshot
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_info_snapshot_bootstrap.rs
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: check that a blob info snapshot load matches event replay
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a db-tool command to load a blob info snapshot into a stopped node
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a db-tool command to verify a blob info snapshot against a blob ID
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: bound blob info snapshot length prefixes before allocating
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a db-tool command to decode blob info snapshots
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: move the blob info snapshot decoder next to the writer
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: keep the event sequencer in step with a blob info snapshot load
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add a simtest for bootstrapping a new node from a certified snapshot
  crates/walrus-service/src/node/blob_info_snapshot_bootstrap.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: show the full error chain when a simtest node stops
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: retry reading the certified blob info snapshot during bootstrap
  crates/walrus-service/src/node/blob_info_snapshot_bootstrap.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fail startup with an actionable error when a node is too far behind
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: run Strata epoch reconciliation in the background
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: clarify Strata reconciliation epoch selection
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: explain Strata epoch reconciliation checkpoints
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: repair Strata simulation build and clarify reconciliation naming
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: repair 20 broken heading anchors (#3817)
  docs/blog/04_testnet_update.mdx
  docs/blog/05_testnet_redeployment.mdx
  docs/content/http-api/quilt-http-apis.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/operator-guide/aggregators/operating-aggregator.mdx
  docs/content/operator-guide/limitations.mdx
  docs/content/operator-guide/publishers/operating-publisher.mdx
  docs/content/operator-guide/storage-nodes/commission-governance.mdx
  docs/content/operator-guide/upload-relay.mdx
  docs/content/system-overview/available-networks.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/operations.mdx
  docs/content/system-overview/quilt.mdx
Due: none

docs: update page metadata for search and AI discovery (#3820)
  docs/content/system-overview/index.mdx
Due: none

docs: fix redirect chains and broken redirect destinations (#3823)
  docs/site/vercel.json
Due: none

docs(editorial): add release summaries for v1.44.1-v1.57.0
  docs/content/release-notes/walrus-memory.mdx
  docs/content/release-notes/walrus-platform.mdx
  docs/content/release-notes/walrus-sites.mdx
  docs/editorial/walrus-v1.44.1.md
  docs/editorial/walrus-v1.44.2.md
  docs/editorial/walrus-v1.51.1.md
  docs/editorial/walrus-v1.51.2.md
  docs/editorial/walrus-v1.52.0.md
  docs/editorial/walrus-v1.52.1.md
  docs/editorial/walrus-v1.53.0.md
  docs/editorial/walrus-v1.54.0.md
  docs/editorial/walrus-v1.55.1.md
  docs/editorial/walrus-v1.55.2.md
  docs/editorial/walrus-v1.56.0.md
  docs/editorial/walrus-v1.56.1.md
  docs/editorial/walrus-v1.57.0.md
  docs/site/src/data/changelog.json
Due: none

docs(editorial): add Walrus Sites release summaries v0.1.0-v2.12.0
  docs/content/release-notes/walrus-memory.mdx
  docs/content/release-notes/walrus-platform.mdx
  docs/content/release-notes/walrus-sites.mdx
  docs/editorial/walrus-sites-v0.1.0.md
  docs/editorial/walrus-sites-v1.0.2.md
  docs/editorial/walrus-sites-v1.1.0.md
  docs/editorial/walrus-sites-v1.2.0.md
  docs/editorial/walrus-sites-v1.2.1.md
  docs/editorial/walrus-sites-v1.3.0.md
  docs/editorial/walrus-sites-v1.3.1.md
  docs/editorial/walrus-sites-v2.0.0.md
  docs/editorial/walrus-sites-v2.1.0.md
  docs/editorial/walrus-sites-v2.1.1.md
  docs/editorial/walrus-sites-v2.1.2.md
  docs/editorial/walrus-sites-v2.10.0.md
  docs/editorial/walrus-sites-v2.11.0.md
  docs/editorial/walrus-sites-v2.12.0.md
  docs/editorial/walrus-sites-v2.2.1.md
  docs/editorial/walrus-sites-v2.3.0.md
  docs/editorial/walrus-sites-v2.3.1.md
  docs/editorial/walrus-sites-v2.4.0.md
  docs/editorial/walrus-sites-v2.6.0.md
  docs/editorial/walrus-sites-v2.7.0.md
  docs/editorial/walrus-sites-v2.8.0.md
  docs/editorial/walrus-sites-v2.9.0.md
  docs/editorial/walrus-sites-v2.9.1.md
  docs/editorial/walrus-sites-v2.9.2.md
  docs/site/src/data/changelog.json
Due: none

docs(editorial): add Walrus Memory package release summaries
  docs/content/release-notes/walrus-memory.mdx
  docs/content/release-notes/walrus-platform.mdx
  docs/content/release-notes/walrus-sites.mdx
  docs/editorial/memwal-mcp-v0.0.10.md
  docs/editorial/memwal-mcp-v0.0.11.md
  docs/editorial/memwal-mcp-v0.0.12.md
  docs/editorial/memwal-mcp-v0.0.13.md
  docs/editorial/memwal-mcp-v0.0.14.md
  docs/editorial/memwal-mcp-v0.0.6.md
  docs/editorial/memwal-mcp-v0.0.7.md
  docs/editorial/memwal-mcp-v0.0.8.md
  docs/editorial/memwal-openclaw-v0.0.6.md
  docs/editorial/memwal-python-v0.1.10.md
  docs/editorial/memwal-python-v0.1.11.md
  docs/editorial/memwal-python-v0.1.5.md
  docs/editorial/memwal-python-v0.1.6.md
  docs/editorial/memwal-python-v0.1.7.md
  docs/editorial/memwal-python-v0.1.8.md
  docs/editorial/memwal-python-v0.1.9.md
  docs/editorial/memwal-sdk-v0.1.0.md
  docs/editorial/memwal-sdk-v0.1.1.md
  docs/editorial/memwal-sdk-v0.1.2.md
  docs/editorial/memwal-sdk-v0.1.3.md
  docs/editorial/memwal-sdk-v0.1.4.md
  docs/editorial/memwal-sdk-v0.1.5.md
  docs/editorial/memwal-sdk-v0.1.6.md
  docs/editorial/memwal-sdk-v0.1.7.md
  docs/editorial/memwal-sdk-v0.1.8.md
  docs/site/src/data/changelog.json
Due: none

docs: update Walrus Console pages for GA
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/faq.mdx
  docs/content/console/mcp-server.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

feat: log each step of the blob info snapshot bootstrap
  crates/walrus-service/src/node/blob_info_snapshot_bootstrap.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not bootstrap from a snapshot when event blobs reach the first event
  crates/walrus-service/src/node/blob_info_snapshot_bootstrap.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update Walrus Console pages for GA (#3834)
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/faq.mdx
  docs/content/console/mcp-server.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
