Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Add metrics to metadata and sliver upload
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Run taplo
  contracts/subsidies/Published.toml
  contracts/wal/Published.toml
  contracts/walrus/Published.toml
  mainnet-contracts/subsidies/Published.toml
  mainnet-contracts/wal/Published.toml
  mainnet-contracts/walrus/Published.toml
  mainnet-contracts/walrus_subsidies/Published.toml
  testnet-contracts/subsidies/Published.toml
  testnet-contracts/wal/Published.toml
  testnet-contracts/wal_exchange/Published.toml
  testnet-contracts/walrus/Published.toml
  testnet-contracts/walrus_subsidies/Published.toml
Due: taplo-format, move-test

re-add red-stuff doc
  docs/content/system-overview/red-stuff.mdx
  docs/site/sidebars.js
  docs/site/ws-resources.json
Due: none

update logos
  docs/site/static/img/favicon.ico
  docs/site/static/img/logo.svg
Due: none

lint
  docs/content/system-overview/red-stuff.mdx
Due: none

Remove contracts published info
  contracts/subsidies/Published.toml
  contracts/wal/Published.toml
  contracts/walrus/Published.toml
Due: taplo-format, move-test

redstuff
  docs/content/system-overview/red-stuff.mdx
  docs/site/docusaurus.config.js
  docs/site/static/portals.json
Due: none

docs: re-add Red Stuff doc (#2994)
  docs/content/system-overview/images/blob-hash.png
  docs/content/system-overview/images/sliver-hash.png
  docs/content/system-overview/red-stuff.mdx
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/sidebars.js
  docs/site/ws-resources.json
Due: none

Update docs/content/sites/getting-started/installing-the-site-builder.mdx
  docs/content/sites/getting-started/installing-the-site-builder.mdx
Due: none

Update docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
Due: none

Remove mainnet for testnet contracts
  testnet-contracts/walrus/Published.toml
Due: taplo-format, move-test

upload latency test
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address further feedback
  docs/content/sites/getting-started/installing-the-site-builder.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
Due: none

add_commission checks epoch status. if it is before ParameterSelected, add the amount to blocked amount
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
Due: move-test, move-format

clear blocked committee needs to clear previous committee as well
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

add a threshold when updating onchain pricing
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tests
  contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat: add a difference threshold when updating on chain pricing (#2989)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

usage independent subsidy pays for previous epoch's committee
  contracts/walrus/sources/staking.move
  contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: move-test, move-format

feat: Add metrics to metadata and sliver upload (#2992)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add metrics to metadata and sliver upload (#2992) (#3001)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add Published.toml files for all packages (#2993)
  mainnet-contracts/subsidies/Published.toml
  mainnet-contracts/wal/Published.toml
  mainnet-contracts/walrus/Published.toml
  mainnet-contracts/walrus_subsidies/Published.toml
  testnet-contracts/subsidies/Published.toml
  testnet-contracts/wal/Published.toml
  testnet-contracts/wal_exchange/Published.toml
  testnet-contracts/walrus/Published.toml
  testnet-contracts/walrus_subsidies/Published.toml
Due: taplo-format, move-test
