Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Update link to stake.wal.app
  docs/book/walrus-sites/ci-cd-gh-secrets-vars.md
Due: none

Link directly to stake.wal.app testnet environment
  docs/book/walrus-sites/ci-cd-gh-secrets-vars.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/walrus-sites/ci-cd-gh-secrets-vars.html
Due: none

docs: improve installation instructions
  .github/workflows/update-ws-install.yaml
  docs/book/usage/setup.md
Due: none

chore: rename `should_process_event` function
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix merge conflicts
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix tests
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix Move.lock compiler-versions
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

review
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-upload-relay/Cargo.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(fanout): update readme
  crates/walrus-upload-relay/README.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

fix Move locks
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

updated costs for Quilt.
  docs/book/dev-guide/costs.md
Due: none

cleanup
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest_test_long_node_recovery
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Continue node recovery upon restart if the recovery takes longer than 1 epoch to finish
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use a watch channel to set latest_event_epoch
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.28.2 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

updates.
  docs/book/usage/client-cli.md
Due: none

allow current_event_epoch to be optional, and skip events before the first epoch change when recovering from an incomplete history
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

start_node_recovery hooks to previous blob sync notify handle
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added glosary
  docs/book/glossary.md
  docs/book/usage/client-cli.md
  docs/book/usage/quilt.md
Due: none

Deploy preview for PR 2272 🛫
  pr-preview/pr-2272/glossary.html
  pr-preview/pr-2272/print.html
  pr-preview/pr-2272/searchindex.js
  pr-preview/pr-2272/searchindex.json
  pr-preview/pr-2272/usage/client-cli.html
  pr-preview/pr-2272/usage/quilt.html
Due: none

seperate current_event_epoch implementation to wait for it to be populated
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add test
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: [cherry-pick] monitor scope preserve scope (#2295) (#2301)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): configurable sampled tracing interval with increased default
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/monitored_scope.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: ignore long-running-test by default
  crates/walrus-sui/src/client/retry_client/download_handler.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: move Restore command out of LocalAdmin. (#2297) (#2304)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated video list.
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  docs/book/dev-guide/costs.md
  docs/book/glossary.md
  docs/book/usage/quilt.md
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
