Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: do not replicate in memory slivers (#2886)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not replicate in memory slivers (#2886) (#2910)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add background task to continously fetch wal token price via coingecko
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update tusky-migration-guide.mdx
  docs/content/tusky-migration-guide.mdx
Due: none

docs: Update Tusky cutoff date (#2912)
  docs/content/tusky-migration-guide.mdx
Due: none

fix paths
  docs/blog/01_announcing_walrus.mdx
  docs/blog/02_devnet_update.mdx
  docs/blog/03_whitepaper.mdx
  docs/blog/04_testnet_update.mdx
  docs/blog/05_testnet_redeployment.mdx
  docs/blog/06_mainnet.mdx
  docs/content/design/architecture.mdx
  docs/content/design/encoding.mdx
  docs/content/design/objectives_use_cases.mdx
  docs/content/examples.mdx
  docs/content/getting-started/index.mdx
  docs/content/http-api/quit-http-apis.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/commission-governance.mdx
  docs/content/operator-guide/upload-relay.mdx
  docs/content/sites/configuration/configuration-file-reference.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/introduction/components.mdx
  docs/content/sites/introduction/technical-overview.mdx
  docs/content/system-overview/available-networks.mdx
  docs/content/system-overview/components.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/operations.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/content/system-overview/quilt.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/sui-object-and-blob-ids.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/tusky-migration-guide.mdx
  docs/content/typescript-sdk/sdks.mdx
  docs/content/walrus-client/configuration.mdx
  docs/content/walrus-client/json-mode.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/site/ws-resources.json
Due: none

Walrus v1.41.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix paths
  docs/blog/01_announcing_walrus.mdx
  docs/blog/03_whitepaper.mdx
  docs/blog/06_mainnet.mdx
  docs/content/data-security.mdx
  docs/content/design/architecture.mdx
  docs/content/design/encoding.mdx
  docs/content/design/operations-sui.mdx
  docs/content/getting-started/advanced-setup.mdx
  docs/content/getting-started/index.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
  docs/content/sites/getting-started/installing-the-site-builder.mdx
  docs/content/system-overview/available-networks.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/tusky-migration-guide.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/site/src/pages/index.mdx
Due: none

fix paths
  docs/content/sites/introduction/components.mdx
  docs/content/sites/introduction/technical-overview.mdx
Due: none

feat: Add json output for child process uploads
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix paths
  docs/content/http-api/managing-blobs.mdx
  docs/content/http-api/quit-http-apis.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/custom-domains/dns-configuration.mdx
  docs/content/sites/getting-started/updating-an-existing-site.mdx
  docs/content/sites/getting-started/viewing-and-testing-your-site.mdx
  docs/content/sites/linking/linking-from-walrus-sites.mdx
  docs/content/sites/linking/linking-to-walrus-sites.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/sites/troubleshooting.mdx
  docs/content/system-overview/sui-object-and-blob-ids.mdx
  docs/content/troubleshooting/network-errors.mdx
  docs/content/typescript-sdk/installation-and-setup.mdx
  docs/content/typescript-sdk/managing-blobs.mdx
  docs/content/typescript-sdk/reading-blobs.mdx
  docs/content/typescript-sdk/storing-blobs.mdx
  docs/site/sidebars.js
  docs/site/static/portals.json
Due: none

fix paths
  docs/content/sites/custom-domains/setting-a-suins-name.mdx
  docs/content/sites/getting-started/configuration-file-reference.mdx
  docs/content/sites/linking/avoiding-duplicate-content-seo.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
Due: none

fix paths
  docs/content/sites/getting-started/publishing-your-first-site.mdx
Due: none

update routing
  docs/site/ws-resources.json
Due: none

Create WalPriceFetcher trait; revise WalPriceMonitorConfig
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add coinbase price fetcher
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add background task to continously fetch wal token price via coingecko (#2911)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/wal_price_monitor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add pyth pricing feed
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: grpc migration part 2 - batch object requests
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

allow missing owner_version
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

implement switching on grpc migration level
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename fn
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review feedback
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

staging-new-ia
  docs/content/usage/troubleshooting.mdx
  docs/site/docusaurus.config.js
  docs/site/static/portals.json
  docs/site/ws-resources.json
Due: none

chore: grpc migration part 2 - batch object requests (#2884)
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Trigger docs publish on all changes under docs
  .github/workflows/publish-docs.yaml
Due: none

feat: add pyth pricing feed (#2917)
  crates/walrus-service/src/node/wal_price_monitor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
