Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

chore: refactor e2e test setup code
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: test contract upgrades from previous contract version
  contracts/README.md
  contracts/subsidies/sources/subsidies.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

run move package compilation in blocking task
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove legacy recovery symbols logic
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: broken link
  docs/book/operator-guide/aggregator.md
Due: none

fix: add example of why disable checks
  docs/book/operator-guide/auth-publisher.md
Due: none

disable simtest for upgrade test
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make recursive copying async
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Alphabetize glossary and add missing terms
  docs/book/glossary.md
Due: none

resolved comments.
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add an option to request additional symbols initially during sliver recovery
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add TODO to change event processor default for tests
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): prevent panic in genesis epoch
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update operators.json with new cache measurements
  docs/book/assets/operators.json
  scripts/cache-inference/package-lock.json
Due: none

ci: remove content perms
  .github/workflows/attach-binaries-to-release.yml
Due: none

Use correct token
  .github/workflows/create-release.yml
Due: none

fix blob extension shard check
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

event lagging account for blob extension
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: use ref_name
  .github/workflows/attach-binaries-to-release.yml
Due: none

refactor: make modules for retriable_*_clients
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up process event function
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.22.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Add sui client timeout config
  Cargo.lock
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/Cargo.toml
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/utils.rs
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address conflicts
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/utils.rs
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Load configuration from env WALRUS_CONFIG if specified
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add nix flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
  justfile
Due: none

flake: Correctly set mainProgram
  flake.nix
Due: none

chore: add a "crumb" macro to walrus_utils for help in debugging
  crates/walrus-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add a test
  .github/workflows/lint.yml
Due: none

updates
  .github/workflows/lint.yml
Due: none
