Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs: correct list-db-checkpoint command (#2701)
  docs/book/operator-guide/backup-restore-guide.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@9faf522ee0e9336b64af21fc6cc60e93fbfbe458 🚀
  operator-guide/backup-restore-guide.html
  print.html
  searchindex.js
  searchindex.json
  setup/client_config_example.yaml
Due: none

refactor: isolate regular and managed blob tracking with Option fields in ValidBlobInfoV2
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-storage-node-client/src/api.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

test: use nextest to run performance load tests and reduce bash/ts code (#2603)
  .config/nextest.toml
  Cargo.lock
  crates/walrus-performance-tests/Cargo.toml
  crates/walrus-performance-tests/README.md
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  crates/walrus-performance-tests/tests/k6_tests/common.rs
  crates/walrus-performance-tests/tests/k6_tests/common/byte_size.rs
  crates/walrus-performance-tests/tests/k6_tests/common/k6.rs
  crates/walrus-performance-tests/tests/k6_tests/common/thresholds.rs
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
  crates/walrus-performance-tests/tests/main.rs
  scripts/k6-run-multiple.sh
  scripts/k6/README.md
  scripts/k6/src/config/aggregator/v1_get_blob_latency.plans.json
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
  scripts/k6/src/config/environment.ts
  scripts/k6/src/config/publisher/v1_put_blobs.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
  scripts/k6/src/flows/aggregator.ts
  scripts/k6/src/flows/publisher.ts
  scripts/k6/src/lib/blob_history.ts
  scripts/k6/src/lib/constants.ts
  scripts/k6/src/lib/utils.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_throughput.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blobs_breakpoint.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_quilt_patch_latency.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_latency.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_throughput.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blobs_breakpoint.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_quilt_latency.ts
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

republished
  documentation/site/static/ws-resources.json
Due: none

feat: Support deferring blob recovery by client during tail uploads
  Cargo.lock
  crates/walrus-sdk/src/config/sliver_write_extra_time.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add comprehensive V2 merge operation tests and helper methods
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sdk): use type-state pattern for blob store state machine
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sdk/src/upload_relay/tip_config.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-stress/src/generator/blob.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtests
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add some docstrings to client_types.rs
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  Cargo.lock
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sdk): use type-state pattern for blob store state machine (#2686)
  Cargo.lock
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sdk/src/upload_relay/tip_config.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/blob.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use correct `console` code block type (#2700)
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/walrus-sites/tutorial-install.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@7cf0fa7a99046891e530b00c7f7af859fb1c8ee6 🚀
  print.html
  usage/networks.html
  usage/setup.html
  walrus-sites/tutorial-install.html
Due: none

Update docs/book/usage/setup.md
  docs/book/usage/setup.md
Due: none

Deploy preview for PR 2679 🛫
  pr-preview/pr-2679/assets/operators.json
  pr-preview/pr-2679/operator-guide/backup-restore-guide.html
  pr-preview/pr-2679/print.html
  pr-preview/pr-2679/searchindex.js
  pr-preview/pr-2679/searchindex.json
  pr-preview/pr-2679/setup/client_config_example.yaml
  pr-preview/pr-2679/usage/networks.html
  pr-preview/pr-2679/usage/setup.html
  pr-preview/pr-2679/walrus-sites/ci-cd-gh-workflow.html
  pr-preview/pr-2679/walrus-sites/tutorial-install.html
Due: none

docs: Remove duplicate info from setup page and rename (#2679)
  docs/book/SUMMARY.md
  docs/book/usage/setup.md
Due: none

fix: correct BlobInfoV2 merge operations and test expectations
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: correct V2 Register handling and test expectations
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: remove quick wallet setup admonishment
  docs/book/usage/networks.md
Due: none

Deploy preview for PR 2655 🛫
  pr-preview/pr-2655/print.html
  pr-preview/pr-2655/searchindex.js
  pr-preview/pr-2655/searchindex.json
  pr-preview/pr-2655/usage/setup.html
Due: none

docs: remove quick wallet setup admonishment - set testnet as the default in client_config.yaml (#2655)
  docs/book/usage/networks.md
Due: none

feat(core): improve memory management in blob encoding
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@9046911ee089a801418f1b557b022f57655bc6fc 🚀
  print.html
  searchindex.js
  searchindex.json
  usage/networks.html
Due: none

address review comments
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(core): improve memory management in blob encoding (#2687)
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

addressing reviews
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: create byte range read client API
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix clippy
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
