Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

docs: keep wallet path in client config until `v1.26` is released
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
  setup/client_config.yaml
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@b21cf40530cf89a9225de3615a322234fbb997fc 🚀
  print.html
  searchindex.js
  searchindex.json
  setup/client_config.yaml
  usage/setup.html
Due: none

update subsidy contract tests to include credits
  contracts/subsidies/Move.lock
  contracts/subsidies/sources/subsidies.move
  contracts/subsidies/tests/subsidies_tests.move
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/system.move
Due: move-test, move-format

added TODO for blob lookup.
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use hot potatoe pattern for combined subsidy coin
  contracts/subsidies/sources/subsidies.move
Due: move-test, move-format

add trigger for release branch builds
  .github/workflows/trigger-artifacts-builds.yml
Due: none

Update crates/walrus-core/src/messages/proof_of_possession.rs
  crates/walrus-core/src/messages/proof_of_possession.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update crates/walrus-core/src/lib.rs
  crates/walrus-core/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

Update contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/sources/staking/staking_pool.move
Due: move-test, move-format

Update contracts/wal/sources/wal.move
  contracts/wal/sources/wal.move
Due: move-test, move-format

nit
  contracts/walrus/sources/staking.move
Due: move-test, move-format

nit
  contracts/walrus/sources/system/storage_resource.move
Due: move-test, move-format

improved add_blob_to_data
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: encapsulate WalletContext within Wallet
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove unnecessary trait
  crates/walrus-sdk/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use Iterator to decode QuiltIndex in Quilt.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove ClientErrorKind - simplify various generic abstractions
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixes
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update example
  docs/book/usage/web-api.md
Due: none

use QuiltVersionV1::blob_total_size().
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added QuiltPatchId to QuiltPath
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

nit
  contracts/walrus/sources/staking.move
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(client): improve debug logging for store
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added path to the StoreQuiltResult.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resloved comments.
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

skip rpc for extended primary failures
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup ; address comments
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address simtest failure
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
