Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Update started.md
  docs/book/usage/started.md
Due: none

Deploy preview for PR 2638 🛫
  pr-preview/pr-2638/print.html
  pr-preview/pr-2638/searchindex.js
  pr-preview/pr-2638/searchindex.json
  pr-preview/pr-2638/usage/started.html
Due: none

Deploy preview for PR 2638 🛫
  pr-preview/pr-2638/print.html
  pr-preview/pr-2638/usage/started.html
Due: none

chore: change default_context to testnet in example config
  setup/client_config.yaml
Due: none

update
  docs/book/usage/setup.md
Due: none

Deploy preview for PR 2673 🛫
  pr-preview/pr-2673/print.html
  pr-preview/pr-2673/searchindex.js
  pr-preview/pr-2673/searchindex.json
  pr-preview/pr-2673/usage/setup.html
Due: none

Apply suggestions from code review
  docs/book/usage/started.md
Due: none

chore: change default_context to testnet in example config (#2673)
  docs/book/usage/setup.md
  setup/client_config.yaml
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@e07ec96ce5e6632f8b3f29c001946ceb83019216 🚀
  print.html
  searchindex.js
  searchindex.json
  setup/client_config.yaml
  usage/setup.html
Due: none

chore: fix test for client config
  .github/actions/diffs/action.yml
  .github/workflows/code.yml
  crates/walrus-sdk/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix test for client config (#2674)
  .github/actions/diffs/action.yml
  .github/workflows/code.yml
  crates/walrus-sdk/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: hide backfill-related CLI commands
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2638 🛫
  pr-preview/pr-2638/print.html
  pr-preview/pr-2638/searchindex.js
  pr-preview/pr-2638/searchindex.json
  pr-preview/pr-2638/setup/client_config.yaml
  pr-preview/pr-2638/usage/setup.html
  pr-preview/pr-2638/usage/started.html
Due: none

updates
  docs/book/SUMMARY.md
  docs/book/usage/started.md
Due: none

reword one sentence
  docs/book/usage/started.md
Due: none

lint
  docs/book/usage/started.md
Due: none

docs: Add new Getting Started page (#2638)
  docs/book/SUMMARY.md
  docs/book/usage/started.md
Due: none

fix: hide backfill-related CLI commands (#2675)
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: blob concatenation in the aggregator
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

enable aggregator in local-testbed.sh
  scripts/local-testbed.sh
Due: none

lint
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add support for content types
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

blob manager and transaction builder
  contracts/blobmanager/CHECKPOINT.md
  contracts/blobmanager/ENUM_DESIGN_RECORD.md
  contracts/blobmanager/IMPLEMENTATION_PLAN.md
  contracts/blobmanager/Move.lock
  contracts/blobmanager/Move.toml
  contracts/blobmanager/SIMPLIFIED_DESIGN.md
  contracts/blobmanager/sources/big_stack.move
  contracts/blobmanager/sources/blob_stash.move
  contracts/blobmanager/sources/blobmanager.move
  contracts/blobmanager/sources/simple_blob_stash.move
  contracts/blobmanager/sources/storage_stash.move
  contracts/blobmanager/sources/test_minimal.move
  contracts/blobmanager/sources/timer_wheel.move
  contracts/blobmanager/tests/blobmanager_tests.move
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

update openapi files
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

added BlobManagerClient, enables register e2e
  WALRUS_SITES_UPLOADER_GUIDE.md
  contracts/blobmanager/CHECKPOINT.md
  contracts/blobmanager/ENUM_DESIGN_RECORD.md
  contracts/blobmanager/IMPLEMENTATION_PLAN.md
  contracts/blobmanager/Move.lock
  contracts/blobmanager/Move.toml
  contracts/blobmanager/SIMPLIFIED_DESIGN.md
  contracts/blobmanager/sources/big_stack.move
  contracts/blobmanager/sources/blob_stash.move
  contracts/blobmanager/sources/simple_blob_stash.move
  contracts/blobmanager/sources/storage_stash.move
  contracts/blobmanager/sources/test_minimal.move
  contracts/blobmanager/sources/timer_wheel.move
  contracts/blobmanager/tests/blobmanager_tests.move
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blobmanager.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat: Enable tail uploads in the daemon
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
