Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Fix yargs parsing
  scripts/cache-inference/cache-inference.ts
Due: none

Remove some unused code and more explicit naming
  scripts/cache-inference/cache-inference.ts
Due: none

Add package-lock.json
  scripts/cache-inference/package-lock.json
Due: none

Use ES2024 and remove pnpm-lock.yaml
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/pnpm-lock.yaml
  scripts/cache-inference/tsconfig.json
Due: none

Minor comments
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/types.ts
Due: none

fix: Add timeout to the call checking for rest endpoint
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added QuiltClient.
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

QuiltClient.
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Chore: swap new_read_client and new_read_client_with_refresher.
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: replace deprecated #[clap(...)] with #[command(...)] and #[arg(...)]
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: link RedStuff encoding documentation from setup guide
  docs/book/usage/setup.md
Due: none

added test.
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improved tests.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update.
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added CLI command for store/read quilt.
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-utils/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improvements.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Format and use ES2022 as is the most recent the lts supports.
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/tsconfig.json
Due: none

Use default argument on dispatch, and uncomment cron
  .github/workflows/update-operators-cache.yml
Due: none

chore: replace `into_path` by `keep`
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: include extensions in gas benchmark
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add cargo check CI with deprecated clap feature
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

taplo
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

some cleanup.
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

don't initialize RPC client when creating FailoverWrapper
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add missing doc comments for public functions
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add module and function documentations2
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
  crates/walrus-service/src/node/storage/event_sequencer.rs
  crates/walrus-service/src/node/storage/metrics.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update Cargo.toml
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Use working-directory instead of `cd ... && ...`
  .github/workflows/update-operators-cache.yml
Due: none

Bug fix: Stop using old aggregatorsVerbose var
  scripts/cache-inference/cache-inference.ts
Due: none

Adds README.md
  scripts/cache-inference/README.md
Due: none

Update scripts/cache-inference/README.md
  scripts/cache-inference/README.md
Due: none

update sui rpc min failover count
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolve comments.
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: automate release creation
  .github/workflows/create-release-announce.yml
Due: none

latest changes
  .github/workflows/create-release-announce.yml
Due: none

Do not failover if checkpoint not produced
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove tailing whitespaces
  .github/workflows/create-release-announce.yml
Due: none

debug failback to archival
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove ClientErrorKind - simplify various generic abstractions
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
