Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

service: fix bucket CLI line length lint
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: gate walrus-sui integration test behind test-utils feature (#3231)
  crates/walrus-sui/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

service: fix bucket auth indentation lint
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Add page on Large data uploads (#3204)
  docs/content/large-uploads.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/system-constraints.mdx
  docs/site/sidebars.js
Due: none

fix storage unit
  docs/content/large-uploads.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/content/system-overview/operations.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/content/system-overview/quilt.mdx
  docs/content/system-overview/red-stuff.mdx
  docs/content/system-overview/system-constraints.mdx
  docs/content/system-overview/view-system-info.mdx
Due: none

validate storage epoch when creating storage pool
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

add tests for create_storage_pool_with_storage
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

service: refresh bucket openapi specs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

add timeout to health endpoint request in simtest
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-storage-node-client/src/client/builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add timeout to health endpoint request in simtest (#3236)
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-storage-node-client/src/client/builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

also schedule process_subsidies call after initiate_epoch_change
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use EpochChangeDriver to schedule post epoch change subsidy call
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add more comments about the difference of the two subsidy calls
  crates/walrus-service/src/node/epoch_change_driver.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: schedule process_subsidies call after initiate_epoch_change (#3200)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update docs/content/sites/ci-cd/github-actions-workflow.mdx
  docs/content/sites/ci-cd/github-actions-workflow.mdx
Due: none

Update docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
  docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
Due: none

Update docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
Due: none

Update docs/content/sites/known-restrictions.mdx
  docs/content/sites/known-restrictions.mdx
Due: none

refactor: embed Storage object inside StoragePool (#3232)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/storage_resource.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

docs: fix storage unit GB -> GiB (#3233)
  docs/content/large-uploads.mdx
  docs/content/operator-guide/storage-nodes/backup-restore-guide.mdx
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
  docs/content/system-overview/operations.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/content/system-overview/quilt.mdx
  docs/content/system-overview/red-stuff.mdx
  docs/content/system-overview/system-constraints.mdx
  docs/content/system-overview/view-system-info.mdx
Due: none

feat: add extend_with_storage and increase_capacity_with_storage for StoragePool
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

reject expired pools in storage-based extend and increase capacity
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

add tests
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

address feedback
  docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
  docs/content/sites/known-restrictions.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/sites/security/site-data-authentication.mdx
Due: none

remove extend_storage_pool_with_storage
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

remove deleted field in PerObjectPooledBlobInfo
  crates/walrus-service/src/node/storage/blob_info/per_object_pooled_blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

combine happy path tests
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

typescript sdk docs
  docs/content/system-overview/relay.mdx
  docs/content/typescript-sdk/configuring-network-requests.mdx
  docs/content/typescript-sdk/error-handling.mdx
  docs/content/typescript-sdk/fetch-limitations.mdx
  docs/content/typescript-sdk/fetch-methods.mdx
  docs/content/typescript-sdk/installation-and-setup.mdx
  docs/content/typescript-sdk/managing-blobs.mdx
  docs/content/typescript-sdk/reading-blobs.mdx
  docs/content/typescript-sdk/sdks.mdx
  docs/content/typescript-sdk/storing-blobs.mdx
  docs/content/typescript-sdk/ts-sdk.mdx
  docs/content/typescript-sdk/upload-relay.mdx
  docs/content/typescript-sdk/verification.mdx
  docs/content/typescript-sdk/wasm-module-loading.mdx
  docs/site/sidebars.js
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
