Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

clarify garbage_collection_task_start_time metric refers to phase 2
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

merge GC phases back into single entry point
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

verify phase 1 cleans per_object_blob_info with phase 2 blocked
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix race in process_epoch_change_start_idempotent
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add metric for data deletion (phase 2) start
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

propagate blob info cleanup errors to halt epoch transition
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

document spawn_blocking overlap during abort_and_wait
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move last_started_epoch tracking out of perform_blob_info_cleanup
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): split GC into phases and make blob info cleanup blocking
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

block phase 2 entirely to prove phase 1 runs independently
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wait for data-deletion task to stop before blob info cleanup
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

note that phase 1 is blocking and expected to be fast
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove unnecessary abort before phase 1 and document safety
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add metric for blob info cleanup (phase 1) completion
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add simtest for GC phase 2 overlapping with next epoch's phase 1
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

troubleshooting docs
  docs/content/troubleshooting/error-handling.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/network-errors.mdx
Due: none

feat: Address comments
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket_inner_v1.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
Due: move-test, move-format

Update docs/content/troubleshooting/network-errors.mdx
  docs/content/troubleshooting/network-errors.mdx
Due: none

feat: Add blob stream endpoint to k6 test suite (#3125)
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  scripts/k6/src/flows/aggregator.ts
  scripts/k6/src/tests/aggregator/aggregator_v1alpha_get_blob_stream_latency.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use factory-based options when dropping column families (#3196)
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add basic storage-pool backed blob bucket (#3077)
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket_inner_v1.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
Due: taplo-format, move-test, move-format

address feedback
  docs/content/sites/troubleshooting.mdx
  docs/content/troubleshooting/error-handling.mdx
  docs/content/troubleshooting/network-errors.mdx
Due: none

address feedback
  docs/content/troubleshooting/index.mdx
Due: none

feat: Add db compact command to rocksdb compact the db
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

large data uploads
  docs/content/large-uploads.mdx
  docs/content/sites/linking/redirects.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/system-constraints.mdx
  docs/site/sidebars.js
Due: none

large data uploads
  docs/content/large-uploads.mdx
  docs/content/system-overview/system-constraints.mdx
Due: none

fix link
  docs/content/sites/linking/redirects.mdx
Due: none

add duration metrics for GC phase 1 and phase 2
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove compaction guard from GC phase 1
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(storage): make compaction guard reference-counted and infallible
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: rebase
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

also schedule process_subsidies call after initiate_epoch_change
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

implement cli commands to unstake
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

apply review feedback
  docs/content/sites/troubleshooting.mdx
  docs/content/troubleshooting/error-handling.mdx
  docs/content/troubleshooting/network-errors.mdx
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

apply review feedback
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

apply review feedback
  docs/site/static/llms.txt
Due: none

Deploy preview for PR 3199 🛫
  pr-preview/pr-3199/llms.txt
Due: none
