Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

cleanup.
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolved comments.
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add longer watchdog timeout
  scripts/simtest/simtest-run.sh
Due: none

Retry only on retriable errors.
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fixed simtest.
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add run-time to workflow
  .github/workflows/attach-binaries-to-release.yml
Due: none

Cleanup.
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added more comments.
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-sdk/src/api.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added an Error state.
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cel
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

cleanup.
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

revert test.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fixed test.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: remove orchestrator from member crate to fix simtests
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove testnet special case for event filtering
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove WAL minting
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Refactor rpc client for code simplification
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

moved WalrusStoreBlob to client_types.rs.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/communication/node.rs
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

moved WalrusStoreBlob to a separate modual.
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/client_types.rs
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

stress client initial write performs extensive retry
  crates/walrus-stress/src/generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

treat jsonrpsee request timeout error as retriable error
  Cargo.toml
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add walrus stress testCases
  .gitignore
  crates/walrus-stress/tests/blob_compression.rs
  crates/walrus-stress/tests/inconsistent_blob.rs
  crates/walrus-stress/tests/load_balancing.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest.
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: instrument HTTP, blob recovery, and events with tokio metrics
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/tokio.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add wrapper for exporting tokio task metrics with prometheus
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-test-utils/src/lib.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/tokio.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: remove inner struct in TaskMonitorFamily
  crates/walrus-utils/src/metrics/tokio.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add back cargo lock
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix: replace cargo lock
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

docs: contracts and config for Testnet v3
  contracts/subsidies/Move.toml
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.toml
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  setup/client_config.yaml
  setup/client_config_testnet.yaml
  testnet-contracts/.prettierrc
  testnet-contracts/README.md
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/subsidies/sources/subsidies.move
  testnet-contracts/subsidies/tests/subsidies_tests.move
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal/sources/wal.move
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus/sources/display.move
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/active_set.move
  testnet-contracts/walrus/sources/staking/staked_wal.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/blob.move
  testnet-contracts/walrus/sources/system/encoding.move
  testnet-contracts/walrus/sources/system/event_blob.move
  testnet-contracts/walrus/sources/system/redstuff.move
  testnet-contracts/walrus/sources/system/storage_accounting.move
  testnet-contracts/walrus/sources/system/storage_resource.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/tests/e2e_tests.move
  testnet-contracts/walrus/tests/staking/staked_wal_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
  testnet-contracts/walrus/tests/system/blob_tests.move
  testnet-contracts/walrus/tests/system/event_blob_tests.move
Due: taplo-format, move-test

address review comments
  testnet-contracts/README.md
Due: move-test

fix: attempt to fix simtest
  crates/walrus-simtest/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
