Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

client recover sliver
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: correct blob_id encoding in certify_managed_blob
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement managed blob end_epoch return and confirmation endpoints
  contracts/walrus/sources/blob_manager.move
  crates/walrus-core/src/messages/storage_confirmation.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/openapi.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

chore: refactor blob event processor
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

slightly more refactoring
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add persistent DBMap storage for BlobManagers with managed blob validation
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_manager_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-storage-node-client/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: refactor blob event processor (avoid product type where sum type works) (#2718)
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add BlobManagerEvent with Created and Extended variants
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system/events.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-service/src/node/storage.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

chore: provide for bidirectional shutdown coordination between background processors and the storage node
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

comment cleanup
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add BlobManagerEvent and remove end_epoch from managed blobs
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_manager_cache.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

cleanup
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add end_epoch_at_registration and end_epoch_at_certify to managed blob events
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat: Add pending metadata and sliver cache on nodes
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/pending_metadata_cache.rs
  crates/walrus-service/src/node/pending_sliver_cache.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments, 2nd round
  crates/walrus-sdk/src/client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add implementation documentation
  crates/walrus-sdk/src/client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

check blob block list before doing anything
  crates/walrus-sdk/src/client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make sure that blob uses RS2 encoding
  crates/walrus-sdk/src/client/byte_range_read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: create byte range read client API (#2708)
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: rename check_blob_id to be more explicit of what it does
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Improve race b/w flush and blob events
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/pending_metadata_cache.rs
  crates/walrus-service/src/node/pending_sliver_cache.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-storage-node-client/src/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

(feat) Setup GH Action update * Breaks down site builder resolutions in several steps * Uses quotes on unresolved paths
  .github/actions/set-up-walrus/action.yaml
Due: none

(feat) Setup GH Action update * Sanitizes action's input
  .github/actions/set-up-walrus/action.yaml
Due: none

(feat) Setup GH Action update * Fixes tar permission issue
  .github/actions/set-up-walrus/action.yaml
Due: none

(feat) Setup GH Action update * updates the other 2 jobs that are using the site builder
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

(feat) Setup GH Action update * Supports both v1 and v2 versions of the site-builder binary
  .github/actions/set-up-walrus/action.yaml
Due: none

(feat) Setup GH Action update * updates publish docs job to use v1 of site builder
  .github/workflows/publish-docs.yaml
Due: none

(feat) Setup GH Action update * removes unnecessary conditional check
  .github/actions/set-up-walrus/action.yaml
Due: none

ci: update GH action to set up Walrus and site-builder (#2716)
  .github/actions/set-up-walrus/action.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

feat: reading individual sliver should respect aggregtor max blob size
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): increase CLI start-up performance
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-upload-relay/src/controller.rs
  docs/book/usage/setup.md
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtests
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

replace block_in_place by spawn_blocking
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use background client creation also for quilts
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2710 🛫
  pr-preview/pr-2710/setup/client_config_example.yaml
Due: none

fix incorrect else branch of select! statement
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
