Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

remove trailing comma
  docs/site/ws-resources.json
Due: none

docs: remove trailing comma (#2796)
  docs/site/ws-resources.json
Due: none

remove route for design/future
  docs/site/ws-resources.json
Due: none

docs: remove route for design/future (#2797)
  docs/site/ws-resources.json
Due: none

revise homepage
  docs/content/usage/web-api.mdx
  docs/site/src/components/HomepageFeatures/index.js
  docs/site/src/components/HomepageFeatures/styles.module.css
  docs/site/src/pages/index.js
  docs/site/src/pages/index.mdx
  docs/site/src/pages/index.module.css
Due: none

revise homepage
  docs/content/usage/web-api.mdx
  docs/site/src/components/HomepageFeatures/index.js
  docs/site/src/components/HomepageFeatures/styles.module.css
  docs/site/src/pages/index.js
  docs/site/src/pages/index.module.css
Due: none

even more design rev
  docs/content/design/operations-off-chain.mdx
  docs/content/design/operations-sui.mdx
  docs/content/design/operations.mdx
  docs/content/design/overview.mdx
Due: none

address review comments
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/daemon/cache.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-simtest/tests/simtest_pending_uploads.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: adding client interface to fetch decoding symbols
  Cargo.lock
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-storage-node-client/Cargo.toml
  crates/walrus-storage-node-client/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up
  Cargo.lock
  crates/walrus-service/src/node/server.rs
  crates/walrus-storage-node-client/Cargo.toml
  crates/walrus-storage-node-client/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(node): enable DB transactions and garbage collection by default (#2772)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-utils/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tusky links and video
  docs/content/tusky-migration-guide.mdx
Due: none

Update tusky-migration-guide.mdx
  docs/content/tusky-migration-guide.mdx
Due: none

docs(walrus-sites): Update image reference to include quilts in ws resolution diagram
  docs/content/walrus-sites/images/walrus-sites-portal-diagram-with-quilts.svg
  docs/content/walrus-sites/overview.mdx
Due: none

docs(walrus-sites): Update image reference to include quilts in ws resolution diagram (#2803)
  docs/content/walrus-sites/images/walrus-sites-portal-diagram-with-quilts.svg
  docs/content/walrus-sites/overview.mdx
Due: none

Update docs/content/design/operations.mdx
  docs/content/design/operations.mdx
Due: none

fix pov
  docs/content/design/operations-off-chain.mdx
  docs/content/design/operations-sui.mdx
Due: none

revisions to walrus sites docs
  docs/content/usage/web-api.mdx
  docs/content/walrus-sites/advanced.mdx
  docs/content/walrus-sites/authentication.mdx
  docs/content/walrus-sites/avoid-duplicate-content-seo.mdx
  docs/content/walrus-sites/bring-your-own-domain.mdx
  docs/content/walrus-sites/builder-config.mdx
  docs/content/walrus-sites/ci-cd-gh-secrets-vars.mdx
  docs/content/walrus-sites/ci-cd-gh-workflow.mdx
  docs/content/walrus-sites/ci-cd.mdx
  docs/content/walrus-sites/commands.mdx
  docs/content/walrus-sites/intro.mdx
  docs/content/walrus-sites/linking.mdx
  docs/content/walrus-sites/overview.mdx
  docs/content/walrus-sites/portal.mdx
  docs/content/walrus-sites/redirects.mdx
  docs/content/walrus-sites/restrictions.mdx
  docs/content/walrus-sites/routing.mdx
  docs/content/walrus-sites/tutorial-install.mdx
  docs/content/walrus-sites/tutorial-publish.mdx
  docs/content/walrus-sites/tutorial-suins.mdx
  docs/content/walrus-sites/tutorial.mdx
  docs/site/sidebars.js
  docs/site/src/pages/index.mdx
  docs/site/ws-resources.json
Due: none

Update docs/content/design/operations-off-chain.mdx
  docs/content/design/operations-off-chain.mdx
Due: none

Update docs/content/design/operations-sui.mdx
  docs/content/design/operations-sui.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
