Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Cherry pick changes on 1.40 (#2849)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - credentials fix
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - no resources edit and pr needed on site update
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - adds gas budget
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action
  .github/workflows/publish-docs.yaml
Due: none

ci: Update walrus-docs-ci to use the walrus-sites-deploy action - using site object env var
  .github/workflows/publish-docs.yaml
Due: none

chore: enable GC on mainnet by default
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

<Card> href links should omit the .mdx postfix
  docs/content/walrus-sites/ci-cd.mdx
  docs/content/walrus-sites/tutorial.mdx
Due: none

chore: fix taplo pre-commit installation
  .pre-commit-config.yaml
Due: none

chore: fix taplo pre-commit installation (#2853)
  .pre-commit-config.yaml
Due: none

fix(docs): <Card> href links should omit the .mdx postfix (#2852)
  docs/content/walrus-sites/ci-cd.mdx
  docs/content/walrus-sites/tutorial.mdx
Due: none

chore: enable GC on mainnet by default (#2851)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update started.mdx
  docs/content/usage/started.mdx
Due: none

Update tusky-migration-guide.mdx
  docs/content/tusky-migration-guide.mdx
Due: none

Walrus v1.40.2 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable pending caches by default
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable pending caches by default (#2854)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: separate UnifiedStorage from BlobManager and simplify tip system
  contracts/blob_manager/Move.lock
  contracts/blob_manager/Move.toml
  contracts/blob_manager/sources/blob_manager.move
  contracts/blob_manager/sources/blob_manager_inner_v1.move
  contracts/blob_manager/sources/coin_stash.move
  contracts/blob_manager/sources/storage_purchase_policy.move
  contracts/walrus/Move.lock
  contracts/walrus/Published.toml
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/blob_v2.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/sources/unified_storage.move
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_manager_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  docs/blob-manager.md
  docs/tip_policy_simplified.png
  docs/unified-storage-checklist.md
  docs/unified-storage-implementation-fixes.md
  docs/unified-storage-implementation.md
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat: Enable pending caches by default (#2854) (#2857)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement blob streaming in the aggregator by slivers
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/streaming.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add a test for the streaming
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

functional test, but slow
  Cargo.lock
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-e2e-tests/tests/test_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

taplo
  crates/walrus-e2e-tests/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix tracing subscriber initialization in cli
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix tracing subscriber initialization in cli (#2858)
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

bump 1.40 version
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cherrypick): fix tracing subscriber initialization in cli (#2858) (#2859)
  Cargo.toml
  crates/walrus-service/src/client/cli/runner.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add network defaults to client config
  crates/walrus-sdk/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tests
  crates/walrus-sdk/src/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add walrus-docs site_id inside ws-resources, and do not require it or GITHUB_TOKEN in workflow
  .github/workflows/publish-docs.yaml
  docs/site/ws-resources.json
Due: none

feat: implement blob streaming in the aggregator by slivers (#2801)
  Cargo.lock
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/streaming.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use std::future::Future in client/daemon.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: cleanup std::future::Future use in various places (#2808)
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
