Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Walrus v1.27.1 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Rename the metric label to prevent conflict (#2211)
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/src/client/metrics.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add operator guide for governance and commission
  docs/book/SUMMARY.md
  docs/book/operator-guide/commission-governance.md
  docs/book/operator-guide/storage-node.md
Due: none

fix(client): minor improvements to the health command
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use a guard to ensure active connection gauge decrements
  crates/walrus-service/src/common/telemetry.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update rust intent definitions
  contracts/walrus/docs/msg_formats.txt
  contracts/walrus/sources/system/messages.move
  contracts/walrus/tests/system/deny_list_tests.move
  contracts/walrus/tests/test_node.move
  crates/walrus-core/src/messages.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

update event definition
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review comments
  docs/book/SUMMARY.md
  docs/book/operator-guide/commission-governance.md
  docs/book/operator-guide/operator-guide.md
  docs/book/operator-guide/storage-node.md
Due: none

feat: implement new subsidy contract
  contracts/subsidies/sources/subsidies.move
  contracts/wal/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/committee.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/test_utils.move
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  contracts/walrus_subsidies/sources/epoch_balance.move
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test, move-format

review comments + timestamp
  contracts/subsidies/sources/subsidies.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: move-test, move-format

fix sui-framework version after rebase
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

refactor: allow config access in routes
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow limiting the maximum number of a concurrent requests to symbol endpoints
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

download multiple blobs by default.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add metric to track number of blocklisted blobs
  Cargo.lock
  crates/walrus-sdk/src/blocklist.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Allow updating logging verbosity dynamically at runtime
  Cargo.lock
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added aggregator.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix race condition between node entering recovery mode and start blob sync
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: deduplicate code related to blob sync cancellation
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: deduplicate code related to blob sync cancellation (#2217)
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add zero bucket to recovery future metrics
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: some test improvements and refactoring in event_blob_downloader
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add simtest for recovery with incomplete event history
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): enable node starting with incomplete event history
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_blob.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

some fixes
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

attempt to make simtest more robust
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix implementation of recovery with incomplete event history
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make simtest more robust
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

try to make simtest more robust
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments and make test more robust
  Cargo.lock
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
