Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Dev-guide and operator revisions
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/costs.mdx
  docs/content/dev-guide/dev-guide.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/dev-guide/sui-struct.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/site/src/plugins/inject-code/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
  docs/site/src/plugins/inject-code/stepLoader.js
Due: none

Dev-guide and operator revisions
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/dev-guide/sui-struct.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
Due: none

Dev-guide and operator revisions
  docs/site/package.json
  docs/site/pnpm-lock.yaml
Due: none

Dev-guide and operator revisions
  docs/content/dev-guide/data-security.mdx
Due: none

Dev-guide and operator revisions
  docs/content/dev-guide/components.mdx
Due: none

Dev-guide and operator revisions
  docs/content/dev-guide/dev-operations.mdx
Due: none

overview revisions
  docs/content/design/architecture.mdx
  docs/content/design/encoding.mdx
  docs/content/design/objectives_use_cases.mdx
  docs/content/design/overview.mdx
Due: none

test: various test improvements
  .github/workflows/code.yml
  Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-test-utils/src/lib.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix inconsistency after rebasing
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump Rust to 1.92 and fix new lint warnings
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/node/thread_pool.rs
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-proxy/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
  docker/walrus-upload-relay/Dockerfile
  rust-toolchain.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

simplify blob manager.
  contracts/walrus/blob_manager_contract_changes_summary.md
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/extension_policy.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/sources/tip_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/blob_manager_info.rs
  crates/walrus-service/storage_node_blob_manager_design.md
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

test: various test improvements (#2759)
  .github/workflows/code.yml
  Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-test-utils/src/lib.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

purchase policy
  contracts/walrus/sources/storage_purchase_policy.move
Due: move-test, move-format

feat(blob-manager): add capability revocation mechanism
  contracts/walrus/sources/blob_manager.move
Due: move-test, move-format

feat(blob-manager): simplify BCS deserialization and improve API
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

minor fix.
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(blob-manager): add versioning pattern for upgradability
  contracts/walrus/blob_manager_contract_changes_summary.md
  contracts/walrus/blob_manager_design.md
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat(blob-manager): merge TipPolicy into ExtensionPolicy and add adjust_storage
  contracts/walrus/blob_manager_contract_changes_summary.md
  contracts/walrus/blob_manager_design.md
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/extension_policy.move
  contracts/walrus/sources/storage_purchase_policy.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/tip_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

feat(client): Support targeted uploads and cooperative cancellation
  crates/walrus-sdk/src/uploader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Wire upload intent into client code
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-storage-node-client/src/client.rs
  crates/walrus-storage-node-client/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Add oppportunistic upload in parallel to registration
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/store_optimizations.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-simtest/tests/simtest_pending_uploads.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(blob-manager): allow anyone to certify registered blobs
  contracts/walrus/sources/blob_manager.move
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

rebase
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Style guide revisions to `dev-guide` and `operator-guide` pages (#2781)
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/costs.mdx
  docs/content/dev-guide/data-security.mdx
  docs/content/dev-guide/dev-guide.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/dev-guide/sui-struct.mdx
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/operator-guide/commission-governance.mdx
  docs/content/operator-guide/upload-relay.mdx
  docs/content/usage/started.mdx
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/plugins/inject-code/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
  docs/site/src/plugins/inject-code/stepLoader.js
Due: none

docs(blob-manager): add tipAmount to curl example
  docs/blob-manager.md
Due: none

simplify the extension policy.
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/extension_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

encoding revision
  docs/content/design/encoding.mdx
Due: none

feat(blob-manager): add TipPolicy enum and pay tips in WAL
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/blob_manager/tip_policy.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/extension_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix steploader
  docs/site/docusaurus.config.js
Due: none

docs: fix step loader plugin (#2783)
  docs/site/docusaurus.config.js
Due: none

assurance and future discussion rev
  docs/content/design/encoding.mdx
  docs/content/design/future.mdx
  docs/content/design/properties.mdx
Due: none

refactor(blob-manager): use WAL in public APIs, FROST internally
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/blob_manager/tip_policy.move
  contracts/walrus/sources/extension_policy.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix newlines
  docs/content/design/architecture.mdx
  docs/content/design/encoding.mdx
  docs/content/design/overview.mdx
  docs/content/design/properties.mdx
Due: none
