Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

wip
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

disable event runtime catchup
  Cargo.toml
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/test_utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix runtime catchup
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/coordination.rs
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix ci
  Cargo.lock
  crates/walrus-service/node_config_example.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix: disable event runtime catchup (#2765)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/test_utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: handle managed blob recovery with incomplete event history
  contracts/walrus/sources/blob_manager.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

docs: re-add static setup files that were removed in docs migration
  docs/site/static/setup/client_config.yaml
  docs/site/static/setup/client_config_example.yaml
  docs/site/static/setup/client_config_mainnet.yaml
  docs/site/static/setup/client_config_testnet.yaml
  docs/site/static/setup/walrus-install.sh
  docs/site/static/setup/walrus_upload_relay_config_example.yaml
Due: none

fix some `pin@v` comments
  .github/workflows/code.yml
  .github/workflows/create-release-announce.yml
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/tag.yml
Due: none

downgrade `slackapi/slack-github-action` and add to Dependabot ignore list
  .github/dependabot.yml
  .github/workflows/gen-sui-upgrade-version-pr.yml
Due: none

fix diffs action
  .github/actions/diffs/action.yml
Due: none

docs: re-add static setup files that were removed in docs migration (#2768)
  docs/site/static/setup/client_config.yaml
  docs/site/static/setup/client_config_example.yaml
  docs/site/static/setup/client_config_mainnet.yaml
  docs/site/static/setup/client_config_testnet.yaml
  docs/site/static/setup/walrus-install.sh
  docs/site/static/setup/walrus_upload_relay_config_example.yaml
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@2755270c013615dd27c31f3ec09cf5d71fdc35f5 🚀
  setup/client_config.yaml
  setup/client_config_example.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
  setup/walrus-install.sh
  setup/walrus_upload_relay_config_example.yaml
Due: none

Edits 1
  docs/content/dev-guide/components.mdx
  docs/content/dev-guide/costs.mdx
  docs/content/dev-guide/data-security.mdx
  docs/content/dev-guide/dev-guide.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/dev-guide/sui-struct.mdx
  docs/content/operator-guide/aggregator.mdx
  docs/content/operator-guide/auth-publisher.mdx
  docs/content/operator-guide/backup-restore-guide.mdx
  docs/content/operator-guide/commission-governance.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/content/operator-guide/upload-relay.mdx
  docs/content/usage/started.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
  docs/site/src/plugins/inject-code/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
  docs/site/src/plugins/inject-code/stepLoader.js
Due: none

Fix redirects with Docusaurus plugin
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/pnpm-lock.yaml
Due: none

redirects and mobile format
  docs/content/intro.mdx
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/css/custom.css
  docs/site/src/theme/Root.tsx
Due: none

redirects and mobile format
  docs/content/intro.mdx
  docs/site/docusaurus.config.js
  docs/site/src/css/custom.css
  docs/site/src/theme/Root.tsx
Due: none

redirects and mobile format
  docs/site/docusaurus.config.js
Due: none

revert
  docs/content/intro.mdx
Due: none

add wildcards
  docs/site/docusaurus.config.js
Due: none

Update docusaurus.config.js
  docs/site/docusaurus.config.js
Due: none

first revision for objectives and use cases
  docs/content/design/objectives_use_cases.mdx
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
