Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

review comments
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(docs): update links in privacy policy
  docs/book/legal/privacy.md
Due: none

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

Walrus v1.26.3 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

rate limit concurrent blob recovery during node recovery
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  Cargo.lock
  Cargo.toml
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip: lots of plumbing
  Cargo.lock
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip/check.rs
  crates/fan-out-proxy/src/tip/config.rs
  crates/fan-out-proxy/src/tip/error.rs
  crates/fan-out-proxy/src/utils.rs
  crates/walrus-sui/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove redundant semaphore used in node recovery
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [cherry pick] rate limit concurrent blob recovery during node recovery (#2159) (#2161)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address flaky test_blocklist
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

measure certified event latency
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): add a section about the --object-id flag of the deploy command. add a section about Migrating from publish/update. Update the section about epochs, with the latest information.
  docs/book/walrus-sites/commands.md
Due: none

Deploy preview for PR 2102 🛫
  pr-preview/pr-2102/assets/operators.json
  pr-preview/pr-2102/print.html
  pr-preview/pr-2102/searchindex.js
  pr-preview/pr-2102/searchindex.json
  pr-preview/pr-2102/usage/web-api.html
  pr-preview/pr-2102/walrus-sites/commands.html
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@f7da4955376d2011c5beece84bc12eb6a563da35 🚀
  legal/privacy.html
  print.html
Due: none

docs(walrus-site): on tutorial-publish.md update the epochs duration with the latest information. on routing.md add a section about the object_id field.
  docs/book/walrus-sites/routing.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Deploy preview for PR 2102 🛫
  pr-preview/pr-2102/legal/privacy.html
  pr-preview/pr-2102/print.html
  pr-preview/pr-2102/searchindex.js
  pr-preview/pr-2102/searchindex.json
  pr-preview/pr-2102/walrus-sites/routing.html
  pr-preview/pr-2102/walrus-sites/tutorial-publish.html
Due: none

docs(walrus-sites): add a note for browsing options of a ws on testnet
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Deploy preview for PR 2153 🛫
  pr-preview/pr-2153/legal/privacy.html
  pr-preview/pr-2153/print.html
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@76d8b1f139c8ec0504c50ba163570f09d36554d5 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/tutorial-publish.html
Due: none

chore: mainnet upgrade for subsidies contract
  mainnet-contracts/subsidies/sources/subsidies.move
Due: move-test

chore: update yamlfmt and use same version in CI
  .github/workflows/create-release-announce.yml
  .github/workflows/lint.yml
  .github/workflows/update-operators-cache.yml
  .pre-commit-config.yaml
  .yamlfmt.yml
Due: none

refactor: enable additional lints
  Cargo.toml
  clippy.toml
  crates/typed-store/src/lib.rs
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/lib.rs
  crates/walrus-proxy/src/main.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

automatically fix new lint warnings
  crates/walrus-proxy/src/consumer.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/refill.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator/blob.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: describe coding conventions
  CONTRIBUTING.md
Due: none

sort Cargo.toml file
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update markdownlint and address new findings
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/book/blog/01_announcing_walrus.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/usage/web-api.md
Due: none

Deploy preview for PR 2157 🛫
  pr-preview/pr-2157/print.html
  pr-preview/pr-2157/searchindex.js
  pr-preview/pr-2157/searchindex.json
  pr-preview/pr-2157/walrus-sites/tutorial-publish.html
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@53f13eb7c439adf1b35f359c104e9d23e50a4295 🚀
  blog/01_announcing_walrus.html
  print.html
  searchindex.js
  searchindex.json
  usage/networks.html
  usage/setup.html
  usage/web-api.html
Due: none

compiling
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/error.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip.rs
  crates/fan-out-proxy/src/tip/check.rs
  crates/fan-out-proxy/src/tip/config.rs
  crates/fan-out-proxy/src/tip/error.rs
  crates/fan-out-proxy/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: fix windows nexttest instalation
  .github/workflows/attach-binaries-to-release.yml
Due: none

enable other platforms
  .github/workflows/attach-binaries-to-release.yml
Due: none
