Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

feat: Add an auto tuner for optimizing upload
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/auto_tune.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: export k6 test start and end times
  scripts/k6/src/lib/utils.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_latency.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_throughput.ts
  scripts/k6/src/tests/aggregator/aggregator_v1_get_quilt_patch_latency.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_latency.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_throughput.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_quilt_latency.ts
Due: none

fix: pass timeout to http call
  scripts/k6/src/tests/publisher/publisher_v1_put_quilt_latency.ts
Due: none

test: export a boolean indicate when the test is active
  scripts/k6/src/lib/utils.ts
Due: none

fix: increase default timeout for get blob latency tests
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_latency.ts
Due: none

test: tune some parameters for throughput tests
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_throughput.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_throughput.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [2/n][tail uploads] Introduce shared uploader and detached tail handling in client
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: [2/n][tail uploads] Introduce shared uploader and detached tail handling (#2609)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: further reduce rate
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
  scripts/k6/src/tests/aggregator/aggregator_v1_get_blob_throughput.ts
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_throughput.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: more tuning of parameters
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_throughput.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: further tuning of parameters
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

feat(client): implement new default consistency check (#2623)
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/common.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: address review comments from PR #2623
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  docs/book/design/encoding.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2636 🛫
  pr-preview/pr-2636/print.html
  pr-preview/pr-2636/usage/networks.html
  pr-preview/pr-2636/usage/setup.html
Due: none

chore: address review comments from PR #2623 (#2636)
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  docs/book/design/encoding.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@01e264925a11676a3ef968858ec55dc758f00209 🚀
  design/encoding.html
  print.html
  searchindex.js
  searchindex.json
  setup/client_config_example.yaml
  usage/networks.html
  usage/setup.html
Due: none

add simtest for data deletion
  crates/walrus-service/src/node.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add guard to ensure auto compactions are re-enabled automatically
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Support deferring blob recovery by client during tail uploads
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/sliver_write_extra_time.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Add new Getting Started page
  docs/book/usage/started.md
Due: none

feat(node): delete metadata and slivers for expired/deleted blobs (#2599)
  crates/typed-store/src/rocks.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/test_utils.rs
  scripts/local-testbed.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

basic load shedding for aggregators
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.35.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: basic load shedding for aggregators (#2628)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address conflict
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(cherry pick): basic load shedding for aggregators (#2628) (#2641)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix compilation issues
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix typo
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

whitespace
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest build
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: simplify rpc client in fallible rpc client
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

set default aggregator request buffer size
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
