Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fixed x-quilt-blob-identifier header.
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated api.
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix sync_shard_recovery_metadata_restart
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

fix: Add logging to downloader.rs
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix typo
  crates/fan-out-proxy/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add console-subscriber support
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/common/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

specify port
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added rstore
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/errors.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update.
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): remove mentions of deprecating the publish/update commands, since this is to be decided after community feedback.
  docs/book/walrus-sites/commands.md
Due: none

docs(walrus-sites): Add a section about site_name on the routing.md
  docs/book/walrus-sites/routing.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@86c0185503f24d1db650b0a65ce6986625584388 🚀
  assets/operators.json
Due: none

docs(walrus-sites): Fix consistency of Name Casing
  docs/book/walrus-sites/commands.md
Due: none

Deploy preview for PR 2102 🛫
  pr-preview/pr-2102/assets/operators.json
  pr-preview/pr-2102/print.html
  pr-preview/pr-2102/searchindex.js
  pr-preview/pr-2102/searchindex.json
  pr-preview/pr-2102/walrus-sites/commands.html
Due: none

Deploy preview for PR 2102 🛫
  pr-preview/pr-2102/print.html
  pr-preview/pr-2102/searchindex.js
  pr-preview/pr-2102/searchindex.json
  pr-preview/pr-2102/walrus-sites/commands.html
Due: none

fix(node): correct checkpoint lag computation and more robust conversion
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

avoid crashing if read_dir fails
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix --json mode
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add backfill.sh script
  scripts/backfill.sh
Due: none

ci: debug walrus gcp bucket lookup
  .github/workflows/attach-binaries-to-release.yml
Due: none

retry when acquiring sui client
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

enable the rest of the code
  .github/workflows/attach-binaries-to-release.yml
Due: none

avoid double-initialization of tracing subscriber in cli
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tracing feature to tokio
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

log get_blob_ids_from_file
  crates/walrus-service/src/client/cli/backfill.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-service/bin/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tweak backfill script
  scripts/backfill.sh
Due: none

updates
  crates/fan-out-proxy/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolved comments.
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
