Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

add cross-node invariant checks
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

improve readability
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

print metrics
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

improve
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

improve comments
  crates/walrus-service/src/node/consistency_check.rs
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove event source warning
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

feat: add client side changes and make non blocking
  Cargo.lock
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/communication/node.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
  crates/walrus-sdk/src/node_client/upload_relay_client.rs
  crates/walrus-sdk/src/upload_relay.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-upload-relay/src/controller.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

build img cache
  docker/walrus-antithesis/build-test-config-image/pipeline.sh
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
Due: none

increase NUM_DIGEST_BUCKETS
  crates/walrus-service/src/node.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: preserve response URL through http client middleware
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

60 min NO_DATA_PATIENCE
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

improve comments
  crates/walrus-service/src/node.rs
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

preserve streak counters
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

formatting
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

fix: preserve response URL through http client middleware (#3301)
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: trigger ensure-walrus-binaries in sui-operations on release-branch pushes
  .github/workflows/ensure-binaries.yml
Due: none

ci: also dispatch ensure-walrus-binaries on release-branch pushes
  .github/workflows/trigger-artifacts-builds.yml
Due: none

ci: also dispatch ensure-walrus-binaries on release-branch pushes (#3303)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

fix: commission rate updates for nodes not in the committee (#3286)
  contracts/walrus/sources/staking/pending_values.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
Due: move-test, move-format

ci(docker): add build cache for antithesis local pipeline (#3063)
  docker/walrus-antithesis/build-test-config-image/pipeline.sh
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
Due: none

docker/walrus-service: support optional RUSTFLAGS_APPEND build arg
  docker/walrus-service/Dockerfile
Due: none

ci: docker/walrus-service: support optional RUSTFLAGS_APPEND build arg (#3304)
  docker/walrus-service/Dockerfile
Due: none

Revert "ci: docker/walrus-service: support optional RUSTFLAGS_APPEND build ar…"
  docker/walrus-service/Dockerfile
Due: none

Revert "ci: docker/walrus-service: support optional RUSTFLAGS_APPEND build arg" (#3305)
  docker/walrus-service/Dockerfile
Due: none

fix: log transient errors instead of crashing clients
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

unify walrus-staking service/hostname
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: none

update testnet-contracts dir to prepare for testnet contract upgrade
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-simtest/tests/simtest_core.rs
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal/sources/wal.move
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus/Published.toml
  testnet-contracts/walrus/sources/display.move
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/slashing.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/committee.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/staking/staking_pool.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/event_blob.move
  testnet-contracts/walrus/sources/system/events.move
  testnet-contracts/walrus/sources/system/storage_accounting.move
  testnet-contracts/walrus/sources/system/storage_pool.move
  testnet-contracts/walrus/sources/system/storage_resource.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/sources/utils/sort.move
  testnet-contracts/walrus/tests/e2e_runner.move
  testnet-contracts/walrus/tests/e2e_tests.move
  testnet-contracts/walrus/tests/slashing_test.move
  testnet-contracts/walrus/tests/staking/staking_inner_compute_tests.move
  testnet-contracts/walrus/tests/staking/staking_inner_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_direct_withdraw_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_early_withdraw_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_rounding_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
  testnet-contracts/walrus/tests/system/blob_tests.move
  testnet-contracts/walrus/tests/system/event_blob_tests.move
  testnet-contracts/walrus/tests/system/ringbuffer_tests.move
  testnet-contracts/walrus/tests/system/storage_pool_tests.move
  testnet-contracts/walrus/tests/upgrade_tests.move
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

update testnet-contracts/walrus/Published.toml; make testnet-contracts/walrus/Move.toml complient with the current codebase
  testnet-contracts/wal/Move.toml
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus/Published.toml
Due: taplo-format, move-test

chore: update testnet-contracts dir to prepare for testnet contract upgrade (#3289)
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-simtest/tests/simtest_core.rs
  testnet-contracts/wal/sources/wal.move
  testnet-contracts/walrus/Published.toml
  testnet-contracts/walrus/sources/display.move
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/slashing.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/committee.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/staking/staking_pool.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/event_blob.move
  testnet-contracts/walrus/sources/system/events.move
  testnet-contracts/walrus/sources/system/storage_accounting.move
  testnet-contracts/walrus/sources/system/storage_pool.move
  testnet-contracts/walrus/sources/system/storage_resource.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/sources/utils/sort.move
  testnet-contracts/walrus/tests/e2e_runner.move
  testnet-contracts/walrus/tests/e2e_tests.move
  testnet-contracts/walrus/tests/slashing_test.move
  testnet-contracts/walrus/tests/staking/staking_inner_compute_tests.move
  testnet-contracts/walrus/tests/staking/staking_inner_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_direct_withdraw_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_early_withdraw_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_rounding_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
  testnet-contracts/walrus/tests/system/blob_tests.move
  testnet-contracts/walrus/tests/system/event_blob_tests.move
  testnet-contracts/walrus/tests/system/ringbuffer_tests.move
  testnet-contracts/walrus/tests/system/storage_pool_tests.move
  testnet-contracts/walrus/tests/upgrade_tests.move
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

copy testnet-contracts/walrus to mainnet-contracts/walrus
  mainnet-contracts/walrus/sources/display.move
  mainnet-contracts/walrus/sources/init.move
  mainnet-contracts/walrus/sources/slashing.move
  mainnet-contracts/walrus/sources/staking.move
  mainnet-contracts/walrus/sources/staking/committee.move
  mainnet-contracts/walrus/sources/staking/staking_inner.move
  mainnet-contracts/walrus/sources/staking/staking_pool.move
  mainnet-contracts/walrus/sources/system.move
  mainnet-contracts/walrus/sources/system/event_blob.move
  mainnet-contracts/walrus/sources/system/events.move
  mainnet-contracts/walrus/sources/system/storage_accounting.move
  mainnet-contracts/walrus/sources/system/storage_pool.move
  mainnet-contracts/walrus/sources/system/storage_resource.move
  mainnet-contracts/walrus/sources/system/system_state_inner.move
  mainnet-contracts/walrus/sources/utils/sort.move
  mainnet-contracts/walrus/tests/e2e_runner.move
  mainnet-contracts/walrus/tests/e2e_tests.move
  mainnet-contracts/walrus/tests/slashing_test.move
  mainnet-contracts/walrus/tests/staking/staking_inner_compute_tests.move
  mainnet-contracts/walrus/tests/staking/staking_inner_tests.move
  mainnet-contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
  mainnet-contracts/walrus/tests/staking/staking_pool/pool_direct_withdraw_tests.move
  mainnet-contracts/walrus/tests/staking/staking_pool/pool_early_withdraw_tests.move
  mainnet-contracts/walrus/tests/staking/staking_pool/pool_rounding_tests.move
  mainnet-contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
  mainnet-contracts/walrus/tests/system/blob_tests.move
  mainnet-contracts/walrus/tests/system/event_blob_tests.move
  mainnet-contracts/walrus/tests/system/ringbuffer_tests.move
  mainnet-contracts/walrus/tests/system/storage_pool_tests.move
  mainnet-contracts/walrus/tests/upgrade_tests.move
Due: move-test

fix redirects, update for afdocs
  docs/content/glossary.mdx
  docs/site/src/pages/search.mdx
  docs/site/src/pages/walrus-pdf.js
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/src/scripts/generate-routes.js
  docs/site/src/scripts/serve-with-rewrites.js
  docs/site/src/shared/js/inline-imports.js
  docs/site/static/llms.txt
  docs/site/static/portals.json
  docs/site/ws-resources.manual.json
Due: none

apply necessarily package metadata change for upgrade
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/walrus/Move.toml
  mainnet-contracts/walrus/Published.toml
Due: taplo-format, move-test

fix redirects, update for afdocs
  docs/site/src/pages/walrus-pdf.js
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

Deploy preview for PR 3310 🛫
  pr-preview/pr-3310/llms.txt
Due: none

fix redirects, update for afdocs
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

fix redirects, update for afdocs
  docs/site/static/llms.txt
Due: none

Update pages-preview.yaml
  .github/workflows/pages-preview.yaml
Due: none

feat: Enable blob gc in mainnet
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
