Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

ci: fetch prebuilt walrus binaries from GCS in attach-binaries-to-release.yml on Linux
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: split long error message in attach-binaries-to-release.yml
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: fetch prebuilt walrus binaries from GCS in attach-binaries-to-release.yml on Linux (#3330)
  .github/workflows/attach-binaries-to-release.yml
Due: none

fix headers
  docs/site/src/shared/components/Glossary/GlossaryPage.tsx
  docs/site/ws-resources.manual.json
Due: none

docs: fix headers (#3331)
  docs/site/src/shared/components/Glossary/GlossaryPage.tsx
  docs/site/ws-resources.manual.json
Due: none

refactor: move checkpoint_wait_timeout off RetriableSuiClient onto write path
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: set correct event cursor option (#3285)
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/event_cursor_table.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: move checkpoint_wait_timeout off RetriableSuiClient onto write path (#3332)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix redirect and add pushfeedback agent text
  docs/site/src/components/PushFeedback/index.tsx
  docs/site/ws-resources.manual.json
Due: none

feat: gRPC migration level 8 -- owned objects
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/owned_objects.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: sequence shard removal after GC phase 1 at epoch transitions
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: fix redirect and add push feedback agent text (#3335)
  docs/site/src/components/PushFeedback/index.tsx
  docs/site/ws-resources.manual.json
Due: none

chore(grpc): gRPC migration level 8 - owned objects (#3336)
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/owned_objects.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): gRPC migration level 9 -- Move package reads
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_datatype.rs
  crates/walrus-sui/src/types/transaction.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(sui): delete gas_cost_bench and revert last_execute_response
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/transaction.rs
  scripts/plot_contract_cost.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): gRPC migration level 10 -- remove query_events from walrus-sui
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: unify antithesis container names
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: none

feat(sui): gRPC migration level 9 - Move package reads (#3341)
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_datatype.rs
  scripts/plot_contract_cost.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: unify antithesis container names (#3343)
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: none

add comments about why per object GC needs to be blocking
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

documentation about stable pricing
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
Due: none

remove repair DB command docs
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
Due: none

docs: remove repair DB command docs (#3347)
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
Due: none

chore(sui): gRPC migration level 10 - remove query_events from walrus-sui (#3342)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

release: include walrus-deploy in release tarballs
  binary-build-list.json
Due: none

release: include walrus-deploy in release tarballs (#3349)
  binary-build-list.json
Due: none

perf: offload remaining blocking RocksDB reads to spawn_blocking
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

format
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: documentation about stable pricing (#3346)
  docs/content/operator-guide/storage-nodes/storage-node-setup.mdx
Due: none
