Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs: add prompt library page for Walrus skills
  docs/content/prompt-library.mdx
  docs/site/sidebars.js
Due: none

docs: add agent prompt callouts to Walrus task pages
  docs/content/getting-started/index.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/typescript-sdk/sdks.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/walrus-cli.mdx
Due: none

ci: poll GCS for prebuilt binaries instead of failing on first miss
  .github/workflows/attach-binaries-to-release.yml
Due: none

docs: correct agent prompts to match documented commands
  docs/content/troubleshooting/index.mdx
  docs/content/typescript-sdk/sdks.mdx
  docs/content/walrus-client/quilts.mdx
Due: none

docs: fix llms.txt link resolution, tab serialization, and cache headers
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/src/scripts/generate-routes.js
  docs/site/ws-resources.manual.json
Due: none

docs: fix llms.txt link resolution, tab serialization, and cache headers (#3537)
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/src/scripts/generate-routes.js
  docs/site/ws-resources.manual.json
Due: none

docs: add agent prompt callouts to Walrus task pages (#3535)
  docs/content/getting-started/index.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/system-overview/storage-costs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/walrus-cli.mdx
Due: none

ci: poll GCS for prebuilt binaries in attach-binaries-to-release (#3536)
  .github/workflows/attach-binaries-to-release.yml
Due: none

fix: correct committee routing in shard recovery and harden sliver index check (#3528)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: return clear error on storage-node disk full instead of hanging
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: reject storage writes up-front when the disk is already full
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: rewrite docs/ README with structure, build, and style guidance
  docs/README.md
Due: none

docs: add Walrus Console beta documentation
  docs/content/console/_category_.json
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

docs: add Walrus Console to sidebar
  docs/content/console/_category_.json
Due: none

docs: add Walrus Console to sidebar
  docs/site/sidebars.js
Due: none

feat: Add an option to sync writes in RocksDB batch (#3510)
  Cargo.lock
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: regenerate Cargo.lock — remove phantom local rocksdb package from #3510
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix: regenerate Cargo.lock to remove phantom local rocksdb package (#3541)
  Cargo.lock
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

docs: wrap long lines in README to stay under 150 chars
  docs/README.md
Due: none

docs: rewrite docs/ README (#3539)
  docs/README.md
Due: none

docs: address Console docs review feedback
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

fix: bump sui-rpc and sui-sdk-types to the rev pinned by testnet-v1.75.2
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
