Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

CHECKPOINT 4: Complete implementation - all compilation errors fixed
  crates/walrus-sdk/src/client/blobmanager_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix: Extract ObjectID from Field objects for storage node verification
  contracts/walrus/sources/blobmanager.move
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

CHECKPOINT V2-1: Move contract changes - register returns Blob, certify takes Blob
  IMPLEMENTATION_PLAN_V2.md
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blobmanager.move
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

CHECKPOINT V2-2: Rust client changes - register returns Blob, certify takes Blob
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

CHECKPOINT V2-3: Fix compilation errors - all types aligned
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix typos in red-stuff.md documentation
  docs/red-stuff.md
Due: none

Remove implementation plan docs from tracking, move to working_dir
  IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN_V2.md
  WALRUS_SITES_UPLOADER_GUIDE.md
Due: none

Sync Move.lock compiler-version with main (1.59.1)
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

feat: implement BlobManager with two-phase blob ownership model
  Cargo.lock
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/blobmanager.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blobmanager_client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix: address clippy warnings in BlobManager code
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blobmanager_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: revert compiler-version from 1.56.1 back to 1.59.1 in Move.lock files
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
Due: move-test

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

Apply suggestions from code review
  docs/book/usage/setup.md
Due: none

Deploy preview for PR 2679 🛫
  pr-preview/pr-2679/print.html
  pr-preview/pr-2679/usage/setup.html
Due: none

Update setup.md
  docs/book/usage/setup.md
Due: none

feat: Add pending metadata and sliver cache on nodes
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/pending_metadata_cache.rs
  crates/walrus-service/src/node/pending_sliver_cache.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: rename ObjectBasedBlobStash to HybridOwnershipBlobStash
  contracts/walrus/sources/blob_stash.move
Due: move-test, move-format

refactor: rename to TwoPhaseOwnershipBlobStash for clarity
  contracts/walrus/sources/blob_stash.move
Due: move-test, move-format

docs: add detailed comments explaining two-phase ownership model
  contracts/walrus/sources/blob_stash.move
Due: move-test, move-format

lint
  docs/book/operator-guide/aggregator.md
Due: none

Deploy preview for PR 2676 🛫
  pr-preview/pr-2676/operator-guide/aggregator.html
  pr-preview/pr-2676/print.html
  pr-preview/pr-2676/searchindex.js
  pr-preview/pr-2676/searchindex.json
Due: none

wip: add stream-order symbol writing and reading
  crates/walrus-core/Cargo.toml
  crates/walrus-core/benches/symbol_file.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/disk_encoder.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_array.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/stream_order.rs
  crates/walrus-core/src/encoding/disk_encoder/symbol_file/transposed_order.rs
  crates/walrus-core/src/encoding/disk_encoder/test_blob.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: make thresholds very permissive
  crates/walrus-performance-tests/tests/k6_tests/common/thresholds.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix lint
  docs/book/operator-guide/aggregator.md
Due: none

Deploy preview for PR 2680 🛫
  pr-preview/pr-2680/operator-guide/aggregator.html
  pr-preview/pr-2680/print.html
  pr-preview/pr-2680/searchindex.js
  pr-preview/pr-2680/searchindex.json
  pr-preview/pr-2680/setup/client_config_example.yaml
Due: none

chore: fix pin-version comments and downgrade slack action
  .github/workflows/attach-binaries-to-release.yml
  .github/workflows/code.yml
  .github/workflows/create-release-announce.yml
  .github/workflows/create-tx-for-multisig.yml
  .github/workflows/gen-sui-upgrade-version-pr.yml
  .github/workflows/gen-version-bump-pr.yml
  .github/workflows/issues-monitor.yaml
  .github/workflows/lint.yml
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/stale-prs.yaml
  .github/workflows/tag.yml
  .github/workflows/update-operators-cache.yml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
  .github/workflows/updates.yml
  .github/workflows/validate-release-notes-pre-land.yml
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@966c547c8a5c120022ef6976e8dbf535655451f2 🚀
  assets/operators.json
  setup/client_config_example.yaml
Due: none

chore: bump serde version
  Cargo.lock
  Cargo.toml
  deny.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump fastcrypto and tonic
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix breaking changes
  crates/walrus-sui/src/client/rpc_client.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump mysten-sim version
  scripts/simtest/cargo-simtest
Due: none

chore: remove redundant code
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
