Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: add storage pool SDK methods and E2E test binary
  Cargo.lock
  crates/walrus-storage-pool-test/Cargo.toml
  crates/walrus-storage-pool-test/client_config.yaml
  crates/walrus-storage-pool-test/src/main.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

client: add create-bucket command
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client/blob_bucket_ops.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(cherrypick): fully enable storage pool support in storage node (#3257)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.46.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): convert gRPC chain_id from base58 digest to short hex format
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): replace SuiCommittee with walrus-sui-owned CommitteeInfo type
  crates/walrus-service/src/event/event_processor/bootstrap.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/committee.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): use .context() instead of .map_err() for authority public key error
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): rename CommitteeInfo to SuiCommitteeInfo
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/committee.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(core): reject quilt blobs exceeding 4 GiB instead of silent truncation
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/responses.rs
  docs/content/system-overview/quilt.mdx
  docs/content/system-overview/system-constraints.mdx
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use mmap_zeroed for tests
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add gRPC migration for service info methods (#3260)
  crates/walrus-service/src/event/event_processor/bootstrap.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/committee.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: reuse target end epoch in owned registration
  crates/walrus-sdk/src/node_client/resource/owned_registration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: extract owned registration planner
  crates/walrus-sdk/src/node_client/resource.rs
  crates/walrus-sdk/src/node_client/resource/owned_registration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: plumb working dir as args
  procman.yaml
Due: none

fix: correct YAML indentation and network defaults in testbed scripts
  procman.yaml
  scripts/local-testbed.sh
Due: none

feat: rewrite procman.yaml to walrus.pman (v0.15.2+ DSL)
  procman.yaml
  walrus.pman
Due: none

updates
  walrus.pman
Due: none

feat(sdk): extract owned registration planner [2/n] (#3209)
  crates/walrus-sdk/src/node_client/resource.rs
  crates/walrus-sdk/src/node_client/resource/owned_registration.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: make multisig script work with newest sui cli version
  scripts/create_multisig_tx.sh
Due: none

chore: add benchmark to test limits of number of supported nodes
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/committee_size_bench.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style(sdk): use explicit owned state imports
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/owned_state.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: extract owned post-registration state machine
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/owned_state.rs
  crates/walrus-sdk/src/node_client/resource.rs
  crates/walrus-sdk/src/node_client/resource/owned_registration.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sdk): repair rebased owned store pipeline
  crates/walrus-sdk/src/node_client/store_pipeline.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: reject quilt blobs exceeding 4 GiB instead of silent truncation (#3264)
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/responses.rs
  docs/content/system-overview/quilt.mdx
  docs/content/system-overview/system-constraints.mdx
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sdk): extract owned post-registration state machine [3/n] (#3210)
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/owned_state.rs
  crates/walrus-sdk/src/node_client/resource.rs
  crates/walrus-sdk/src/node_client/resource/owned_registration.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style(sdk): use explicit owned backend imports
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: introduce internal store backend seam
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sdk): align store backend imports after rebase
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(bucket-object): add initial contract scaffold
  contracts/bucket_object/Move.lock
  contracts/bucket_object/Move.toml
  contracts/bucket_object/README.md
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/bucket_object_inner_v1.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: taplo-format, move-test, move-format

chore(bucket-object): drop package readme
  contracts/bucket_object/README.md
Due: move-test

refactor(bucket-object): model bucket objects as bucket entries
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/bucket_object_inner_v1.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

feat(bucket-object): add bucket object version state
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/bucket_object_inner_v1.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format

feat(bucket-object): add staged write flow
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket_inner_v1.move
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/sources/object_version.move
  contracts/bucket_object/tests/bucket_object_tests.move
  contracts/walrus/sources/system/storage_pool.move
Due: move-test, move-format

feat(bucket-object): add register-and-stage APIs
  contracts/bucket_object/sources/bucket_object.move
  contracts/bucket_object/tests/bucket_object_tests.move
Due: move-test, move-format
