Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

revert get_blob_info()
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

formatting
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: tighten pooled storage pool handling
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/store_backend/pooled.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): split TransactionResponse into read and execute types
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/transaction.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): replace expect with Result for BCS serialization in gRPC transaction functions
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): rename COIN_TYPE to SUI_COIN_OBJECT_TYPE in tests
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 7 for transaction execution
  crates/walrus-sdk/src/node_client/upload_relay_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/transaction.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): include command index in gRPC execution failure error strings
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest build
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): use response-relative field mask path for simulate_transaction
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): wait for checkpoint inclusion after gRPC transaction execution
  Cargo.toml
  crates/walrus-sui/src/client/dual_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): make checkpoint wait timeout configurable
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): make dual_client future type aliases pub for rustdoc
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): preserve retriability of checkpoint-wait errors
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: fix Cargo.toml taplo formatting
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(service): remove unused checkpoint_wait_timeout from SuiReaderConfig
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): extract shared gas-budget helper
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add additive blob bucket support [6/n] (#3213)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/pooled_state.rs
  crates/walrus-sdk/src/node_client/responses.rs
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
  crates/walrus-sdk/src/node_client/store_backend/pooled.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/pooled_blob_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/pooled_blob_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

revert has_metadata()
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(ci): bump taiki-e/install-action to v2.75.16
  .github/workflows/code.yml
  .github/workflows/lint.yml
Due: none

perf: offload blocking RocksDB reads from tokio runtime (#3271)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add a gRPC migration level for transaction execution (#3262)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/node_client/upload_relay_client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/transaction.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(ci): bump taiki-e/install-action to v2.75.16 (#3295)
  .github/workflows/code.yml
  .github/workflows/lint.yml
Due: none

fix(sui): drop dead errors check in certify_pooled_blobs
  crates/walrus-sui/src/client/pooled_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): drop dead errors check in certify_pooled_blobs (#3296)
  crates/walrus-sui/src/client/pooled_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sdk): expose get_certificate_standalone for re-registration flows
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sdk): expose get_certificate_standalone for re-registration flows (#3294)
  crates/walrus-sdk/src/node_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

adhere to walrus spec
  docs/site/docusaurus.config.js
  docs/site/src/client/webmcp.js
  docs/site/static/.well-known/api-catalog
  docs/site/static/.well-known/mcp/server-card.json
  docs/site/static/robots.txt
Due: none

Update quilt-http-apis.mdx
  docs/content/http-api/quilt-http-apis.mdx
Due: none

build(deps): [TEMP] bump sui to chrono-unpin rev, loosen workspace chrono
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/src/client/dual_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add a new endpoint for faster uploads in relay
  Cargo.lock
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/upload_relay.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/README.md
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/upload_relay_openapi.html
  crates/walrus-upload-relay/upload_relay_openapi.yaml
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

bump epoch bucket count to 1000 and add saturation guard
  crates/walrus-service/src/node/consistency_check.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

log and warning for walrus_periodic_event_source_for_deterministic_events
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

make event_source check a hard invariant
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

Compare labels present on 2+ nodes instead of requiring all nodes
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

adjust NUM_EVENTS_PER_DIGEST_RECORDING
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

no wait
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
