Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

update docs styling
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/styles.module.css
Due: none

feat: allow destroying expired storage pool (#3246)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat(sui): add gRPC migration level 5 for dynamic field listing
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/dynamic_field_info.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test(e2e): add tests for dynamic field listing
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix padding
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/index.tsx
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

refactor(sui): use proto enum for DynamicField.kind decoding
  crates/walrus-sui/src/dynamic_field_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sui): make get_dynamic_fields gRPC-only
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/dynamic_field_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 6 for transaction reads
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC dynamic field listing
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/dynamic_field_info.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: migrate get_dynamic_fields to gRPC (#3217)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/dynamic_field_info.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 5 for transaction reads
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 6 for service info methods
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 7 for transaction execution
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 8 for move module introspection
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): add gRPC migration level 9 for owned object listing
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/styles.module.css
Due: none

add redirects
  docs/site/ws-resources.manual.json
Due: none

add redirects
  docs/content/sites/linking/redirects.mdx
  docs/site/static/llms.txt
  docs/site/static/portals.json
  docs/site/ws-resources.manual.json
Due: none

fix lint
  docs/site/src/components/LandingPage.tsx
  docs/site/src/css/custom.css
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

fix lint
  docs/content/sites/ci-cd/preparing-deployment-credentials.mdx
Due: none

fix lint
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/styles.module.css
Due: none

fix lint
  docs/site/src/theme/DocCard/styles.module.css
Due: none

merge main
  docs/site/ws-resources.manual.json
Due: none

docs: Update docs styling to match homepage (#3247)
  docs/content/operator-guide/upload-relay.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
  docs/site/src/components/LandingPage.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCard/styles.module.css
  docs/site/static/llms.txt
  docs/site/ws-resources.manual.json
Due: none

update portal instructions
  docs/content/sites/portals/deploy-locally.mdx
Due: none

fix routes
  docs/site/static/llms.txt
  docs/site/static/portals.json
  docs/site/ws-resources.manual.json
Due: none

fix routes
  docs/content/sites/portals/deploy-locally.mdx
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none
