Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Walrus v1.47.1 Vesion Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

test: log transient errors instead of crashing clients in Antithesis test (#3306)
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: fix tests
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sync: update shared Docusaurus components from source
  docs/site/src/shared/components/Cards/index.tsx
  docs/site/src/shared/components/Glossary/GlossaryPage.tsx
  docs/site/src/shared/components/Glossary/GlossaryProvider.tsx
  docs/site/src/shared/components/Glossary/Term.tsx
  docs/site/src/shared/components/Glossary/term.module.css
  docs/site/src/shared/components/ImportContent/index.tsx
  docs/site/src/shared/components/ImportContent/utils.js
  docs/site/src/shared/components/RelatedLink/index.tsx
  docs/site/src/shared/components/SidebarIframe/index.js
  docs/site/src/shared/components/Snippet/index.tsx
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/components/UnsafeLink/index.tsx
  docs/site/src/shared/css/details.css
  docs/site/src/shared/js/check-links.mjs
  docs/site/src/shared/js/convert-release-notes.js
  docs/site/src/shared/js/generate-llmstxt.mjs
  docs/site/src/shared/js/serve-with-rewrites.js
  docs/site/src/shared/js/tabs-md.client.js
  docs/site/src/shared/js/test-markdown-export.js
  docs/site/src/shared/js/utils.js
  docs/site/src/shared/plugins/inject-code/index.js
  docs/site/src/shared/plugins/inject-code/stepLoader.js
  docs/site/src/shared/plugins/plausible/client/index.ts
  docs/site/src/shared/plugins/plausible/index.ts
  docs/site/src/shared/plugins/remark-glossary.js
  docs/site/src/shared/plugins/tabs-md-client/index.mjs
Due: none

feat: Enable blob gc in mainnet (#3311)
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable blob gc in mainnet (#3311) (#3314)
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sync: update shared Docusaurus components from source
  docs/site/src/shared/components/Cards/index.tsx
  docs/site/src/shared/components/Glossary/term.module.css
  docs/site/src/shared/components/ImportContent/index.tsx
  docs/site/src/shared/components/RelatedLink/index.tsx
  docs/site/src/shared/components/SidebarIframe/index.js
  docs/site/src/shared/components/Snippet/index.tsx
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/components/UnsafeLink/index.tsx
  docs/site/src/shared/css/details.css
  docs/site/src/shared/js/convert-release-notes.js
  docs/site/src/shared/js/utils.js
  docs/site/src/shared/plugins/remark-glossary.js
Due: none

create workflow to generate multisig transaction for node governance actions
  .github/workflows/create-tx-for-multisig-node-governance.yml
  scripts/create_multisig_node_governance_tx.sh
Due: none

feat: create workflow to generate multisig transaction for node governance actions (#3315)
  .github/workflows/create-tx-for-multisig-node-governance.yml
  scripts/create_multisig_node_governance_tx.sh
Due: none

sync: update shared Docusaurus components from source
  docs/site/src/shared/components/Cards/index.tsx
  docs/site/src/shared/components/ImportContent/index.tsx
  docs/site/src/shared/components/RelatedLink/index.tsx
  docs/site/src/shared/components/SidebarIframe/index.js
  docs/site/src/shared/components/Snippet/index.tsx
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/components/UnsafeLink/index.tsx
  docs/site/src/shared/js/convert-release-notes.js
  docs/site/src/shared/js/utils.js
  docs/site/src/shared/plugins/remark-glossary.js
Due: none

sync: update shared Docusaurus components from source
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/plugins/remark-glossary.js
Due: none

chore: sync shared Docusaurus components from source
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/plugins/remark-glossary.js
Due: none

fix lint
  docs/site/src/client/webmcp.js
  docs/site/static/.well-known/api-catalog
  docs/site/static/.well-known/mcp/server-card.json
Due: none

Deploy preview for PR 3297 🛫
  pr-preview/pr-3297/.well-known/api-catalog
  pr-preview/pr-3297/.well-known/mcp/server-card.json
Due: none

set default mainnet object IDs in multisig operation
  .github/workflows/create-tx-for-multisig-node-governance.yml
  scripts/create_multisig_node_governance_tx.sh
Due: none

cleanup existing subsidy multisig operation workflow
  .github/workflows/create-tx-for-multisig-subsidy.yml
  scripts/create_multisig_subsidy_tx.sh
Due: none

remove human cc in PR warnings
  .github/workflows/code.yml
Due: none

chore: cleanup existing subsidy multisig operation workflow (#3324)
  .github/workflows/create-tx-for-multisig-subsidy.yml
  scripts/create_multisig_subsidy_tx.sh
Due: none

chore: set default mainnet object IDs in multisig operation (#3323)
  .github/workflows/create-tx-for-multisig-node-governance.yml
  scripts/create_multisig_node_governance_tx.sh
Due: none

chore: remove human cc in PR warnings (#3325)
  .github/workflows/code.yml
Due: none

ci: sequence ensure-walrus-binaries before walrus-build-artifacts
  .github/workflows/trigger-artifacts-builds.yml
Due: none

docs: adhere to Cloudflare agent-ready spec (#3297)
  docs/content/http-api/quilt-http-apis.mdx
  docs/site/docusaurus.config.js
  docs/site/src/client/webmcp.js
  docs/site/static/.well-known/api-catalog
  docs/site/static/.well-known/mcp/server-card.json
  docs/site/static/robots.txt
Due: none

trigger-artifacts-builds: drop in-workflow wait for ensure-walrus-binaries
  .github/workflows/trigger-artifacts-builds.yml
Due: none

trigger-artifacts-builds: condense block comments
  .github/workflows/trigger-artifacts-builds.yml
Due: none

ci: sequence ensure-walrus-binaries before walrus-build-artifacts (#3326)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

chore: sync shared Docusaurus components (#3321)
  docs/site/src/shared/components/ThemeToggle/index.tsx
  docs/site/src/shared/plugins/remark-glossary.js
Due: none

test: add cross-node invariant checks (#3055)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/node/metrics.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/run-observer.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: fix redirects, update for afdocs (#3310)
  .github/workflows/pages-preview.yaml
  docs/content/glossary.mdx
  docs/site/src/pages/search.mdx
  docs/site/src/pages/walrus-pdf.js
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/src/scripts/generate-routes.js
  docs/site/src/scripts/serve-with-rewrites.js
  docs/site/src/shared/js/inline-imports.js
  docs/site/static/llms.txt
  docs/site/ws-resources.manual.json
Due: none

ci: dispatch prebuild-walrus-images (renamed from ensure-walrus-binaries)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

ci: dispatch prebuild-walrus-images (renamed from ensure-walrus-binaries) (#3327)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

chore: bump chrono to 0.4.44 and refresh Cargo.lock for sui testnet-v1.71.0
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: align sui-rpc/sui-sdk-types rev with sui testnet-v1.71.0
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: adapt list_owned_objects helpers to BoxedChannel state_client
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
