Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Add typed store and derive crate to walrus repo
  .licensesnipignore
  Cargo.lock
  Cargo.toml
  crates/typed-store-derive/Cargo.toml
  crates/typed-store-derive/src/lib.rs
  crates/typed-store/Cargo.toml
  crates/typed-store/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
  crates/typed-store/tests/macro_tests.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui versions to testnet-v1.48.0
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/typed-store/Cargo.toml
  crates/typed-store/src/rocks.rs
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

refactor: remove ClientErrorKind - simplify various generic abstractions
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement Walrus object for SDK
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/walrus.rs
  crates/walrus-sdk/src/walrus/epochs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.26.0 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Make sampled blob selection deterministic based on epoch in sliver consistency check
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove unrelated code in typed-store
  .licensesnipignore
  Cargo.lock
  Cargo.toml
  crates/typed-store-derive/Cargo.toml
  crates/typed-store-derive/src/lib.rs
  crates/typed-store/Cargo.toml
  crates/typed-store/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
  crates/typed-store/tests/macro_tests.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): make path optional in wallet config
  Cargo.lock
  crates/walrus-sdk/src/config.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/config.rs
  setup/client_config.yaml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): allow setting Sui RPC URLs in client config
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): set optimized default params for blob recovery
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): increase limit for number of pending accept reset streams
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Simple search for cache in headers
  scripts/cache-inference/headers-inference.ts
  scripts/cache-inference/package.json
  scripts/cache-inference/tsconfig.json
  scripts/cache-inference/types.ts
Due: none

Adds speed test
  scripts/cache-inference/headers-inference.ts
  scripts/cache-inference/types.ts
Due: none

Updates cache-inference to use speedup
  scripts/cache-inference/headers-inference.ts
  scripts/cache-inference/types.ts
Due: none

Renames file to cache-inference
  scripts/cache-inference/cache-inference.ts
Due: none

Use cache speed-up to infer cache availability
  docs/book/assets/operators.json
  scripts/cache-inference/cache-inference.ts
Due: none

Filter out speedup for cache-hit on 1st request
  scripts/cache-inference/cache-inference.ts
Due: none

Update script to use input arguments
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/package.json
  scripts/cache-inference/pnpm-lock.yaml
  scripts/cache-inference/types.ts
Due: none

Try run workflow on push on this branch
  .github/workflows/update-operators-cache.yml
Due: none

Update operators cache github workflow
  .github/workflows/update-operators-cache.yml
Due: none

Fix npm install location in workflow
  .github/workflows/update-operators-cache.yml
Due: none

Workflow now appears in actions
  .github/workflows/update-operators-cache.yml
  scripts/cache-inference/.gitignore
Due: none

Still not able to dispatch workflow manually
  .github/workflows/update-operators-cache.yml
Due: none

Also measure mainnet aggregators. Also fix lint long lines.
  .github/workflows/update-operators-cache.yml
  scripts/cache-inference/cache-inference.ts
Due: none

Cannot use env to declare another env
  .github/workflows/update-operators-cache.yml
Due: none

Try single quotes
  .github/workflows/update-operators-cache.yml
Due: none

Fix PR body env interpolation
  .github/workflows/update-operators-cache.yml
Due: none

Trigger running via cron-job
  .github/workflows/update-operators-cache.yml
Due: none

Do not edit operators.json in this PR
  docs/book/assets/operators.json
Due: none

Update workflow name
  .github/workflows/update-operators-cache.yml
Due: none

Update new PR title and commit message
  .github/workflows/update-operators-cache.yml
Due: none

fix: don't overwrite configured metrics and REST API addresses
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Pin actions to specific commits
  .github/workflows/update-operators-cache.yml
Due: none

Use THRESHOLD_MS directly and not function parameter
  scripts/cache-inference/cache-inference.ts
Due: none

package.json description
  scripts/cache-inference/package.json
Due: none

Simple cache boolean
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/types.ts
Due: none

Verbose data only on demand via --verbose flag
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/package.json
Due: none

Use yargs instead of manual parsing
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/package.json
  scripts/cache-inference/pnpm-lock.yaml
Due: none

Typo on verbose
  scripts/cache-inference/cache-inference.ts
Due: none
