Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs: apply Sui style-guide audit fixes to Console docs
  docs/content/console/api-reference.mdx
  docs/content/console/auth.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

docs: use Prerequisites tab component in Console quickstart
  docs/content/console/quickstart.mdx
Due: none

docs: resolve remaining style-audit flags in Console docs
  docs/content/console/auth.mdx
  docs/content/console/quickstart.mdx
  docs/content/console/storage-epochs.mdx
Due: none

docs: source Console quickstart code from walrus-harbor-quickstart
  docs/content/console/quickstart.mdx
Due: none

docs: restructure getting-started guide with testnet-first onboarding flow
  docs/content/getting-started/index.mdx
Due: none

docs: align getting-started admonition with style guide
  docs/content/getting-started/index.mdx
Due: none

docs: address second-round Console docs review
  docs/content/console/api-reference.mdx
  docs/content/console/overview.mdx
  docs/content/console/quickstart.mdx
Due: none

docs: address getting-started review feedback
  docs/content/getting-started/index.mdx
Due: none

docs: rename configure-testnet anchor to configure-tooling
  docs/content/getting-started/index.mdx
Due: none

docs: enhance getting-started guide with prerequisites and navigation (#3543)
  docs/content/getting-started/index.mdx
Due: none

fix: prevent stale recovery task from completing a catch-up recovery target
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: keep node recovery task running across epoch changes
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: attach SHA-256 checksum as a blob attribute on store
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  docs/content/walrus-client/storing-blobs.mdx
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update checksum storage description in docs
  docs/content/walrus-client/storing-blobs.mdx
Due: none

fix: lock moved-away shards before recovery completion can attest epoch sync done
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: gate recovery completion on all owned shards being active
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/node/shard_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: increase maximum committee size from 111 to 150
  contracts/walrus/sources/staking/staking_inner.move
Due: move-test, move-format

chore: sync shared Docusaurus components from source
  docs/site/src/shared/components/Cards/index.tsx
  docs/site/src/shared/components/RelatedLink/index.tsx
  docs/site/src/shared/components/SidebarIframe/index.js
  docs/site/src/shared/components/Snippet/index.tsx
  docs/site/src/shared/components/UnsafeLink/index.tsx
  docs/site/src/shared/js/convert-release-notes.js
  docs/site/src/shared/js/serve-with-rewrites.js
  docs/site/src/shared/plugins/inject-code/index.js
Due: none

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

docs: add prompts map for Walrus Memory pages
  docs/walrus-memory-prompts.json
Due: none

docs: add sponsored and walletless uploads reference architecture (BEDU-283)
  docs/content/getting-started/index.mdx
  docs/content/sponsored-uploads.mdx
  docs/site/sidebars.js
Due: none

docs: add multi-language blob operations quickstart (BEDU-178)
  docs/content/blob-operations-quickstart.mdx
  docs/site/sidebars.js
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
