Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

updated comments.
  crates/walrus-indexer/src/async_task_sorter.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix aggregator quilt tags (#2658)
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): Fix double memory allocation for blob slivers (#2659) (#2663)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: cleanup max concurrent requests and max buffer size for aggregator and publisher (#2661)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: added AsyncTask, AsyncTaskStore, AsyncTaskSorter traits/types. (#2604)
  Cargo.lock
  crates/walrus-indexer/Cargo.toml
  crates/walrus-indexer/src/async_task_sorter.rs
  crates/walrus-indexer/src/errors.rs
  crates/walrus-indexer/src/lib.rs
  crates/walrus-indexer/src/test_utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix aggregator quilt tags (cherry-pick #2658) (#2664)
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

checkpoint.
  crates/walrus-indexer/src/async_task_manager.rs
  crates/walrus-indexer/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: increase timeout for fetching quilt patches
  scripts/k6/src/tests/aggregator/aggregator_v1_get_quilt_patch_latency.ts
Due: none

docs: remove quick wallet setup admonishment
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  setup/client_config.yaml
Due: none

chore: remove generate-sui-wallet command
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2655 🛫
  pr-preview/pr-2655/print.html
  pr-preview/pr-2655/searchindex.js
  pr-preview/pr-2655/searchindex.json
  pr-preview/pr-2655/usage/setup.html
Due: none

fix: fix daemon command arg collision (#2652)
  crates/walrus-service/src/client/cli/args.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cherry-pick): daemon arg fix (#2666)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cherry-pick 1.35): daemon arg fix (#2667)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tests
  aggregator_openapi.html
  crates/walrus-sdk/src/client/responses.rs
  storage_openapi.html
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update openapi docs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

delete unnecessary files
  aggregator_openapi.html
  storage_openapi.html
Due: none

cleanup
  crates/walrus-indexer/src/async_task_manager.rs
  crates/walrus-indexer/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-indexer/src/async_task_manager.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: tag object calls with type
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: reduce start rate for throughput test on ci
  crates/walrus-performance-tests/tests/k6_tests/common/thresholds.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix lint errors from CI
  crates/walrus-performance-tests/tests/k6_tests/common.rs
  crates/walrus-performance-tests/tests/k6_tests/common/k6.rs
  crates/walrus-performance-tests/tests/k6_tests/common/thresholds.rs
  crates/walrus-performance-tests/tests/k6_tests/mod.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: reduce code duplication in test
  crates/walrus-performance-tests/tests/k6_tests/aggregator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: more changes to satisfy the lint gods
  crates/walrus-performance-tests/tests/k6_tests/common.rs
  crates/walrus-performance-tests/tests/k6_tests/common/k6.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

note that we will want to give some treatment to very very large blobs
  crates/walrus-sdk/src/client/file_upload_job.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.35.2 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Update started.md
  docs/book/usage/started.md
Due: none

Deploy preview for PR 2638 🛫
  pr-preview/pr-2638/operator-guide/backup-restore-guide.html
  pr-preview/pr-2638/print.html
  pr-preview/pr-2638/searchindex.js
  pr-preview/pr-2638/searchindex.json
  pr-preview/pr-2638/setup/client_config_example.yaml
  pr-preview/pr-2638/usage/setup.html
  pr-preview/pr-2638/usage/started.html
Due: none

chore: tag get_object(s) calls with type (#2672)
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(core): correct `Symbols::with_capacity` semantics (#2653)
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/symbols.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2638 🛫
  pr-preview/pr-2638/print.html
  pr-preview/pr-2638/usage/started.html
Due: none
