Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Fix non-interactive wallet setup in test script
  crates/walrus-s3-gateway/QUICK-START.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/test-complete.sh
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

Complete configuration setup and troubleshooting documentation
  crates/walrus-s3-gateway/QUICK-START.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/client_config.yaml
  crates/walrus-s3-gateway/test-config.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Add minimal configuration and address startup issues
  crates/walrus-s3-gateway/QUICK-START.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/client_config.yaml
  crates/walrus-s3-gateway/test-config-minimal.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix server starting from root
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/test-complete.sh
  crates/walrus-s3-gateway/test-config-minimal.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Get config file relaite to create
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/config.example.toml
  crates/walrus-s3-gateway/config.toml
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/test-complete.sh
  crates/walrus-s3-gateway/test-config-minimal.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Unify docs
  crates/walrus-s3-gateway/CLIENT-SIDE-SIGNING.md
  crates/walrus-s3-gateway/IMPLEMENTATION-SUMMARY.md
  crates/walrus-s3-gateway/QUICK-START.md
  crates/walrus-s3-gateway/README.md
  crates/walrus-s3-gateway/TEST-USAGE.md
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

Update tests
  crates/walrus-s3-gateway/tests/.env.example
  crates/walrus-s3-gateway/tests/README.md
  crates/walrus-s3-gateway/tests/test-complete.sh
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

Add test suite
  Cargo.lock
  crates/walrus-s3-gateway/Cargo.toml
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/lib.rs
  crates/walrus-s3-gateway/src/metadata.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/tests/common/mod.rs
  crates/walrus-s3-gateway/tests/test-complete.sh
  crates/walrus-s3-gateway/tests/test-enhanced-signing.sh
  crates/walrus-s3-gateway/tests/test_authentication.rs
  crates/walrus-s3-gateway/tests/test_client_signing.rs
  crates/walrus-s3-gateway/tests/test_integration.rs
  crates/walrus-s3-gateway/tests/test_s3_operations.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improve.
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updatd.
  docs/book/usage/client-cli.md
  docs/book/usage/quilt.md
Due: none

Deploy preview for PR 2272 🛫
  pr-preview/pr-2272/print.html
  pr-preview/pr-2272/searchindex.js
  pr-preview/pr-2272/searchindex.json
  pr-preview/pr-2272/setup/client_config_example.yaml
  pr-preview/pr-2272/usage/client-cli.html
  pr-preview/pr-2272/usage/quilt.html
  pr-preview/pr-2272/usage/setup.html
Due: none

Server side signing
  Cargo.lock
  crates/walrus-s3-gateway/Cargo.toml
  crates/walrus-s3-gateway/client_config.yaml
  crates/walrus-s3-gateway/config.toml
  crates/walrus-s3-gateway/server_side_test_config.toml
  crates/walrus-s3-gateway/src/auth.rs
  crates/walrus-s3-gateway/src/bin/walrus-s3-gateway.rs
  crates/walrus-s3-gateway/src/config.rs
  crates/walrus-s3-gateway/src/handlers/mod.rs
  crates/walrus-s3-gateway/src/handlers/object.rs
  crates/walrus-s3-gateway/src/server.rs
  crates/walrus-s3-gateway/tests/.env.example
  crates/walrus-s3-gateway/tests/README.md
  crates/walrus-s3-gateway/tests/common.rs
  crates/walrus-s3-gateway/tests/common/mod.rs
  crates/walrus-s3-gateway/tests/integration.rs
  crates/walrus-s3-gateway/tests/test-complete.sh
  crates/walrus-s3-gateway/tests/test-enhanced-signing.sh
  crates/walrus-s3-gateway/tests/test_authentication.rs
  crates/walrus-s3-gateway/tests/test_client_signing.rs
  crates/walrus-s3-gateway/tests/test_integration.rs
  crates/walrus-s3-gateway/tests/test_s3_operations.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix unit tests
  crates/walrus-s3-gateway/server_side_test_config.toml
  crates/walrus-s3-gateway/test_server_wallet.yaml
  crates/walrus-s3-gateway/tests/integration.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added streaming endpoint.
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Move metadata and epoch to QuiltReader.
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

fix(node): correctly update event cursor at with incomplete history
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

streaming.
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@32b71ec894329cee7990fc2b4e8c3bf867bf8a4f 🚀
  print.html
  searchindex.js
  searchindex.json
  setup/client_config.yaml
  setup/client_config_example.yaml
  usage/setup.html
Due: none

monitor scope preserve scope
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove test-client for this PR
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/src/client.rs
  crates/walrus-upload-relay/src/params.rs
  crates/walrus-upload-relay/src/shared.rs
  crates/walrus-upload-relay/src/test_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

lint: license header
  crates/walrus-upload-relay/src/shared.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

change linear tip kind to be per kilobyte, instead of per byte
  crates/walrus-upload-relay/README.md
  crates/walrus-upload-relay/src/tip/config.rs
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/shared.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix backup service build
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/src/backup.rs
  crates/walrus-service/src/backup/garbage_collector.rs
  crates/walrus-service/src/backup/service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix checkpoint download worker
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup code
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move Restore command out of LocalAdmin.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated restore message.
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Mention of stake.wal.app for Testnet WAL tokens and Slush for Mainnet on-board and swap.
  docs/book/walrus-sites/ci-cd-gh-secrets-vars.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/searchindex.js
  pr-preview/pr-2264/searchindex.json
  pr-preview/pr-2264/setup/client_config.yaml
  pr-preview/pr-2264/usage/setup.html
  pr-preview/pr-2264/walrus-sites/ci-cd-gh-secrets-vars.html
Due: none

Fix typo Walrus -> site-builder
  docs/book/walrus-sites/ci-cd-gh-workflow.md
Due: none

Deploy preview for PR 2264 🛫
  pr-preview/pr-2264/print.html
  pr-preview/pr-2264/searchindex.js
  pr-preview/pr-2264/searchindex.json
  pr-preview/pr-2264/walrus-sites/ci-cd-gh-workflow.html
Due: none

Add tip for linking with SuiNS name
  docs/book/walrus-sites/ci-cd-gh-workflow.md
Due: none

Change first/subsequent to existence status of object_id
  docs/book/walrus-sites/ci-cd-gh-workflow.md
Due: none

chore: add `must_use` attribute to guard structs
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/monitored_scope.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
