Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

updates
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: count ClientErrorKind::NoMetadataReceived as blob not exist when reading event blob (#2348)
  crates/walrus-service/src/event/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/tip/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-upload-relay/bin/upload_relay.rs
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quorum upgrade test
  crates/walrus-simtest/tests/simtest.rs
  scripts/simtest/seed-search.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quorum upgrade test
  crates/walrus-sui/src/test_utils/system_setup.rs
  scripts/simtest/seed-search.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): mark events completed when cancelling sync for expired blobs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

improve `blob_sync_panic_thrown` test
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

WAL-754
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove unused var
  crates/walrus-sdk/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ensure sufficient time in the subsidies test to trigger subsidies
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add env based auth support for rpc clients
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/rpc_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.29.1 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

populate n_shards in e2e test correctly
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: he's comments
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): handle updated TLS certificates more gracefully
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: specific commit to release and announce
  .github/workflows/create-release-announce.yml
Due: none

fix title
  .github/workflows/create-release-announce.yml
Due: none

fixing lint
  .github/workflows/create-release-announce.yml
Due: none

fix(node): mark events completed when cancelling sync for expired blobs (cherry-pick) (#2359)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Move test_quorum_contract_upgrade test to simtest env
  .github/workflows/code.yml
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
  scripts/simtest/simtest-run.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updated docs.
  docs/book/operator-guide/aggregator.md
  docs/book/usage/quilt.md
Due: none

update the cost part.
  docs/book/usage/quilt.md
Due: none

Deploy preview for PR 2362 🛫
  pr-preview/pr-2362/print.html
  pr-preview/pr-2362/searchindex.js
  pr-preview/pr-2362/searchindex.json
  pr-preview/pr-2362/usage/quilt.html
Due: none

update to same sui version
  .github/workflows/code.yml
  docs/examples/move/walrus_dep/Move.toml
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/walrus/Move.toml
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

fix: reduce excessive logs around cancelling blob syncs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
