Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix(docs): serve clean URLs on the Vercel deployment (#3773)
  docs/site/docusaurus.config.js
  docs/site/vercel.json
Due: none

fix(docs): fill the three blank cards on the skills page (#3774)
  docs/site/src/data/skills.json
  docs/site/src/scripts/generate-skills.mjs
Due: none

ci: drop the GitHub Pages preview job (#3775)
  .github/workflows/pages-preview.yaml
Due: none

docs: fix 39 drift findings across 7 pages
  docs/content/examples/javascript.mdx
  docs/content/operator-guide/signed-binaries.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/system-overview/aggregators-publishers-relays.mdx
  docs/content/system-overview/caching.mdx
Due: none

docs: fix drift in 8 more pages (values, methods, endpoints)
  docs/content/blob-operations-quickstart.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/operator-guide/storage-nodes/slashing.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/network-health.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/storing-blobs.mdx
Due: none

docs: fix 21 safe drift findings across 11 pages
  docs/content/blob-operations-quickstart.mdx
  docs/content/examples/javascript.mdx
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/streaming-media.mdx
  docs/content/operator-guide/signed-binaries.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/system-overview/aggregators-publishers-relays.mdx
  docs/content/system-overview/caching.mdx
  docs/content/system-overview/public-aggregators-and-publishers.mdx
Due: none

docs: rename 10 deprecated CLI flags
  docs/content/operator-guide/signed-binaries.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
Due: none

refactor(storage): abstract sliver storage backend (#3770)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Isolate shard-sync sliver writes behind durable batch boundary
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add Strata backend for clean-node sliver storage
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-utils/src/metrics.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Apply repository formatting to Strata integration
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Sort Strata dependency for TOML formatting
  crates/walrus-service/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Await Strata durable LSN notifications for sliver writes
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address Strata sliver store review feedback
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Refine Strata sliver store naming and sync timeout
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Enable Strata slivers in Antithesis testbeds
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/sliver_store.rs
  crates/walrus-service/src/testbed.rs
  docker/walrus-antithesis/build-test-config-image/Dockerfile
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
  docker/walrus-antithesis/build-test-config-image/pipeline.sh
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-antithesis/build-walrus-image-for-antithesis/build.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add certify_snapshot_blob to the system contract
  contracts/walrus/sources/init.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/messages.move
  contracts/walrus/sources/system/snapshot_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/snapshot_blob_tests.move
Due: move-test, move-format

feat: add the snapshot certification reads and transaction to the Rust client
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder/owned_blob_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: certify blob info snapshots on chain and reconcile them at the next epoch boundary
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot_publication.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add certification simtests for blob info snapshots
  Cargo.lock
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: keep garbage collection off the bytes of a live blob info snapshot publication
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot_publication.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: note the own-slivers encoding follow-up for blob info snapshots
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: sync shared Docusaurus components from source
  docs/site/src/shared/components/AgentPrompt/index.tsx
  docs/site/src/shared/components/AgentPrompt/styles.module.css
  docs/site/src/shared/js/serve-with-rewrites.js
Due: none

docs: code fence language mismatches (#3790)
  docs/content/sites/ci-cd/other-ci-cd-platforms.mdx
Due: none

docs: rename 10 deprecated CLI flags (#3794)
  docs/content/operator-guide/signed-binaries.mdx
  docs/content/operator-guide/storage-nodes/storage-node-maintenance.mdx
  docs/content/operator-guide/storage-nodes/storage-node-migration.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
Due: none

docs: update keywords across 3 pages (#3795)
  docs/content/release-notes/walrus-memory.mdx
  docs/content/release-notes/walrus-platform.mdx
  docs/content/release-notes/walrus-sites.mdx
Due: none

docs: update descriptions across 7 pages (#3796)
  docs/content/console/storage-epochs.mdx
  docs/content/getting-started/advanced-setup.mdx
  docs/content/glossary.mdx
  docs/content/operator-guide/aggregators/operating-aggregator.mdx
  docs/content/system-overview/index.mdx
Due: none

docs: fix 14 cross-page contradictions
  docs/content/examples/move.mdx
  docs/content/operator-guide/publishers/auth-publisher.mdx
  docs/content/operator-guide/stake.mdx
  docs/content/operator-guide/storage-nodes/storage-node-faq.mdx
  docs/content/sites/custom-domains/bringing-your-own-domain.mdx
  docs/content/sites/known-restrictions.mdx
  docs/content/system-overview/available-networks.mdx
  docs/content/system-overview/caching.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/operations.mdx
  docs/content/system-overview/red-stuff-recovery.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/storing-blobs.mdx
Due: none

ci: skip artifact/image builds for docs-only pushes
  .github/workflows/trigger-artifacts-builds.yml
Due: none

ci: skip artifact/image builds for docs-only pushes (#3807)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

Apply suggestion from @jessiemongeon1
  docs/content/sites/known-restrictions.mdx
Due: none

refactor: drop the state field from the snapshot publication record
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info_snapshot_publication.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(docs): serve every page's markdown at its public .md URL
  docs/site/.gitignore
  docs/site/src/scripts/copy-markdown-files.js
  docs/site/vercel.json
Due: none

fix(docs): point six legacy .md rewrites at the page they moved to
  docs/site/vercel.json
Due: none

feat: retry a transiently failed blob info snapshot attestation in the background
  crates/walrus-service/src/node/blob_info_snapshot_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fetch Strata dependency over public HTTPS
  Cargo.lock
  crates/walrus-service/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

docs: track the removal of the migrate snapshot-state step in WAL-1364
  contracts/walrus/sources/system.move
Due: move-test, move-format

docs: split the run-on paragraph in the snapshot_blob module doc
  contracts/walrus/sources/system/snapshot_blob.move
Due: move-test, move-format

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
