Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: aggregator supports byte range read (#2724)
  Cargo.lock
  Cargo.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-storage-node-client/src/api/errors.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Glossary page and style fixes
  documentation/content/intro.mdx
  documentation/content/legal/privacy.mdx
  documentation/content/legal/testnet_tos.mdx
  documentation/content/legal/walrus_general_tos.mdx
  documentation/content/usage/examples.mdx
  documentation/content/usage/glossary.mdx
  documentation/content/usage/setup.mdx
  documentation/content/usage/stake.mdx
  documentation/content/usage/web-api.mdx
  documentation/content/walrus-sites/commands.mdx
  documentation/content/walrus-sites/intro.mdx
  documentation/content/walrus-sites/linking.mdx
  documentation/content/walrus-sites/overview.mdx
  documentation/content/walrus-sites/portal.mdx
  documentation/content/walrus-sites/redirects.mdx
  documentation/content/walrus-sites/restrictions.mdx
  documentation/content/walrus-sites/tutorial-publish.mdx
  documentation/content/walrus-sites/tutorial-suins.mdx
  documentation/site/docusaurus.config.js
  documentation/site/sidebars.js
  documentation/site/src/components/Glossary/GlossaryPage.tsx
  documentation/site/src/components/Glossary/GlossaryProvider.tsx
  documentation/site/src/components/Glossary/Term.tsx
  documentation/site/src/css/custom.css
  documentation/site/src/pages/index.mdx
  documentation/site/src/plugins/remark-glossary.js
  documentation/site/src/theme/Footer/index.tsx
  documentation/site/static/glossary.yaml
  documentation/site/static/operators.yaml
  documentation/site/static/portals.yaml
Due: none

cleanup
  documentation/site/src/components/Glossary/Term.tsx
Due: none

feat: add BlobManager coin stash, query functions, and coin merging support
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/events.rs
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus_subsidies/Move.lock
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

refactor: simplify BlobStash to use single table keyed by blob_id
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
Due: move-test, move-format

refactor: update BlobManagerClient for simplified single-table BlobStash
  crates/walrus-sdk/src/client/blob_manager_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add internal attributes to ManagedBlob for efficient single-read access
  contracts/walrus/sources/system/managed_blob.move
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

address review comments
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improve DB batch processing
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

some nits from #2640
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

minor improvements
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use string as GC table key type
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/constants.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): move garbage collection to a background task (#2725)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove use_legacy_event_provider option
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add blob attribute operations and capability-based access control
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/system/managed_blob.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

added contract change summary
  contracts/walrus/blob_manager_contract_changes_summary.md
Due: move-test

wip
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/tests/epoch_change.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix flake in test
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add ExtensionPolicy for BlobManager with Rust SDK support
  contracts/walrus/blob_manager_contract_changes_summary.md
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/extension_policy.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

refactor: implement lazy initialization pattern for BlobManagerClient
  contracts/walrus/sources/blob_stash.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

updated contract change summary.
  contracts/walrus/blob_manager_contract_changes_summary.md
Due: move-test

refactor: simplify BlobStatus by combining managed blob info
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-storage-node-client/src/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix permanent blob status from managed blobs.
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-storage-node-client/src/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: rename check_blob_id to be more explicit of what it does (#2723)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/byte_range_read_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: fix `does_not_advance_cursor_past_incomplete_blobs`
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: fix `does_not_advance_cursor_past_incomplete_blobs` (#2733)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix deadlock in dropping BlobRetirementNotify; tighten BlobRetirementNotifier tests
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add BlobManager contract design document and fix line length
  contracts/walrus/blob_manager_design.md
Due: move-test

chore: update pre-commit hooks
  .pre-commit-config.yaml
  docker/walrus-antithesis/build-test-config-image/docker-compose.yaml
Due: none

chore: address move package lint warning
  contracts/subsidies/sources/subsidies.move
  contracts/wal/sources/wal.move
Due: move-test, move-format

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

ci: Updates jobs with dependency to site-builder to its latest version
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

ci: Site builder job for docs updates to v2
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

reuse retry_until_success_or_timeout
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-test-utils/Cargo.toml
  crates/walrus-test-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
