Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix(node): reduce verbosity of shard recovery logs (#2698)
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: improve V2 tests and add V1 to V2 migration tests
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add DeleteManaged operation for BlobManager blob cleanup
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: keep BlobInfo entries after DeleteManaged for tracking
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: simplify DeleteManaged to remove empty managed_blob_info
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: make sure links in private docstrings are valid
  .github/workflows/code.yml
  .pre-commit-config.yaml
  crates/typed-store/src/rocks.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): avoid redundant RPC requests for staking pools
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address review comments
  crates/walrus-service/src/client/daemon/routes.rs
  docs/book/operator-guide/aggregator.md
  docs/examples/shell/walrus-store-sliced.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

comments
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ok
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

lint
  docs/book/operator-guide/aggregator.md
Due: none

docs: Note about aggregator limitations and misc grammar fixes (#2680)
  docs/book/operator-guide/aggregator.md
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@feffc9965ac1f4378c46d15a4beb65da68fd35a5 🚀
  operator-guide/aggregator.html
  print.html
  searchindex.js
  searchindex.json
Due: none

refactor: set blob info fields to None when empty for cleaner representation
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/client/daemon/routes.rs
  docs/examples/shell/walrus-store-sliced.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update docs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

docs
  crates/walrus-service/daemon_openapi.html
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix docs
  docs/book/operator-guide/aggregator.md
Due: none

Deploy preview for PR 2676 🛫
  pr-preview/pr-2676/operator-guide/aggregator.html
  pr-preview/pr-2676/print.html
Due: none

feat(client): Unblock blob encoding to run without downloading committee and shard assignments
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

addressing reviews
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): increase CLI start-up performance
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/internal_run.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-upload-relay/src/controller.rs
  docs/book/usage/setup.md
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

replace block_in_place by spawn_blocking
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy preview for PR 2710 🛫
  pr-preview/pr-2710/operator-guide/aggregator.html
  pr-preview/pr-2710/print.html
  pr-preview/pr-2710/searchindex.js
  pr-preview/pr-2710/searchindex.json
Due: none

fix simtests
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add managed blob deletion support with ManagedBlobDeleted event
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
  contracts/walrus/sources/blob_storage.move
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

style: update Move contracts to use method call syntax
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_stash.move
Due: move-test, move-format

refactor: remove unused _ctx parameter from delete_blob function
  contracts/walrus/sources/blob_manager.move
Due: move-test, move-format

feat: add end_epoch to ManagedBlobRegistered event
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

test: add comprehensive test cases for DeleteManaged operation
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

do not try write same blob when blob pool is empty; log error when getting blob status failed
  crates/walrus-sdk/src/client.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add debug logs and unit test for managed blob event processing
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix request distribution to match configuration
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove legacy recovery symbol code
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/openapi.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-sdk/src/client.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: do not try write same blob when blob pool is empty; log error when getting blob status failed (#2681)
  crates/walrus-sdk/src/client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
