Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

test(blob-bucket): cover sharded object registry
  contracts/blob_bucket/tests/bucket_object_registry_tests.move
  contracts/blob_bucket/tests/bucket_object_tests.move
Due: move-test, move-format

test(blob-bucket): align renamed object apis
  contracts/blob_bucket/tests/bucket_object_registry_tests.move
  contracts/blob_bucket/tests/bucket_object_tests.move
Due: move-test, move-format

test(blob-bucket): cover bucket-first object APIs
  contracts/blob_bucket/tests/blob_bucket_tests.move
  contracts/blob_bucket/tests/bucket_object_registry_tests.move
  contracts/blob_bucket/tests/bucket_object_tests.move
Due: move-test, move-format

test(blob-bucket): cover bucket object cap checks
  contracts/blob_bucket/tests/bucket_object_registry_tests.move
  contracts/blob_bucket/tests/bucket_object_tests.move
Due: move-test, move-format

test(blob-bucket): add bucket object move tests
  contracts/blob_bucket/Move.test.toml
  contracts/blob_bucket/tests/bucket_object_registry_tests.move
  contracts/blob_bucket/tests/bucket_object_tests.move
Due: taplo-format, move-test, move-format

test(blob-bucket): read registry id from cap
  contracts/blob_bucket/tests/blob_bucket_tests.move
Due: move-test, move-format

chore: simplify missing shard warning
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add bloom filter based pre existence check across all shards (#3193)
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add storage pool SDK methods
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fetch StoragePool inner state via dynamic field
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add tests
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fallback checkpoint bucket: migrate to new format
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: migrate fallback checkpoint bucket to new format (#3258)
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create a public function to extract unused storage from storage pool
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat(contracts): add decrease_unused_capacity_by_percent to StoragePool
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
Due: move-test, move-format

fix: include blob attribute headers on range responses (#3084)
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

safe shrinking function change; add tests
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat: create a public function to extract unused storage from storage pool (#3290)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_pool_tests.move
Due: move-test, move-format

feat(sdk): introduce internal store backend seam [4/n] (#3211)
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: replace wildcard domain imports
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/owned_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder/shared_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: split client and ptb by domain [5/n] (#3212)
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/owned_blob_ops.rs
  crates/walrus-sui/src/client/shared_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/owned_blob_ops.rs
  crates/walrus-sui/src/client/transaction_builder/shared_blob_ops.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style(sdk): use explicit owned backend imports
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sdk): align store backend imports after rebase
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: only publish blob bucket when present
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix tests
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: fix pooled storage pool decoding
  crates/walrus-sui/src/client/pooled_blob_ops.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sdk: add pooled storage backend
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/client_types.rs
  crates/walrus-sdk/src/node_client/client_types/pooled_state.rs
  crates/walrus-sdk/src/node_client/responses.rs
  crates/walrus-sdk/src/node_client/store_backend.rs
  crates/walrus-sdk/src/node_client/store_backend/owned.rs
  crates/walrus-sdk/src/node_client/store_backend/pooled.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

sui: add additive blob bucket support
  contracts/blob_bucket/Move.test.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/blob_bucket_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/blob_bucket_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

sui: expose pooled blob and storage pool ops
  contracts/blob_bucket/Move.test.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/blob_bucket_ops.rs
  crates/walrus-sui/src/client/pooled_blob_ops.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/client/transaction_builder/blob_bucket_ops.rs
  crates/walrus-sui/src/client/transaction_builder/pooled_blob_ops.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

sdk: add pooled pending uploads
  crates/walrus-sdk/src/node_client/store_backend/pooled.rs
  crates/walrus-sdk/src/node_client/store_pipeline.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use unwrap_or_resume_unwind for spawn_blocking panic handling
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf: offload blocking RocksDB reads from tokio runtime via spawn_blocking
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fmt
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

guard is_stored_at_shard spawn_blocking with cfg(not(msim)) to avoid calling tokio from futures::executor
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

offload blocking RocksDB reads in blob event processor
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cover more
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove async block inside spawn_blocking in create_storage_for_shards_in_background
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix latest epoch
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cover minor cases
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

revert node_status()
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
