Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

Update examples/typescript/retry_blob_with_backoff.ts
  examples/typescript/retry_blob_with_backoff.ts
Due: none

Update docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
Due: none

docs: address blob read review feedback
  docs/content/http-api/storing-blobs.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  examples/typescript/retry_blob_with_backoff.ts
Due: none

docs: clean up style guide wording
  docs/content/sites/configuration/adding-metadata.mdx
  docs/content/sites/configuration/site-configuration.mdx
  docs/content/sites/custom-domains/dns-configuration.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/known-restrictions.mdx
  docs/content/sites/linking/linking-from-walrus-sites.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/troubleshooting/network-errors.mdx
  docs/content/tusky-migration-guide.mdx
Due: none

docs: add known gotcha callouts
  docs/content/data-security.mdx
  docs/content/sites/configuration/site-configuration.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/system-overview/storage-costs.mdx
Due: none

docs: remove gotcha labels from callouts
  docs/content/data-security.mdx
  docs/content/sites/configuration/site-configuration.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
  docs/content/sites/security/access-control-options.mdx
  docs/content/system-overview/storage-costs.mdx
Due: none

docs: combine portal callouts
  docs/content/sites/portals/mainnet-testnet.mdx
Due: none

ci(version-bump): use app token for git push so CI fires on bot PRs
  .github/workflows/version-bump.yml
Due: none

ci(version-bump): use app token for git push so CI fires on bot PRs (#3416)
  .github/workflows/version-bump.yml
Due: none

chore: warn repeatedly while epoch change start handler runs too long
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use latest move functions and bump test framework to v1.73.0
  contracts/subsidies/Move.test.toml
  contracts/wal/Move.test.toml
  contracts/wal_exchange/Move.test.toml
  contracts/walrus/Move.test.toml
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/bls_aggregate.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus_subsidies/Move.test.toml
Due: taplo-format, move-test, move-format

docs(walrus): add eventual consistency guidance for reading blobs after upload (BEDU-254) (#3409)
  docs/content/http-api/reading-blobs.mdx
  docs/content/http-api/storing-blobs.mdx
  docs/content/troubleshooting/index.mdx
  docs/content/troubleshooting/reading-blobs-after-upload.mdx
  docs/site/sidebars.js
  examples/typescript/retry_blob_with_backoff.ts
Due: none

fix: harden sync_shard authorization and bound sliver_count
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: use neutral wording in sync_shard hardening comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: model committee migration per shard-sync scenario
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add pricing calculator guidance
  docs/content/getting-started/index.mdx
  docs/content/system-overview/storage-costs.mdx
Due: none

chore: address warning on move build (#3419)
  contracts/subsidies/Move.test.toml
  contracts/wal/Move.test.toml
  contracts/wal_exchange/Move.test.toml
  contracts/walrus/Move.test.toml
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/bls_aggregate.move
  contracts/walrus/sources/system/storage_pool.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus_subsidies/Move.test.toml
Due: taplo-format, move-test, move-format

docs: embed pricing calculator
  docs/content/system-overview/storage-costs.mdx
Due: none

fix: avoid msim consistency-check deadlock on shard-map lock
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: warn when epoch change start handler runs too long (#3418)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make walrus contract dir using the new package management
  .taplo.toml
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.test.toml
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.test.toml
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.test.toml
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.test.toml
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.test.toml
  contracts/walrus_subsidies/Move.toml
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  docker/walrus-antithesis/build-walrus-image-for-antithesis/update_move_toml.sh
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.test.toml
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.test.toml
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.test.toml
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.test.toml
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.test.toml
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

make simtest work with new package management system
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  crates/walrus-sui/src/system_setup.rs
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix test package publishing
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: drop intra-doc links to private fn / unimported PackageLoader
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  .cargo/config.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: restore localnet env injection in Move.toml for tests
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: switch test publish flow to ephemeral mode
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move published.toml setup in test publishing creation only
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: use persistent package mode for test publish and upgrade
  .cargo/config.toml
  crates/walrus-simtest/tests/simtest_core.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

debug: log shard-map lock waits to show consistency-check vs shard-removal deadlock
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
