Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

cleanup
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

new raw list recovery endpoint
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add check and test that only symbols for source slivers can be returned from retrieve_multiple_raw_recovery_symbols
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create retrieve_multiple_raw_recovery_symbols in storage nodes to retrieve multiple symbols for multiple slivers of the same type
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make sure that we read every source sliver once
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

address comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add test to test retrieve_multiple_raw_recovery_symbols
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/server.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Revisions to usage docs
  docs/content/snippets/blob-object-id.mdx
  docs/content/usage/client-cli.mdx
  docs/content/usage/examples.mdx
  docs/content/usage/interacting.mdx
  docs/content/usage/json-api.mdx
  docs/content/usage/networks.mdx
  docs/content/usage/quilt.mdx
  docs/content/usage/sdks.mdx
  docs/content/usage/setup.mdx
  docs/content/usage/stake.mdx
  docs/content/usage/started.mdx
  docs/content/usage/troubleshooting.mdx
  docs/site/sidebars.js
Due: none

feat: storage node list raw recovery symbols endpoint (#2758)
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: storage node list raw recovery symbols endpoint (#2758) (#2786)
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.39.1 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

test: various test improvements (#2759)
  .github/workflows/code.yml
  Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-test-utils/src/lib.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: various test improvements (#2759) (#2787)
  .github/workflows/code.yml
  Cargo.toml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-test-utils/src/lib.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Revisions to usage docs
  docs/content/operator-guide/storage-node.mdx
  docs/content/usage/client-cli.mdx
  docs/content/usage/json-api.mdx
  docs/content/usage/networks.mdx
  docs/content/usage/quilt.mdx
  docs/content/usage/troubleshooting.mdx
  docs/site/src/pages/index.mdx
Due: none

Revisions to usage docs
  docs/blog/06_mainnet.mdx
  docs/content/design/objectives_use_cases.mdx
  docs/content/dev-guide/dev-operations.mdx
Due: none

Revisions to usage docs
  docs/blog/06_mainnet.mdx
Due: none

Revisions to usage docs
  docs/content/usage/json-api.mdx
  docs/content/usage/quilt.mdx
  docs/content/usage/sdks.mdx
  docs/content/usage/setup.mdx
  docs/content/usage/troubleshooting.mdx
Due: none

Revisions to usage docs
  docs/content/snippets/blob-object-id.mdx
Due: none

docs: Revisions to `/docs/usage` pages (#2785)
  docs/blog/06_mainnet.mdx
  docs/content/design/objectives_use_cases.mdx
  docs/content/dev-guide/dev-operations.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/content/snippets/blob-object-id.mdx
  docs/content/usage/client-cli.mdx
  docs/content/usage/examples.mdx
  docs/content/usage/interacting.mdx
  docs/content/usage/json-api.mdx
  docs/content/usage/networks.mdx
  docs/content/usage/quilt.mdx
  docs/content/usage/sdks.mdx
  docs/content/usage/setup.mdx
  docs/content/usage/stake.mdx
  docs/content/usage/started.mdx
  docs/content/usage/troubleshooting.mdx
  docs/site/sidebars.js
  docs/site/src/pages/index.mdx
Due: none

fix redirects with ws-resources file from nikos
  docs/site/package.json
  docs/site/src/scripts/generate-legacy-html.mjs
  docs/site/ws-resources.json
Due: none

docs: Fix redirects with `ws-resources.json` file (#2788)
  docs/site/package.json
  docs/site/src/scripts/generate-legacy-html.mjs
  docs/site/ws-resources.json
Due: none

Update index.mdx
  docs/site/src/pages/index.mdx
Due: none

docs: fix broken link on homepage (#2789)
  docs/site/src/pages/index.mdx
Due: none

fix rev feedback
  docs/content/design/architecture.mdx
  docs/content/design/encoding.mdx
  docs/content/design/objectives_use_cases.mdx
  docs/content/design/properties.mdx
Due: none

Include --ws-resources argument to site-builder update in publish-docs workflow
  .github/workflows/publish-docs.yaml
Due: none

refactor: unify storage policies and simplify tip system
  contracts/walrus/blob_manager_contract_changes_summary.md
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/blob_manager/tip_policy.move
  contracts/walrus/sources/blob_storage.move
  contracts/walrus/sources/coin_stash.move
  contracts/walrus/sources/extension_policy.move
  contracts/walrus/sources/storage_purchase_policy.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/managed_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-e2e-tests/tests/blob_manager_test.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/blob-manager.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

update doc about list backup
  docs/content/operator-guide/backup-restore-guide.mdx
Due: none

missed one
  docs/content/design/architecture.mdx
Due: none

Create tusky-migration.mdx
  docs/site/static/tusky-migration.mdx
Due: none
