Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Enable garbage collection and deferral by default in testnet
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add a way to override node config per network (#2829) (#2837)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/network_overrides.rs
  crates/walrus-utils/src/config.rs
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Ensure setup dir is copied over in docker along with other dirs
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
Due: none

fix: Ensure setup dir is copied over in docker along with other dirs (#2839)
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
Due: none

Fix walrus-stress dockder image build
  docker/walrus-stress/Dockerfile
Due: none

Walrus v1.40.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix republishing in local testbed
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: walrus-stress dockder image build (#2841)
  docker/walrus-stress/Dockerfile
Due: none

remove review
  crates/walrus-sui/src/client/dual_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

pull data from "contents" for move object deserialization
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: begin reading objects from gRPC
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/event/event_processor/bootstrap.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix lint
  .editorconfig
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix simtest CI
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix republishing in local testbed (#2843)
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

revert tokio-util
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: log applied storage node configuration upon node start
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/site/static/operators.json
  scripts/cache-inference/package-lock.json
Due: none

chore: disable GC on mainnet by default
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: disable GC on mainnet by default (#2846)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Only update deferral
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: don't create new environment for sui in multisig action
  .github/workflows/create-tx-for-multisig.yml
Due: none

fix: don't create new environment for sui in multisig action (#2847)
  .github/workflows/create-tx-for-multisig.yml
Due: none

address comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: log applied storage node configuration upon node start (#2844)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/config_synchronizer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

turn on data existence consistency check on all but mainnet
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable deferral by default in testnet (#2838)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: turn on data existence consistency check on testnet (#2848)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump version of taplo to 0.10.0
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

chore: bump version of taplo to 0.10.0 (#2850)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none
