Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix: spawn epoch_sync_done in background instead of awaiting inline
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: split epoch_sync_done from deferred shard removal
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

handle JoinError from epoch_sync_done task before mark_as_complete
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

format
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: defer EpochChangeStart completion past GC phase 1 in all paths
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf: sequence shard removal after GC phase 1 at epoch transitions
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update docs/content/system-overview/storage-costs.mdx
  docs/content/system-overview/storage-costs.mdx
Due: none

docs: improve search result display and fix garbled titles
  docs/site/src/components/Search/CustomHitsContent.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/utils.tsx
  docs/site/src/css/custom.css
Due: none

docs: add Kapa AI button to landing page and Clarity analytics
  docs/site/docusaurus.config.js
  docs/site/src/components/LandingPage.tsx
  docs/site/static/clarity.js
Due: none

docs: fix search modal colors and scrolling
  docs/site/src/components/Search/SearchModal.tsx
Due: none

fix: spawn epoch_sync_done only after GC phase 1 succeeds
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

consolidate doc comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update storage costs with fixed USD pricing (#3373)
  docs/content/system-overview/storage-costs.mdx
Due: none

perf: sequence shard removal and epoch_sync_done after GC phase 1
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf: run GC phase 1 before execute_epoch_change
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(node): split GC phase 1 and phase 2 into separate functions
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

this is test
  docs/content/data-security.mdx
Due: none

fix(walrus-sui): skip failover for cancelled gRPC requests
  crates/walrus-sui/src/client/retry_client/failover.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: restore original search modal layout, keep tooltip fix
  docs/site/src/components/Search/SearchModal.tsx
Due: none

docs: improve search result display and fix garbled titles (#3375)
  docs/site/docusaurus.config.js
  docs/site/src/components/LandingPage.tsx
  docs/site/src/components/Search/CustomHitsContent.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/utils.tsx
  docs/site/src/css/custom.css
  docs/site/static/clarity.js
Due: none

fix deadlock
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

debug log
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: keep shard-map write guard on async task in spawn_blocking path
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test(walrus-service): assert shard_sync_progress is cleared at sync end
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(walrus-service): add metrics for db checkpoint creation
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

walrus-upload-relay: move blob encoding off the tokio reactor thread
  Cargo.lock
  crates/walrus-upload-relay/src/controller.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

walrus-core: parallelize blob encode loops with rayon (batched)
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/blob_encoding.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(sui): include owner, version, digest on Created/Mutated ObjectChangeEntry
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/transaction.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(walrus-service): add unique blob pending count metric for shard recovery
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
