Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

chore(docs): Use a glob expression to match markdown files under /markdown/ (#3090)
  docs/site/src/scripts/generate-routes.js
  docs/site/ws-resources.manual.json
Due: none

fix: prevent panic when reading empty blob as quilt (#3091)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: change log level from warn to debug for error tracing
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: storage pool prototype (full implementation)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-simtest/tests/simtest_storage_pool.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: harden quilt blob decoding against malformed untrusted data (#3053)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: cherry-pick fixes from main branch for decoding quilt blobs (#3097)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/node_client.rs
  crates/walrus-sdk/src/node_client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.44.1 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

epoch change wait for blob object GC
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: change log level from warn to debug for error tracing (#3095)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test(quilt): add proptest for decode on mutated meta/blob bytes
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improve comments
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus CLI docs
  docs/content/getting-started/advanced-setup.mdx
  docs/content/getting-started/index.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/index.mdx
  docs/content/walrus-client/configuration.mdx
  docs/content/walrus-client/index.mdx
  docs/content/walrus-client/json-mode.mdx
  docs/content/walrus-client/logging-and-metrics.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/reading-blobs.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/content/walrus-client/walrus-cli.mdx
  docs/site/sidebars.js
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCardList/index.js
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

lint
  docs/content/getting-started/advanced-setup.mdx
  docs/content/system-overview/index.mdx
  docs/content/walrus-client/index.mdx
  docs/site/sidebars.js
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCardList/index.js
  docs/site/static/portals.json
Due: none

lint
  docs/site/src/theme/DocCard/index.tsx
Due: none

improve strategy
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add corner-case tests for quilt aggregator HTTP endpoints
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add corner-case tests for blob aggregator HTTP endpoints
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update pooled blob reference counting
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improve tests and comments
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test helpers
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

macros to make tests concise
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

simplify
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Introduce blob info V2
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: fix "edit this page" link
  docs/site/docusaurus.config.js
Due: none

docs: fix "edit this page" link (#3105)
  docs/site/docusaurus.config.js
Due: none

test(quilt): Add proptest for quilt index and blob decode on mutated bytes (#3092)
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: increase epoch state consistency poll interval to 500ms
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: make epoch state consistency timeout configurable
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Walrus Sites portal docs IA revisions (#3076)
  docs/content/sites/portals/deploy-locally.mdx
  docs/content/sites/portals/mainnet-testnet.mdx
Due: none

docs: Walrus CLI docs (#3102)
  docs/content/getting-started/advanced-setup.mdx
  docs/content/getting-started/index.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
  docs/content/system-overview/core-concepts.mdx
  docs/content/system-overview/index.mdx
  docs/content/walrus-client/configuration.mdx
  docs/content/walrus-client/index.mdx
  docs/content/walrus-client/json-mode.mdx
  docs/content/walrus-client/logging-and-metrics.mdx
  docs/content/walrus-client/managing-blobs.mdx
  docs/content/walrus-client/quilts.mdx
  docs/content/walrus-client/reading-blobs.mdx
  docs/content/walrus-client/storing-blobs.mdx
  docs/content/walrus-client/walrus-cli.mdx
  docs/site/sidebars.js
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCardList/index.js
  docs/site/static/llms.txt
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
