Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

updates
  crates/fan-out-proxy/src/tip/check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

wip
  crates/fan-out-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sui/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: enable walrus-sdk to be linked by reference in external tools
  crates/walrus-sdk/Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sdk/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/main.rs
  crates/walrus-sdk/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove vscode settings because they conflict across editors
  .gitignore
  .vscode/settings.json
Due: none

updates
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/tip/error.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip/check.rs
  crates/fan-out-proxy/src/tip/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/tip/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

simplify.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

moved QuiltClient to quilt_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add file.
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(fanout): reuse the encoding config in the client
  crates/fan-out-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(fanout): move the controller to own module
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): add endpoint to get tip configuration
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/tip/check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: update commands for contract upgrades
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui dependencies to mainnet-v1.48.2
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.toml
  deny.toml
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

Walrus v1.25.1 version bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): add test client
  Cargo.lock
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/params.rs
  crates/fan-out-proxy/src/tip/check.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add base64 digest output
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

move node-id into node-admin subcommands
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Make rpc client fallback on single checkpoint failures
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add to CONTRIBUTING
  CONTRIBUTING.md
Due: none

chore: remove deprecated status for get_rpc_url
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update some feature dependency stuff and fix clippy issues
  crates/fan-out-proxy/src/client.rs
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/main.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

add api docs
  Cargo.lock
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/controller.rs
  crates/fan-out-proxy/src/params.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactored to use more of generci over QuiltVersion on read path.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

1st
  Cargo.lock
  crates/walrus-core/src/encoding.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/responses.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

check
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  Cargo.lock
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/error.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(fanout): add binary version
  Cargo.lock
  crates/fan-out-proxy/Cargo.toml
  crates/fan-out-proxy/src/main.rs
  crates/fan-out-proxy/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
