Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

fix formatting
  contracts/walrus/sources/staking/staking_pool.move
Due: move-test, move-format

feat: add function to allow nodes to proactively join active set
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/active_set.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/tests/staking/staking_inner_tests.move
Due: move-test, move-format

fix: change claim timestamps to i64
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/config.rs
  crates/walrus-service/src/client/daemon/auth.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolved comments.
  crates/walrus-service/src/client/resource.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added option for uses to pass in allowed-list of headers.
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added user-specific header allow list.
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updatd docs.
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui to testnet-v1.43.0
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/walrus-sui/src/client/retry_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

Fix bugs; expiration notification for blob recovery; add tests
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_expiration_notifier.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

blob expiration notifier
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_expiration_notifier.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Use same mechanism to cancel blob sync for shard recovery; code cleanup
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_expiration_notifier.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Address comments
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Adds mainnet addresses for wal
  contracts/wal/Move.lock
  contracts/wal/Move.toml
Due: taplo-format, move-test

Make SortBy generic.
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clear_metadata_in_test using flush and compaction
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.15.0 Version Bump
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix flaky sync_shard_recovery_metadata_restart::simtest_fail_during_fetching
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable contract deployment with existing token
  crates/walrus-orchestrator/src/protocol/target.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added tests for reuse rule of shared/deletable blobs.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

improved.
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Generalize blob retirement logic
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Cleanup recover_blob
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

set default headers, and print at startup.
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Cleanup.
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Failed test case.
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: clarify extend semantics and fix client behavior
  contracts/wal/Move.lock
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/shared_blob.move
  contracts/walrus/sources/system/system_state_inner.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

address review comments
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add new RS2 encoding type to the contracts
  contracts/subsidies/tests/subsidies_tests.move
  contracts/walrus/sources/system/blob.move
  contracts/walrus/sources/system/encoding.move
  contracts/walrus/sources/system/redstuff.move
  contracts/walrus/tests/system/blob_tests.move
  contracts/walrus/tests/system/event_blob_tests.move
Due: move-test, move-format

refactor and fix
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review comments
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/active_set.move
Due: move-test, move-format

support both encodings in walrus-core (almost)
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding/reed_solomon.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/mapping.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/inconsistency.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-core/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(core): add RS2 encoding type (WIP)
  Cargo.lock
  Cargo.toml
  crates/walrus-core/Cargo.toml
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/basic_encoding/raptorq.rs
  crates/walrus-core/src/encoding/basic_encoding/reed_solomon.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-core/src/inconsistency.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-sui/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

progress changes in `walrus-core` to the rest of the codebase
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add encoding size and source symbol tests from contracts
  crates/walrus-core/src/encoding/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

finish addition of RS2 to walrus-core
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/basic_encoding/raptorq.rs
  crates/walrus-core/src/encoding/basic_encoding/reed_solomon.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-service/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add encoding size and source symbol tests from contracts (#1610)
  crates/walrus-core/src/encoding/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

rename `RedStuff` to `RedStuffRaptorQ`
  crates/walrus-core/src/encoding/basic_encoding/raptorq.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: rename redstuff in tests
  crates/walrus-core/src/encoding/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): update output to support RS2
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
