Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

make fallback trigger a config
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add more comments about test code
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added checkpoint header.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

switched to BlobHeader.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: document all walrus client JSON mode commands with examples
  docs/book/usage/json-api.md
Due: none

nit
  docs/book/usage/json-api.md
Due: none

Refactored encoding/decoding code.
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added identifier to encoded blob.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added random attributes in test.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Handle event processor bootstrap when latest checkpoint is unavailable
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolve lint
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

print stacktrace
  crates/walrus-sui/src/client/retry_client/failover.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade subsidies testnet contracts
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/sources/subsidies.move
  testnet-contracts/subsidies/tests/subsidies_tests.move
Due: move-test

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@01d5d0639cf0e715c50e77e655ddf9b0d4cf91b7 🚀
  assets/operators.json
Due: none

docs(walrus-sites): add 'deploy' command docs, update the publish tutorial, and add soft-deprecation warnings for the 'publish' and 'update' commands.
  docs/book/walrus-sites/commands.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

fix(aggregator): fail early for inexistent blobs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: concurrent status check and bob read
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add logging
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: return when blob is inexistent
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

input system package id
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added QuiltBlobId.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

minor refactor.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add more tests for the blob info table
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

tempfile dependency
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: encapsulate WalletContext within Wallet
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Allow node to enter recovery mode during operation
  .vscode/settings.json
  crates/walrus-sdk/src/active_committees.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

clean up
  .vscode/settings.json
  crates/walrus-sdk/src/active_committees.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup tests
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

updates
  crates/walrus-sdk/src/walrus.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

create global committees refresher handle
  crates/walrus-sdk/src/walrus.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement Walrus object for SDK
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/walrus.rs
  crates/walrus-sdk/src/walrus/epochs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
