Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

feat: add CLI option and aggregator query parameter for strict integrity checks
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  docs/book/usage/web-api.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

minor docs improvements
  docs/book/design/encoding.md
Due: none

Deploy preview for PR 2592 🛫
  pr-preview/pr-2592/design/encoding.html
  pr-preview/pr-2592/print.html
  pr-preview/pr-2592/searchindex.js
  pr-preview/pr-2592/searchindex.json
  pr-preview/pr-2592/usage/web-api.html
Due: none

feat(node): delete blob data when blobs expire or are deleted
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: allow setting RUST_LOG in local testbed
  scripts/local-testbed.sh
Due: none

refactor db metrics.
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/raw_key_db_map.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: allow setting `RUST_LOG` in local testbed (#2600)
  scripts/local-testbed.sh
Due: none

Moved report_metrics to metrics.rs.
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: track both the sui checkpoint of the last in-progress and the last completed event
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/typed-store/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: export the Sui checkpoint of the last processed Walrus event (#2585)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

merged #2601
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/raw_key_db_map.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

resolved comments.
  crates/typed-store/src/raw_key_db_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add RawKeyDBMap for custom key serialization in typed-store (#2582)
  crates/typed-store/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/raw_key_db_map.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

merge
  crates/typed-store/src/raw_key_db_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

use a single db_metrics reporter for indexStore
  Cargo.toml
  crates/typed-store/src/column_family_handle.rs
  crates/typed-store/src/lib.rs
  crates/walrus-indexer/src/storage.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Upload blobs in background
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-sdk/src/client/orchestrator.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/uploader.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

reverse range read
  crates/typed-store/src/column_family_handle.rs
  crates/walrus-indexer/src/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/book/assets/operators.json
Due: none

test: add latency configs for the performance-main-baseline experiment stack
  scripts/k6/src/config/aggregator/v1_get_blob_latency.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs.plans.json
Due: none

test: add throughput configs for the performance-main-baseline experiment stack
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
Due: none

wip
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
  scripts/k6/src/lib/blob_history.ts
Due: none

docs: describe integrity checks
  book.toml
  docs/book/design/encoding.md
  docs/book/dev-guide/data-security.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: taplo-format

address review comments
  docs/book/design/encoding.md
Due: none

Apply suggestions from code review
  docs/book/design/encoding.md
Due: none

Clarifying details about inconsistency detection
  docs/book/design/encoding.md
Due: none

Deploy preview for PR 2592 🛫
  pr-preview/pr-2592/design/encoding.html
  pr-preview/pr-2592/print.html
  pr-preview/pr-2592/searchindex.js
  pr-preview/pr-2592/searchindex.json
Due: none

feat: add CLI option and aggregator query parameter for strict integrity checks (#2592)
  book.toml
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  docs/book/design/encoding.md
  docs/book/dev-guide/data-security.md
  docs/book/usage/client-cli.md
  docs/book/usage/web-api.md
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@188995648ac3adbb31212598afdbc4ae3c2c172f 🚀
  design/encoding.html
  dev-guide/data-security.html
  print.html
  searchindex.js
  searchindex.json
  usage/client-cli.html
  usage/web-api.html
Due: none

wip: more tweaking of initial parameters
  scripts/k6/src/config/aggregator/v1_get_blobs_breakpoint.plans.json
  scripts/k6/src/config/publisher/v1_put_blobs_breakpoint.plans.json
Due: none

chore: refactor Walrus indexer storage (#2593)
  Cargo.toml
  crates/typed-store/src/column_family_handle.rs
  crates/typed-store/src/lib.rs
  crates/walrus-indexer/src/storage.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): fix merge conflicts on portal.md
  docs/book/walrus-sites/portal.md
Due: none

docs(walrus-sites): rephrase the docs based on review feedback.
  docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

docs(walrus-sites): Fix the link in the testnet portal warning.
  docs/book/walrus-sites/portal.md
Due: none

docs(walrus-sites): Additional docs improvements for the availability of the portal on testnet.
  docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

docs(walrus-sites): Reframe the warning message.
  docs/book/walrus-sites/portal.md
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
