Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

docs(walrus-sites): mention suiup
  docs/book/walrus-sites/tutorial-install.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Update site-builder outputs and explanations
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Remove admonish note about check extend
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Replace publish with deploy
  docs/book/SUMMARY.md
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Minor
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Minor adjustments
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Remove reference to publish/update commands
  docs/book/walrus-sites/tutorial-suins.md
Due: none

Minor: Replace update with sitemap
  docs/book/walrus-sites/commands.md
Due: none

Add SymbolStore
  Cargo.lock
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/symbols.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test
  crates/walrus-core/src/encoding/arena.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-service/src/client/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

review fixes
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Deploy preview for PR 2678 🛫
  pr-preview/pr-2678/print.html
  pr-preview/pr-2678/searchindex.js
  pr-preview/pr-2678/searchindex.json
  pr-preview/pr-2678/walrus-sites/tutorial-publish.html
Due: none

feat: implement concatenation of blobs via aggregator
  Cargo.lock
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/utils.rs
  docs/book/operator-guide/aggregator.md
  docs/examples/shell/walrus-store-sliced.sh
  scripts/local-testbed.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add a blob concatenation endpoint to aggregator (#2676)
  Cargo.lock
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/utils.rs
  docs/book/operator-guide/aggregator.md
  docs/examples/shell/walrus-store-sliced.sh
  scripts/local-testbed.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploying to gh-pages from @ MystenLabs/walrus@606697a227e5f933d864917f11d271f8bfb6fe52 🚀
  operator-guide/aggregator.html
  print.html
  searchindex.js
  searchindex.json
Due: none

md lint fixes
  docs/book/walrus-sites/tutorial-publish.md
Due: none

Deploy preview for PR 2678 🛫
  pr-preview/pr-2678/operator-guide/aggregator.html
  pr-preview/pr-2678/print.html
  pr-preview/pr-2678/searchindex.js
  pr-preview/pr-2678/searchindex.json
  pr-preview/pr-2678/walrus-sites/tutorial-publish.html
Due: none

docs(walrus-sites): update docs for quilts (#2678)
  docs/book/SUMMARY.md
  docs/book/walrus-sites/commands.md
  docs/book/walrus-sites/tutorial-install.md
  docs/book/walrus-sites/tutorial-publish.md
  docs/book/walrus-sites/tutorial-suins.md
Due: none

chore: remove legacy recovery symbol endpoint (#2715)
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/openapi.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
  crates/walrus-storage-node-client/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style: fix cargo fmt formatting for test code
  crates/walrus-service/src/node/storage.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add ManagedBlobCertified event processing and blob sync
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Support deferring blob recovery by client during tail uploads
  crates/walrus-sdk/src/config/sliver_write_extra_time.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Support deferring blob recovery by client during tail uploads (#2614)
  crates/walrus-sdk/src/config/sliver_write_extra_time.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Add encoding spinner to cli output when child process in enabled
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Add encoding spinner to cli output when child process is enabled (#2704)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-service/src/client/cli/internal_run.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Unblock blob encoding to run without downloading committee and shard assignments
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): Unblock blob encoding to run without downloading committee and shard assignments (#2703)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/refresh.rs
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): Prevent repeated copying of blob bytes when uploading to relay
  Cargo.lock
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client/upload_relay_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: make sure links in private docstrings are valid
  .github/workflows/code.yml
  .pre-commit-config.yaml
  crates/typed-store/src/rocks.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): Prevent repeated copying of blob bytes when uploading to relay (#2702)
  Cargo.lock
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client/upload_relay_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: make sure links in private docstrings are valid (#2709)
  .github/workflows/code.yml
  .pre-commit-config.yaml
  crates/typed-store/src/rocks.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): avoid redundant RPC requests for staking pools
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sui): avoid redundant RPC requests for staking pools (#2711)
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement complete BlobManager storage flow with BlobObject abstraction
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/blob_manager_client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
