Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Pin publish-docs GitHub Actions to commit hashes
  .github/workflows/publish-docs.yaml
Due: none

fix: Revert accidental deleted output info. (#1795)
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: replace walrus.site with wal.app
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/workflows/update-ws-binaries.yaml
  README.md
  docs/book/assets/walrus-site-diagram.svg
  docs/book/assets/walrus-sites-portal-diagram.svg
  docs/book/index.md
  docs/book/usage/setup.md
  docs/book/usage/stake.md
  docs/book/usage/started.md
  docs/book/walrus-sites/bring-your-own-domain.md
  docs/book/walrus-sites/builder-config.md
  docs/book/walrus-sites/commands.md
  docs/book/walrus-sites/intro.md
  docs/book/walrus-sites/linking.md
  docs/book/walrus-sites/overview.md
  docs/book/walrus-sites/portal.md
  docs/book/walrus-sites/redirects.md
  docs/book/walrus-sites/restrictions.md
  docs/book/walrus-sites/routing.md
  docs/book/walrus-sites/tutorial-install.md
  docs/book/walrus-sites/tutorial-publish.md
  docs/book/walrus-sites/tutorial-suins.md
  docs/examples/CONFIG/bin/README.md
  docs/examples/CONFIG/config_dir/README.md
  docs/examples/javascript/README.md
  docs/examples/javascript/blob_upload_download_webapi.html
  docs/examples/python/README.md
Due: none

chore(walrus-sites): remove terms of service
  docs/book/SUMMARY.md
  docs/book/walrus-sites/tos.md
Due: none

ci: Create workflow to trigger builds per branch
  .github/workflows/trigger-artifacts-builds.yml
Due: none

default ser.
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove trailing whitespaces
  .github/workflows/trigger-artifacts-builds.yml
Due: none

added latest_checkpoint_sequence_number.
  crates/walrus-sdk/src/api.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Simplified the generic with_failover.
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added checkpoint_lag to cli.
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

turn on event blob recovery simtest
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: update workflow name and run-name
  .github/workflows/trigger-artifacts-builds.yml
Due: none

cleanup.
  crates/walrus-sdk/src/api.rs
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Changed to Arc<AtomicU64>.
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Make Sui test cluster mutable
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: correct documentation to use `simtest` instead of `msim`.
  crates/walrus-service/src/node/thread_pool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cli): minor fixes to store output
  crates/walrus-service/src/client/cli/cli_output.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add Mainnet aggregators and update HTTP API page
  docs/book/assets/operators.json
  docs/book/usage/web-api.md
Due: none

Updated the info
  docs/book/usage/client-cli.md
Due: none

ci: remove single quotes
  .github/workflows/trigger-artifacts-builds.yml
Due: none

fix: remove the use of rayon parallel iterator in simtests
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added more detailed method for write path.
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove import
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Added write path metrics. Added retry counter. Renamed.
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup.
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

added names for clients.
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

make the rpc error rate > 50% in simtest.
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: incorporate review suggestions and fixes
  crates/walrus-service/src/node/storage/metrics.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add some initial database metrics
  crates/walrus-core/src/by_axis.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-service/src/node/storage/metrics.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-utils/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Add wal.app to exclusion list in book.toml
  book.toml
Due: taplo-format

fix(node): add fallback for checkpoint summary
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: revert to a separate `metric_set_instance_id` to avoid errors.
  crates/walrus-utils/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: simplify committee service builder
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: move `ClientBuilder` to its own module
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add metrics middleware for the client
  Cargo.lock
  Cargo.toml
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/middleware.rs
  crates/walrus-utils/src/metrics.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
