Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

refactor: enforce a single Strata reconciliation worker
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: initialize Strata lifetimes from existing references
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: make the number of checkpoints per event blob configurable
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: check that a bootstrapped node's event blobs are certified
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-simtest/tests/simtest_blob_info_snapshot.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: log when an event blob this node attested is certified
  crates/walrus-service/src/node/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update the Open Graph image to the Walrus Docs card
  docs/site/docusaurus.config.js
  docs/site/static/img/walrus-docs-og.jpg
Due: none

docs: update the Open Graph image to the Walrus Docs card (#3844)
  docs/site/docusaurus.config.js
  docs/site/static/img/walrus-docs-og.jpg
Due: none

fix: fail the snapshot bootstrap when the event processor stops
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: compile the upgraded package at 0x0 when serializing an unsigned upgrade
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add a workflow to build the multisig transaction for an emergency contract upgrade
  .github/workflows/create-tx-for-multisig-walrus-upgrade.yml
  scripts/create_multisig_walrus_upgrade_tx.sh
Due: none

feat: add db-tool wipe-node-state to wipe a node except its blob data
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: scope Strata reconciliation locks to pools
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
  crates/walrus-service/src/node/storage/strata_lifecycle/coordination.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: let db-tool wipe-node-state keep the event processor's database
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: restart the checkpoint tailing task when it stops on its own
  crates/walrus-service/src/event/event_processor/processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: retry package fetches instead of treating an unavailable full node as a missing package
  crates/walrus-service/src/event/event_processor/package_store.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: keep db-tool wipe-node-state's aside directory inside the storage path
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update testnet-contracts to prepare for the testnet contract upgrade to version 4
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/active_set.move
  testnet-contracts/walrus/sources/staking/pending_values.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/staking/staking_pool.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/blob.move
  testnet-contracts/walrus/sources/system/bls_aggregate.move
  testnet-contracts/walrus/sources/system/events.move
  testnet-contracts/walrus/sources/system/messages.move
  testnet-contracts/walrus/sources/system/snapshot_blob.move
  testnet-contracts/walrus/sources/system/storage_pool.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/tests/staking/staking_inner_tests.move
  testnet-contracts/walrus/tests/staking/staking_pool/pool_commission_tests.move
  testnet-contracts/walrus/tests/system/snapshot_blob_tests.move
Due: move-test

chore: prepare walrus_subsidies for the testnet upgrade with walrus version 4
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test, move-format

chore: bump the development contracts to version 5
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

docs: current Move manifest for the walrus_dep example; site-builder flag fixes
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
  docs/examples/move/walrus_dep/Move.toml
Due: taplo-format

fix: compile the upgraded package at 0x0 when serializing an unsigned upgrade (#3846)
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

perf: use cached Strata lifetimes for sliver puts
  crates/walrus-service/src/node/storage/sliver_store/strata.rs
  crates/walrus-service/src/node/storage/sliver_store/strata/tests.rs
  crates/walrus-service/src/node/storage/strata_lifecycle.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
