Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: some contract stuff (#2936)
  contracts/wal/sources/wal.move
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/e2e_tests.move
  contracts/walrus/tests/staking/staking_inner_compute_tests.move
  contracts/walrus/tests/staking/staking_inner_tests.move
  contracts/walrus/tests/staking/staking_pool/pool_direct_withdraw_tests.move
  contracts/walrus/tests/staking/staking_pool/pool_early_withdraw_tests.move
  contracts/walrus/tests/staking/staking_pool/staking_pool_tests.move
  contracts/walrus/tests/system/blob_tests.move
  contracts/walrus/tests/system/event_blob_tests.move
  contracts/walrus/tests/system/ringbuffer_tests.move
  contracts/walrus/tests/upgrade_tests.move
Due: move-test, move-format

fix: adapt to Sui testnet-v1.65.1 breaking API changes
  Cargo.lock
  Cargo.toml
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

style: fix rustfmt formatting for Rust 2024 edition imports
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: update simtest mysten-sim rev and SUI_VERSION for testnet-v1.65.1
  scripts/simtest/cargo-simtest
Due: none

style: fix rustfmt formatting to match CI config
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

remove dead code and comments
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ensure we do not send too many coins
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: address comment
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Use ref counted notify instead of weak<notify> (#2950)
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/ref_counted_notify_map.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update package.json
  docs/site/package.json
Due: none

loercase header
  docs/site/ws-resources.json
Due: none

chore: implement get_balance via grpc (#2935)
  .github/workflows/code.yml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/client/refill.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/balance.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/coin.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update ws-resources.json
  docs/site/ws-resources.json
Due: none

docs: Fix build order for proper MD generation (#2953)
  docs/site/package.json
  docs/site/ws-resources.json
Due: none

docs: case sensitive headers (#2955)
  docs/site/ws-resources.json
Due: none

docs: Update ws-resources.json (#2957)
  docs/site/ws-resources.json
Due: none

fix: add support for site-builder requirements
  crates/walrus-sui/src/client/dual_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Add missing security disclosure for commit f3d9c388
  SECURITY_DISCLOSURE_2025.md
Due: none

feat: Increase iteration counts for upload latency test
  crates/walrus-performance-tests/tests/k6_tests/publisher.rs
  crates/walrus-sdk/src/client.rs
  scripts/k6/src/tests/publisher/publisher_v1_put_blob_latency.ts
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

walrus sites getting started IA revision
  docs/content/sites/getting-started/configuration-file-reference.mdx
  docs/content/sites/getting-started/installing-the-site-builder.mdx
  docs/content/sites/getting-started/publishing-your-first-site.mdx
  docs/content/sites/getting-started/using-the-site-builder.mdx
  docs/site/sidebars.js
Due: none

forgot newline
  docs/content/sites/getting-started/publishing-your-first-site.mdx
Due: none

implement basic slashing
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/staking/slashing_tests.move
Due: move-test, move-format

add test to test slashed rewards burning
  contracts/walrus/tests/staking/slashing_tests.move
Due: move-test, move-format

update v1 and v2 accessors
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_tests.move
  contracts/walrus/tests/system/event_blob_tests.move
  contracts/walrus/tests/system/storage_resource_tests.move
Due: move-test, move-format

add basic CLAUDE.md
  CLAUDE.md
Due: none

SystemStateInner versioning on Rust side
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add basic CLAUDE.md (#2964)
  CLAUDE.md
Due: none

make all the functions that takes SystemStateInnerV1 a v2 version that takes SystemStateInnerV2
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/system_state_inner_tests.move
Due: move-test, move-format
