Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.0"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: 1.29.5
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.16.4
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.2.2"
        files: "^contracts/.*\\.move"

feat: Add mainnet only config to reduce blob recovery rate (#3146)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix llms
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

docs: More fixes for AF docs spec (#3149)
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@dbb28010e928b0d32ba13fa344c4bc6c406ea21b 🚀
  llms.txt
Due: none

more af docs
  docs/content/sites/linking/linking-to.mdx
  docs/site/docusaurus.config.js
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none

Update generate-llmstxt.mjs
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none

docs: More AF Docs Spec fixes (#3150)
  docs/content/sites/linking/linking-to.mdx
  docs/site/docusaurus.config.js
  docs/site/src/scripts/generate-llmstxt.mjs
Due: none

more af docs
  docs/content/sites/linking/linking.mdx
Due: none

Create linking.mdx
  docs/content/sites/linking/linking.mdx
Due: none

Update linking.mdx
  docs/content/sites/linking/linking.mdx
Due: none

docs: fix file (#3152)
  docs/content/sites/linking/linking.mdx
Due: none

make storage pool event processing idempotent; panic if pool table does not exist, but received pooled event
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Support transaction db in typed store
  crates/typed-store/src/column_family_handle.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-service/src/node/storage.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

increase RocksDB background threads
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: change log level from warn to debug for error tracing (#3095)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

update example config
  crates/walrus-service/node_config_example.yaml
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

fix: disable data deletion on Mainnet by default
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): disable immediate data deletion after `BlobDeleted` events by default
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus Version bump v1.44.3
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: increase RocksDB background threads (#3155)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): disable immediate data deletion after `BlobDeleted` events by default (#3160)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: increase RocksDB background threads (#3156)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

split gc blob_info and blob data
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

epoch change wait for blob object GC
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: change log level from warn to debug for error tracing (#3095) (#3157)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): disable immediate data deletion after `BlobDeleted` events by default (#3161)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/garbage_collector.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): split GC into phases and make blob info cleanup blocking
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
