Repository MystenLabs/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.2.2'

Deploy preview for PR 3081 🛫
  pr-preview/pr-3081/llms.txt
Due: none

docs: Optimize llms.txt generation (#3081)
  docs/site/src/scripts/generate-llmstxt.mjs
  docs/site/static/llms.txt
Due: none

Deploying to gh-pages from @ MystenLabs/walrus@e2f54526b311d3b7b1b06b6b9ad69cc4ffcfc6ea 🚀
  llms.txt
Due: none

test: add simtest for interrupted GC with node restart
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/tests/simtest_core.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: emit price updated events (#3078)
  contracts/walrus/sources/staking.move
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

misc styling
  docs/site/src/components/Search/ControlledSearchBox.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/TabbedResults.tsx
  docs/site/src/css/cards.module.css
  docs/site/src/css/custom.css
  docs/site/static/llms.txt
Due: none

misc styling
  docs/site/src/components/Search/ControlledSearchBox.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/TabbedResults.tsx
  docs/site/src/css/cards.module.css
  docs/site/src/css/custom.css
Due: none

misc styling
  docs/site/src/css/cards.module.css
Due: none

misc styling
  docs/site/src/css/cards.module.css
  docs/site/src/css/custom.css
Due: none

feat: Move contract to source/contracts
  contracts/blob_bucket/Move.lock
  contracts/blob_bucket/Move.toml
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket/blob_bucket_inner_v1.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
  contracts/walrus/sources/blob_manager.move
  contracts/walrus/sources/blob_manager/blob_manager_inner_v1.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_pool.move
Due: taplo-format, move-test, move-format

fix darkmode
  docs/site/src/css/custom.css
  docs/site/static/portals.json
Due: none

fix darkmode
  docs/site/src/css/custom.css
Due: none

fix cards
  docs/content/examples/index.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/site/docusaurus.config.js
  docs/site/sidebars.js
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCard/styles.module.css
  docs/site/src/theme/DocCardList/index.js
  docs/site/src/theme/DocItem/Layout/index.tsx
  docs/site/src/theme/DocItem/index.js
  docs/site/static/portals.json
Due: none

fix cards
  docs/content/examples/index.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCardList/index.js
  docs/site/src/theme/DocItem/Layout/index.tsx
  docs/site/src/theme/DocItem/index.js
Due: none

fix cards
  docs/site/static/portals.json
Due: none

fix cards
  docs/site/src/theme/DocCard/styles.module.css
  docs/site/src/theme/DocItem/Layout/index.tsx
Due: none

fix cards
  docs/site/src/theme/DocItem/Layout/index.tsx
Due: none

fix cards
  docs/site/src/theme/DocCard/index.tsx
Due: none

fix cards
  docs/site/src/theme/DocCard/index.tsx
  docs/site/static/llms.txt
  docs/site/static/portals.json
Due: none

Update portals.json
  docs/site/static/portals.json
Due: none

Update docusaurus.config.js
  docs/site/docusaurus.config.js
Due: none

docs: Misc brand styling (#3082)
  docs/content/examples/index.mdx
  docs/content/operator-guide/operator-guide.mdx
  docs/content/operator-guide/storage-node.mdx
  docs/site/sidebars.js
  docs/site/src/components/Search/ControlledSearchBox.tsx
  docs/site/src/components/Search/SearchModal.tsx
  docs/site/src/components/Search/TabbedResults.tsx
  docs/site/src/css/cards.module.css
  docs/site/src/css/custom.css
  docs/site/src/theme/DocCard/index.tsx
  docs/site/src/theme/DocCard/styles.module.css
  docs/site/src/theme/DocCardList/index.js
  docs/site/src/theme/DocItem/Layout/index.tsx
  docs/site/src/theme/DocItem/index.js
  docs/site/static/llms.txt
Due: none

feat: storage pool prototype (full implementation)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/constants.rs
  crates/walrus-simtest/tests/simtest_storage_pool.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

document column_size being greater than 0
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: address comments
  contracts/blob_bucket/sources/blob_bucket.move
  contracts/blob_bucket/sources/blob_bucket/blob_bucket_inner_v1.move
  contracts/blob_bucket/tests/blob_bucket_tests.move
Due: move-test, move-format

fix: harden quilt blob decoding against malformed untrusted data (#3053)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test(quilt): add decode_quilt_index and get_blobs_by_identifiers error-path tests
  crates/walrus-core/src/encoding/quilt_encoding.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: include blob attribute headers on range (206) responses
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update aggregator cache info
  docs/site/static/operators.json
Due: none

Use a glob expression to match markdown files under /markdown/
  docs/site/ws-resources.manual.json
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
